<template>
    <div id="evaluation-edit">
        <Steps
            :evaluation="evaluation"
            :step-view="stepView"
        />

        <router-view />
    </div>
</template>

<script>
import Steps from '../Components/Steps'
import { isUser } from '../../../../utils/permissions'

export default {
    name: 'SingleEvaluationEdit',
    components: {
        Steps
    },
    data () {
        return {
            isUser,
        }
    },
    computed: {
        stepView () {
            return this.$store.state.evaluations.stepView
        },
        user () {
            return this.$store.state.user
        },
        evaluation () {
            return this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
        }
    },
    watch: {
        stepView () {
            console.log('watch stepView', this.stepView)
            this.$router.push(`/evaluations/${this.$route.params.id}/${this.stepView}`)
        }
    },
    mounted () {
        if (this.isUser()) {
            this.$router.push(`/evaluations`)
        }
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setEvaluations') {
                const evaluation = this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
                if (evaluation) {
                    this.$store.commit('setStepView', evaluation.current_step > 5 ? 5 :evaluation.current_step)
                }
            }
        })

        try {
            const evaluation = this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
            if (evaluation) {
                this.$store.commit('setStepView', evaluation.current_step > 5 ? 5 :evaluation.current_step)
            }

        } catch (e) {
            console.log('no evaluation', e)
        }
    },
    methods: {

    }
}
</script>
