<template>
    <div>
        <MeasureLevelCircle radius="80" :progress="progress" stroke="7" :color="color" :level="level" />
        <!-- Affiche le cercle de niveau + la description du niveau -->
        <p class="mt-2 mesure-description" v-html="description"></p>
    </div>
</template>

<script>
import MeasureLevelCircle from '../MeasureLevelCircle'
export default {
    name: 'MeasureLevel',
    components: {
        MeasureLevelCircle
    },
    props: ['measure', 'level', 'color'],
    computed : {
        description () {
            return this.measure.levels[this.level].description
        },
        progress () {
            switch (this.level){
            case 0:
                return 15
            case 1:
                return 33
            case 2:
                return 66
            case 3:
                return 100
            default:
                return null;
            }
        },
    }
}
</script>