<template>
    <div class="mb-2">
        <p
            :id="`measure-level-chooser-${index}`"
            :class="{ 'text-danger': submitted && $v.levelSelected.$invalid }"
        >
            <strong>Question {{ index +1 }}/{{measures.length}} : {{ measure.name }}</strong>
            <i class="text-muted small">(Obligatoire)</i>
        </p>

        <div class="row" role="radiogroup">
            <div class="col-xl-3 col-md-6">
                <MeasureLevelSelector
                    :measure="measure" :level="0"
                    :level-selected="levelSelected" :is-editable="isEditable"
                    color="#454545"
                    @setLevel="setLevel($event)"/>
            </div>
            <div class="col-xl-3 col-md-6">
                <MeasureLevelSelector
                    :measure="measure" :level="1"
                    :level-selected="levelSelected" :is-editable="isEditable"
                    color="#D63F49"
                    @setLevel="setLevel($event)"/>
            </div>
            <div class="col-xl-3 col-md-6">
                <MeasureLevelSelector
                    :measure="measure" :level="2"
                    :level-selected="levelSelected" :is-editable="isEditable"
                    color="#427D9F"
                    @setLevel="setLevel($event)"/>
            </div>
            <div class="col-xl-3 col-md-6">
                <MeasureLevelSelector
                    :measure="measure" :level="3"
                    :level-selected="levelSelected" :is-editable="isEditable"
                    color="#468355"
                    @setLevel="setLevel($event)"/>
            </div>
        </div>
    </div>
</template>

<script>
import { requiredIf } from 'vuelidate/lib/validators'
import MeasureLevelSelector from './MeasureLevelSelector'

export default {
    name: 'MeasureLevelChooser',
    components: {
        MeasureLevelSelector
    },
    props: ['evaluation', 'measure', 'measures', 'submitted', 'isEditable', 'index'],
    data () {
        return {
            levelSelected : null,
        }
    },
    validations: {
        levelSelected: { required: requiredIf((level)=> { return level !== null }) }
    },
    computed : {
        measureLevel () {
            return this.evaluation && this.evaluation.measure_levels.find(level => level.measure_id === this.measure.id)
        },
    },
    watch : {
        levelSelected () {
            if (!this.evaluation) {
                return null;
            }
            const evaluation = { ...this.evaluation }
            evaluation.measure_levels = this.evaluation.measure_levels.map(m => m.measure_id === this.measure.id ? ({...m, actual_level : this.levelSelected}) : m)
            this.$store.commit('updateEvaluation', evaluation)
        },
        evaluation () {
            this.levelSelected = this.measureLevel && this.measureLevel.actual_level
        },
    },
    mounted() {
        this.levelSelected = this.measureLevel && this.measureLevel.actual_level
    },
    methods: {
        setLevel (num) {
            if (this.isEditable) {
                this.levelSelected = num
                this.goto(`measure-level-chooser-${this.index+1}`)
            }
        },
        checkValidation () {
            this.$v.$touch()
            return !this.$v.$invalid;
        },
        goto(refName) {
            const el = document.getElementById(refName);
            if (el){
                el.scrollIntoView()
            }
        }
    }
}
</script>
