<template>
    <div v-if="measureLevel">
        <!-- <input type="radio" @change.prevent="$emit('setLevel', level)"/> -->
        <div class="card" :style="cssProps" role="radio" @click.prevent="$emit('setLevel', level)" @keyup.enter="$emit('setLevel', level)">
            <div class="card-header h5 font-weight-bold text-center">
                {{ measureLevel.actual_label }}
            </div>
            <div class="card-body">
                <!-- Affiche un bouton radio et le détail du niveau -->
                <MeasureLevel :measure="measure" :level="level" :color="color"/>
            </div>
        </div>
    </div>
</template>

<script>
import MeasureLevel from './MeasureLevel'
export default {
    name: 'MeasureLevelSelector',
    components: {
        MeasureLevel
    },
    props: ['measure', 'level', 'levelSelected', 'isEditable'],
    computed : {
        measureLevel () {
            return this.measure.levels[this.level]
        },
        color () {
            switch (this.level) {
            case 0:
                return '#454545' // black
            case 1:
                return '#D63F49' // red
            case 2:
                return '#FFC107' // yellow
            case 3:
                return '#468355' // green
            default:
                return 'transparent'
            }
        },
        cssProps () {
            return {
                'cursor': this.isEditable ? 'pointer' : '',
                '--border-hover-color': this.isEditable || this.levelSelected === this.level ? this.color : "rgba(0, 0, 0, 0.125)",
                '--border-selected-color': this.levelSelected === this.level ? this.color : "rgba(0, 0, 0, 0.125)",
                '--text-selected-color': this.levelSelected === this.level ? "white" : "black",
                '--background-selected-color': this.levelSelected === this.level ? this.color : "transparent",
            }
        },
    }
}
</script>
<style scoped>
div.card:hover, div.card:focus {
  border-color: var(--border-hover-color);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
div.card {
  border-color: var(--border-selected-color);
  border-radius: 0;
}
div.card-header {
  color: var(--text-selected-color);
  background-color : var(--background-selected-color);
  border: none;
  border-radius: 0;
}

.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
</style>
