<template>
    <div class="col-md-12">
        <div class="card card-info">
            <div class="card-header py-1">
                <div class="card-title">
                    Niveau d'exposition aux risques cyber actuel et futur
                </div>
            </div>
            <div class="card-body graph">
                <div v-if="loaded && chartData" id="futureExpograph" class="row">
                    <!--                    Show one graph for each danger-->
                    <div v-for="(label, index) in chartData.labels" :key="label" class="col">
                        <CyberRiskGraphElement :index="index" :chart-data="chartData"/>
                    </div>
                </div>
                <div v-else class=" text-center">
                    <i class="fas fa-spin fa-spinner"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CyberRiskGraphElement from "./CyberRiskGraphElement";

export default {
    name: 'CyberRiskyGraph',
    components: {
        CyberRiskGraphElement,
    },
    props: ['evaluation'],
    data() {
        return {
            loaded: this.$store.state.graphs[this.evaluation.id] && this.$store.state.graphs[this.evaluation.id].risks && this.$store.state.graphs[this.evaluation.id].futurerisks,
        }
    },
    computed: {
        chartData() {
            if (
                !this.$store.state.graphs[this.evaluation.id]
                || !this.$store.state.graphs[this.evaluation.id].risks
                || !this.$store.state.graphs[this.evaluation.id].futurerisks
            ) {
                return null;
            }
            const labels = this.$store.state.graphs[this.evaluation.id].risks.labels;
            const data = this.$store.state.graphs[this.evaluation.id].risks.data;
            const data2 = this.$store.state.graphs[this.evaluation.id].futurerisks.data;

            return {
                labels,
                datasets: [
                    {
                        data,
                        backgroundColor: 'black',
                    },
                    {
                        data: data2,
                        backgroundColor: '#4281A4',
                    },
                ]
            }
        }
    },
    async mounted () {
        this.loaded = false
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].risks === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'risks',
                id: this.evaluation.id
            })
        }
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].futurerisks === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'futurerisks',
                id: this.evaluation.id
            })
        }
        this.loaded = true
    }
}
</script>

<style scoped>
    .graph{
        /*max-height: 100px;*/
    }
</style>
