<template>
    <div v-if="singleData.labels.length" class="graph-element row">
        <div class="graph-legend col-3 mr-0 pr-0 text-muted">
            <span :title="fullLabel">{{singleData.labels[0]}}</span>
        </div>
        <div class="col-9 ml-0 pl-0">
            <Bar :height="180" :width="150" :chart-data="singleData" :chart-options="options" />
        </div>
    </div>
</template>
<script>
import {Bar} from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, RadialLinearScale, registerables} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, RadialLinearScale, ...registerables)

export default {
    name: 'CyberRiskGraphElement',
    components: {
        Bar,
    },
    props: ['index', 'chartData'],
    data() {
        return {
            options: {
                indexAxis: 'y',
                responsive: false,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip : {
                        callbacks : {
                            title : () => {
                                return ''
                            }
                        }
                    }
                },
                layout: {
                    padding: 0,
                },
                scales: {
                    x: {
                        max:100,
                        min: 0,
                        grid: {
                            display: false,
                            drawBorder: false,
                        },
                        ticks : {
                            display: false,
                        }
                    },
                    y: {

                        grid: {
                            display: false,
                            drawBorder: false,
                        },
                        ticks : {
                            display:false,
                        }
                    }
                }
            },
        }
    },
    computed: {
        fullLabel() {
            return this.chartData.labels[this.index]
        },
        singleData() {
            let label = this.chartData.labels[this.index].match(/.{1,45}(\s|$)/g)
            if (label.length > 1) {
                label = label[0].trim() + '...'
            } else {
                label = label[0].trim();
            }
            return {

                labels: [label],
                datasets: [
                    {
                        data: [this.chartData.datasets[0].data[this.index]],
                        backgroundColor: 'black',
                    },
                    {
                        data: [this.chartData.datasets[1].data[this.index]],
                        backgroundColor: '#4281A4',
                    },
                ]
            }
        }
    },
}
</script>
<style scoped>
.graph-element {
    /*transform: rotate(90);*/
}
.graph-legend {
    writing-mode:vertical-rl;
    max-height: 180px;
    margin-right: -0.5em !important;
    text-align: center;
}
</style>
