<template>
    <div v-if="measureInformations">
        <div class="card" :style="cssProps" role="radio">
            <div class="card-header h5 font-weight-bold text-center">
                {{ measure.short_name }}<br>
                <small v-if="index < 4">
                    (Préconisé)
                </small>
            </div>
            <div class="card-body">
                <!-- Affiche un bouton radio et le détail du niveau -->
                <MeasureLevelCircle
                    ref="Circle"
                    radius="80"
                    stroke="7"
                    :level="level"
                    :expected-level="measureLevel.expected_level"
                    :next-level="nextLevel"
                />
                <!-- EN ATTENTE RETOUR CLIENT -->
                <!--                <p class="text-center my-4">Efficacité <i class="fas fa-angle-double-right px-2"></i> Efficacité</p>-->

                <MeasureActionForm
                    ref="MeasureActionForm"
                    :submitted="submitted"
                    :measure="measure"
                    :measure-informations="measureInformations"
                    :measure-level="measureLevel"
                    :level="level"
                    :evaluation="evaluation"
                    :index="index"
                    :next-level="nextLevel"
                />
                <button type="button" class="btn btn-primary btn-block btn-sm mt-3" data-toggle="modal" data-target="#exampleModal" @click="showModal = !showModal">
                    Afficher le détail de la mesure
                </button>
                <MeasureLevelDetails v-show="showModal" :measure="measure" @showModal="showModal = !showModal"  />
            </div>
        </div>
    </div>
</template>

<script>
import MeasureLevelCircle from '../MeasureLevelCircle'
import MeasureActionForm from './MeasureActionForm'
import MeasureLevelDetails from './MeasureLevelDetails'
export default {
    name: 'MeasureLevelSelector',
    components: {
        MeasureLevelCircle,
        MeasureActionForm,
        MeasureLevelDetails,
    },
    props: ['evaluation', 'measure', 'level', 'submitted', 'index', 'nextLevel'],
    data () {
        return {
            showModal : false,
        }
    },
    computed : {
        measureInformations () {
            return this.measure.levels[this.level]
        },
        measureLevel () {
            return this.evaluation.measure_levels.find(m => m.measure_id === this.measure.id)
        },
        expectedColor () {
            switch (this.measureLevel.expected_level) {
            case 0:
                return '#454545' // black
            case 1:
                return '#D63F49' // red
            case 2:
                return '#FFC107' // yellow
            case 3:
                return '#468355' // green
            default:
                return 'transparent'
            }
        },
        nextColor () {
            switch (this.nextLevel) {
            case 0:
                return '#454545' // black
            case 1:
                return '#D63F49' // red
            case 2:
                return '#FFC107' // yellow
            case 3:
                return '#468355' // green
            default:
                return 'transparent'
            }
        },
        cssProps () {
            if (this.measureLevel.expected_level && this.measureLevel.expected_level > this.level) {
                const colorText = this.measureLevel.expected_level === 2 ? 'black' : 'white';
                return {
                    '--border-hover-color': this.expectedColor,
                    '--border-selected-color': this.expectedColor,
                    '--text-selected-color': colorText,
                    '--background-selected-color': this.expectedColor,
                }
            }
            if (this.nextLevel && this.nextLevel > this.level) {
                const colorText = this.nextLevel === 2 ? 'black' : 'white';
                return {
                    '--border-hover-color': this.nextColor,
                    '--border-selected-color': this.nextColor,
                    '--text-selected-color': colorText,
                    '--background-selected-color': this.nextColor,
                }
            }
            return {}
        },
    },
    methods : {
        checkValidation () {
            return this.$refs.MeasureActionForm.checkValidation()
        },
    }
}
</script>
<style scoped>
div.card:hover, div.card:focus {
  border-color: var(--border-hover-color);
}
div.card {
  border-color: var(--border-selected-color);
  border-radius: 0;
}
div.card-header {
  color: var(--text-selected-color);
  background-color : var(--background-selected-color);
  border: none;
  border-radius: 0;
}

.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
</style>
