<template>
    <div class="modal-backdrop">
        <div class="modal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="modal_edit_incident" class="modal-title">
                            <b>{{measure.short_name}}</b>
                        </h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('showModal')"> <!-- @click="$store.commit('hideModal')" -->
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body bg-light">
                        <div class="row">
                            <div v-for="level in measure.levels.filter(l => l.level !== 0)" :key="level.level" class="col-lg-4 py-2" >
                                <div class="bg-white p-2 border border-primary">
                                    <h5 class="text-center text-bold">{{ level.preconized_label }}</h5>
                                    <MeasureLevelCircle
                                        radius="80"
                                        stroke="7"
                                        :level="level.level"
                                    />
                                    <!-- <p class="my-3 text-center"> Efficacité</p> -->
                                    <div class="bg-light row m-1 py-2">
                                        <div class="col-xl-3 col-lg-6 col-md-3 text-center">
                                            <i class="fas fa-tachometer-alt text-primary"></i><br/>
                                            <span class="text-muted small">Difficulté :</span>
                                            <p class="text-bold small mt-1"> {{ getText(difficulty, level.difficulty) }} </p>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-3 text-center">
                                            <i class="fas fa-euro-sign text-primary"></i><br/>
                                            <span class="text-muted small">Coût :</span>
                                            <p class="text-bold small mt-1"> {{ level.cost }} </p>
                                        </div>
                                        <div class="col-xl-2 col-lg-6 col-md-2 text-center">
                                            <i class="fas fa-calendar-alt text-primary"></i><br/>
                                            <span class="text-muted small">Temps :</span>
                                            <p class="text-bold small mt-1"> {{ level.duration}} </p>
                                        </div>
                                        <div class="col-xl-4 col-lg-6 col-md-4 text-center">
                                            <i class="fas fa-hands-helping text-primary"></i><br/>
                                            <span class="text-muted small">Accompagnement :</span>
                                            <p class="text-bold small mt-1"> {{ getText(assistance, level.assistance) }}  </p>
                                        </div>
                                    </div>

                                    <p class="p-1" v-html="level.description"></p>

                                    <a v-if="level.file" class="btn btn-primary btn-block text-white" :href="level.file" target="_blank">
                                        Télécharger la fiche détaillée
                                    </a>
                                    <button v-else class="btn btn-primary btn-block disabled">Télécharger la fiche détaillée</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="$emit('showModal')">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MeasureLevelCircle from "../MeasureLevelCircle";

export default {
    name: 'MeasureLevelDetails',
    components: {
        MeasureLevelCircle,
    },
    props : ['measure'],
    computed : {
        difficulty () {
            return this.$store.state.measures.difficulty
        },
        assistance () {
            return this.$store.state.measures.assistance
        },
    },
    methods : {
        getText(array, value) {
            return Object.keys(array).find(key => array[key] === value)
        },
    }
}
</script>

<style scoped>
.modal-backdrop {
    background-color: rgba(0,0,0,0.5)!important;
}
span.small {
    font-size: 0.6em;
}
.bg-white > a.btn-primary {
    color: white!important;
}
</style>
