<template>
    <div>
        <label class="mt-2" :for="`expected_level${measure.id}`"> Choisir le niveau visé</label>
        <select :id="`expected_level${measure.id}`" v-model="expected_level" class="form-select form-control-sm" :disabled="!isEditable || level == 3"> <!-- v-model="measure.expected_level" -->
            <option v-if="level === 0" :value="0"></option>
            <option v-for="expectlevel in expectedLevelAvailable" :key="expectlevel" :value="expectlevel">{{ expectlevel }}</option>
        </select>

        <div v-if="expected_level > level">
            <label :for="`end_date${measure.id}`" class="mt-2" :class="{ 'text-danger': submitted && $v.end_date.$error }"> Choisir la date de fin <i class="text-muted small">(Obligatoire)</i></label>
            <date-range-picker
                :id="`end_date${measure.id}`"
                ref="picker"
                v-model="end_date"
                :date-format="dateFormat"
                :disabled="!isEditable"
                :class="{ disabled : !isEditable }"
                :style="isEditable ? '' : 'background-color: #e9ecef'"
                locale="fr"
                :locale-data="localeData"
                :single-date-picker="true"
                :time-picker="false"
                :time-picker24-hour="false"
                :show-week-numbers="false"
                :show-dropdowns="true"
                :auto-apply="true"
                :append-to-body="true"
                :ranges="false"
            />

            <label :for="`manager${measure.id}`" class="mt-2" :class="{ 'text-danger': submitted && $v.manager.$error }"> Choisir la personne en charge <i class="text-muted small">(Obligatoire)</i></label>
            <input
                :id="`manager${measure.id}`"
                :value="manager"
                type="text"
                class="form-control form-control-sm"
                :disabled="!isEditable"
                @change="event => manager = event.target.value"
            />

        </div>
    </div>
</template>

<script>
import moment from 'moment'

import DateRangePicker from 'vue2-daterange-picker'
import {requiredIf} from 'vuelidate/lib/validators'

export default {
    name: 'MeasureActionForm',
    components: {
        DateRangePicker,
    },
    props: ['evaluation', 'measure', 'measureInformations', 'measureLevel', 'level', 'submitted', 'index', 'nextLevel'],
    data () {
        return {
            localeData: {
                direction: 'ltr',
                format: 'dd/mm/yyyy',
                separator: ' - ',
                applyLabel: 'Appliquer',
                cancelLabel: 'Annuler',
                weekLabel: 'W',
                customRangeLabel: 'Dates peronnalisée',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                monthNames: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                firstDay: 1
            },
            newLevel: this.measureLevel.expected_level,
            defaultLevel : this.level+1,
        }
    },
    computed : {
        isEditable () {
            return this.evaluation && parseInt(this.evaluation.current_step) === parseInt(this.$store.state.evaluations.stepView)
        },
        expectedLevelAvailable () {
            return [1 , 2 , 3].filter(lv => lv >= this.level)
        },
        expected_level: {
            get() {
                return this.measureLevel.expected_level || this.nextLevel
            },
            set(newValue) {

                console.log('setting new value', newValue)
                const evaluation = { ...this.evaluation }

                evaluation.measure_levels = this.evaluation.measure_levels.map(m => m.measure_id === this.measure.id ? ({...m, expected_level : parseInt(newValue, 10) }) : m)

                console.log(' evaluation.measure_levels', evaluation.measure_levels)
                this.$store.dispatch('saveDraftEvaluation', {...evaluation, toast: false}).then(() => {
                    this.$store.dispatch('getGraphForEvaluation', {name: 'risks', id:evaluation.id})
                    this.$store.dispatch('getGraphForEvaluation', {name: 'futurerisks', id:evaluation.id})
                    this.$store.commit('updateEvaluation', evaluation)
                })
            }
        },
        end_date: {
            get() {
                return {
                    startDate: this.measureLevel.end_date,
                    endDate: this.measureLevel.end_date
                }
            },
            set(newValue) {
                const evaluation = { ...this.evaluation }
                if (!this.expected_level && this.nextLevel) {
                    this.expected_level = this.nextLevel;
                }
                evaluation.measure_levels = this.evaluation.measure_levels.map(m => m.measure_id === this.measure.id ? ({...m, end_date : moment(newValue.startDate).format('YYYY-MM-DD'), expected_level : parseInt(this.expected_level, 10) }) : m)
                this.$store.commit('updateEvaluation', evaluation)
                this.$store.dispatch('saveDraftEvaluation', {...evaluation, toast: false}).then(() => {
                    this.$store.dispatch('getGraphForEvaluation', {name: 'risks', id:evaluation.id})
                    this.$store.dispatch('getGraphForEvaluation', {name: 'futurerisks', id:evaluation.id})
                    this.$store.commit('updateEvaluation', evaluation)
                })
            }
        },
        manager: {
            get() {
                return this.measureLevel.manager
            },
            set(newValue) {
                const evaluation = { ...this.evaluation }
                if (!this.expected_level && this.nextLevel) {
                    this.expected_level = this.nextLevel;
                }
                evaluation.measure_levels = this.evaluation.measure_levels.map(m => m.measure_id === this.measure.id ? ({...m, manager : newValue, expected_level : parseInt(this.expected_level, 10) }) : m)
                this.$store.commit('updateEvaluation', evaluation)
                this.$store.dispatch('saveDraftEvaluation', {...evaluation, toast: false}).then(() => {
                    this.$store.dispatch('getGraphForEvaluation', {name: 'risks', id:evaluation.id})
                    this.$store.dispatch('getGraphForEvaluation', {name: 'futurerisks', id:evaluation.id})
                    this.$store.commit('updateEvaluation', evaluation)
                })
            }
        },
    },
    validations: {
        end_date: {
            startDate : {
                required: requiredIf(function () {
                    return this.expected_level > this.level
                })
            },
        },
        manager: {
            required: requiredIf(function () {
                return this.expected_level > this.level
            })
        },
    },
    methods : {
        checkValidation () {
            this.$v.$touch()
            if (this.$v.$invalid) {
                return false
            } else {
                return true
            }
        },
        dateFormat (classes, date) {
            if (!classes.disabled) {
                const d = new Date()
                classes.disabled = date.getTime() < d.setDate(d.getDate()-1)
            }
            return classes
        }
    },
}
</script>
<style scoped>
.disabled .form-control.reportrange-text {
    background-color: #e9ecef !important;
}
</style>
