<template>
    <div class="col-md-12">
        <div class="card card-success">
            <div class="card-header py-1">
                <div class="card-title">
                    Plan d'action
                </div>
            </div>
            <div class="card-body">
                <p v-if="measures && measures.length">Dans la liste des mesures, veuillez choisir celles à mettre en place, puis planifiez-les sur un an :</p>
                <p v-if="!isOneLevelExpected && submitted" class="text-danger"><i class="fas fa-exclamation-circle"></i> Veuillez sélectionner au moins une action.</p>
                <div v-if="measures && measures.length" class="row">
                    <div v-for="(measure, index) in measures" :id="`measure-level-for-measure-${measure.id}`" :key="measure.id" class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <MeasureLevelSelector
                            v-if="measureLevelSelected(measure)"
                            :ref="`Measure${measure.id}`"
                            :evaluation="evaluation"
                            :measure="measure"
                            :index="index"
                            :submitted="submitted"
                            :next-level="measureLevelSelected(measure).expected_level === 0 ||index >= 4 ? false : measureLevelSelected(measure).expected_level"
                            :level="measureLevelSelected(measure).actual_level"
                        />
                    </div>
                </div>
                <div v-else-if="!loading" class="row my-5">
                    <div class="col-2"></div>
                    <div class="col-8 mt-5">
                        <p class="text-center text-lg">
                            Vous êtes au niveau 3 sur toutes les mesures, félicitations.
                        </p>
                        <p class="text-center" style="font-size: 4em">
                            🥳
                        </p>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div v-else-if="loading" class="row my-5">
                    <div class="col-2"></div>
                    <div class="col-8 mt-5">
                        <p class="text-center text-lg">
                            Chargement en cours...
                        </p>
                        <p class="text-center" style="font-size: 4em">
                            <i class="fas fa-spin fa-spinner"></i>
                        </p>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MeasureLevelSelector from './MeasureLevelSelector'
export default {
    name: 'PlanAction',
    components: {
        MeasureLevelSelector
    },
    props: ['evaluation', 'submitted'],
    computed : {
        measures () {
            if (!this.bestMeasures || !this.$store.state.measures.all) {
                this.$store.dispatch('getBestMeasures', {id: this.evaluation.id})
                return []
            }
            return this.$store.state.measures.all
                .filter(m => this.measureLevelSelected(m).actual_level < 3)
                .sort((a, b) => {
                    return this.bestMeasures.indexOf(a.id) > this.bestMeasures.indexOf(b.id) ? 1 : -1;
                })
        },
        isOneLevelExpected () {
            // Il faut au moins un expected_level dans le plan d'action
            const isOneMeasureAvailable = this.evaluation.measure_levels.find(ml => ml.actual_level !== 3)
            return isOneMeasureAvailable ? this.evaluation.measure_levels.find(ml => ml.expected_level > ml.actual_level) : true
        },
        loading () {
            return !this.$store.state.graphs[this.evaluation.id]
                || !this.$store.state.graphs[this.evaluation.id].bestMeasures;
        },
        bestMeasures () {
            if (
                !this.$store.state.graphs[this.evaluation.id]
                || !this.$store.state.graphs[this.evaluation.id].bestMeasures
            ) {
                return null;
            }

            return this.$store.state.graphs[this.evaluation.id].bestMeasures
        }
    },
    mounted() {
        console.log('plan action mounted')
        this.$store.dispatch('getBestMeasures', {id: this.evaluation.id})
    },
    methods : {
        measureLevelSelected (measure) {
            return this.evaluation && this.evaluation.measure_levels.find(m => m.measure_id === measure.id)
        },
        checkValidation () {
            const validation = []
            Object.keys(this.$refs).forEach(block => {
                validation.push(this.$refs[block][0].checkValidation())
            })

            if (validation.includes(false) || !this.isOneLevelExpected) {
                return false
            }
        },
    }
}
</script>
