<template>
    <div class="row" style="max-width: 1200px;margin: 0 auto">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <OrganizationsGraph />
                </div>
                <div class="col-md-12">
                    <MaturityCyberMap />
                </div>
                <div class="col-md-12">
                    <ActionTerritory />
                </div>
                <div class="col-md-12">
                    <MeasuresInAction />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <OrganizationsAlert />
                </div>
                <div class="col-md-12">
                    <Exports/>
                </div>
                <div class="col-md-12">
                    <MaturityCyberByTerritory />
                </div>
                <div class="col-md-12">
                    <MeasurePlanned />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'AdminView',
    components : {
        OrganizationsGraph: () => import('./Components/OrganizationsGraph.vue'),
        MaturityCyberMap: () => import('./Components/MaturityCyberMap.vue'),
        ActionTerritory: () => import('./Components/ActionTerritory.vue'),
        MeasuresInAction: () => import('./Components/MeasuresInAction.vue'),
        OrganizationsAlert: () => import('./Components/OrganizationsAlert.vue'),
        Exports: () => import('./Components/Exports.vue'),
        MaturityCyberByTerritory: () => import('./Components/MaturityCyberByTerritory.vue'),
        MeasurePlanned: () => import('./Components/MeasurePlanned.vue'),
    },
    data () {
        return {
        }
    },
    computed: {
        user () {
            return this.$store.state.user
        },
    }
}
</script>
