<template>
    <div class="mb-5 mx-5 mt-0">
        <AdminView v-if="isAdmin()"/>
        <ManagerView v-else/>
    </div>
</template>

<script>
import { isAdmin } from '../../utils/permissions'
import AdminView from './AdminView'
import ManagerView from './ManagerView'

export default {
    name: 'Dashboard',
    components : {
        AdminView,
        ManagerView,
    },
    data () {
        return {
            isAdmin,
        }
    },
    computed: {
        user () {
            return this.$store.state.user
        }
    }
}
</script>
