<template>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <h1>
                    Page introuvable.
                </h1>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mt-5">
                <p class="text-center ">
                    Cette page n'existe malheureusement pas sur Madis Cyber.
                    Veuillez retourner à la <router-link to="/">page d'accueil</router-link> et réessayer.
                </p>
                <p class="text-center" style="font-size: 4em">
                    🤔
                </p>
            </div>
            <div class="col-2"></div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'NotFound',
    computed: {
        user () {
            return this.$store.state.user
        }
    }
}
</script>
