<template>
    <div class="card py-3 px-2">
        <div class="card-title mb-3"> Actions par territoire</div>
        <Bar v-if="chartData" :chart-data="chartData" :chart-options="options" />
    </div>
</template>

<script>
import {Bar} from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, RadialLinearScale, registerables} from 'chart.js'
import axios from "axios";

ChartJS.register(Title, Tooltip, Legend, RadialLinearScale, ...registerables)

/* COUNT AVERAGE ACTION PLANNED & ACTION DONE PER TERRITORY. */
export default {
    name: 'ActionTerritory',
    components: {
        Bar,
    },
    data () {
        return {
            chartData : {},
            options: {
                indexAxis: 'y',
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                    },
                },
                layout: {
                    padding: 0,
                },
                scales: {
                    x: {
                        grid: {
                            drawBorder: false,
                        },
                        ticks : {
                            // display: false,
                        }
                    },
                    y: {
                        grid: {
                            drawBorder: false,
                        },
                        ticks : {
                            // display:false,
                        }
                    }
                }
            },
        }
    },
    mounted () {
        this.getActivesOrganizations()
    },
    methods: {
        async getActivesOrganizations () {
            await axios.get(`/api/graphs/actionterritory`)
                .then( res => { // data : [ [0,0,0], [0,0,0] ] , labels : []

                    const datasets = res.data.data.map( (d, i) => ({ data : d, backgroundColor : i === 1 ? '#00c6c3' : '#ff327b', label : i === 1 ? "Nombre moyen d'actions prévues" : "Nombre moyen d'actions réalisées" }))

                    this.chartData = {
                        labels : res.data.labels,
                        datasets
                    }
                })
        },
    }
}
</script>
