<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">Exporter les évaluations</div>
                <a href="/export/evaluations.xlsx">
                    <div class="card-footer bg-primary p-1 text-center">
                        Exporter <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body ">Exporter les structures</div>

                <a href="/export/structures.xlsx">
                    <div class="card-footer bg-primary p-1 text-center">
                        Exporter <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </a>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Export',
    props: [],
    data() {
        return {}
    },
    computed: {}
}
</script>
