<template>
    <div class="card">
        <div class="card flex-row bg-primary mb-0">
            <div class="card-body col-10">
                <div class="card-text">
                    <div class="font-weight-bold h4 m-0">{{ getAverageMaturityCyber() }}</div>
                    Indice de maturité cyber moyen des structures
                </div>
            </div>
            <div class="col-2">
                <i class="fas fa-chart-line" style="font-size: 50px;"></i>
            </div>
        </div>
        <div class="card-body">
            <PolarArea  :chart-data="chartData" :chart-options="options" />
            <div class="row">
                <div v-for="t in territories" :key="t.id" :class="`col-md-4 col-sm-12 mt-4 ${territories.length > 1 ? 'border-right' : ''}`">
                    <b>{{ t.name }}</b> <br/>
                    <small>Indice de maturité cyber</small> <br/>
                    <span v-if="t.organizations.length"> {{ Math.round(t.current_maturity_cyber * 10)/10 }}</span> <span v-else>-</span>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-success" role="progressbar" :style="{ 'width' : `${t.current_maturity_cyber / 3 * 100}%`}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <!-- SHOW % -->
                    <div v-if="isFinite(getEvolutionMaturityCyber(t.current_maturity_cyber, t.previous_maturity_cyber))">
                        <div v-if="getEvolutionMaturityCyber(t.current_maturity_cyber, t.previous_maturity_cyber) === 0" class="mt-1 text-info">
                            <i class="fas fa-equals"></i> <small> {{ getEvolutionMaturityCyber(t.current_maturity_cyber, t.previous_maturity_cyber) }} %</small>
                        </div>
                        <div v-else-if="getEvolutionMaturityCyber(t.current_maturity_cyber, t.previous_maturity_cyber) > 0" class="mt-1 text-success">
                            <i class="fas fa-arrow-up"></i> <small>+ {{ getEvolutionMaturityCyber(t.current_maturity_cyber, t.previous_maturity_cyber) }} %</small>
                        </div>
                        <div v-else class="mt-1 text-danger">
                            <i class="fas fa-arrow-down"></i> <small> {{ getEvolutionMaturityCyber(t.current_maturity_cyber, t.previous_maturity_cyber) }} %</small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/* Pour tous les territoires
Récupérer les structures actives
Pour chaque structures > récupérer la dernière evaluation et l'avant dernière
Pour chaque evaluation > récupérer l'indice de maturité de la derniere et avant derniere eval.

 */
import { PolarArea } from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, RadialLinearScale, registerables} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, RadialLinearScale, ...registerables)

export default {
    name: 'MaturityCyberCard',
    components: {
        PolarArea,
    },
    props : [],
    data () {
        return {
            options: {
                plugins: {
                    legend: {
                        // display: false
                        position: 'bottom',
                    },
                },
                responsive: true,
                scales: {
                    r: {
                        min: 0,
                        max: 3,
                        ticks: {
                            color: '#000',
                            backdropColor: 'rgba(255,255,255, 0.5)',
                            z: 10,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                        },
                        pointLabels: {
                            display: true,
                            centerPointLabels: true,
                            font: {
                                size: 12
                            }
                        }
                    }
                }
            },
        }
    },
    computed: {
        evaluations () {
            return this.$store.state.evaluations.all
        },
        chartData() {
            const labels = this.territories.map(t => t.name)
            const data = this.territories.map(t => t.current_maturity_cyber);
            const colors = labels.map((c, i) => {
                return 'hsla('+ 360*i/labels.length +', 100%, 60%, 0.8)'
            })
            return {
                labels,
                datasets: [
                    {
                        data,
                        backgroundColor: colors
                    }
                ]
            }
        },
        territories () {
            // GET EVALUATIONS PER ORGA IN TERRITORY TO REACH MATURITY CYBER INDICE
            const territories = this.$store.state.territories.all.map( territory => (
                {...territory,
                    organizations : territory.organizations
                        .map( org => ({...org,
                            evaluations : this.evaluations.filter( e => e.organization_id === org.id)
                                .filter( e => e.status === 2)
                                .sort( (a,b) => new Date(b.updated_at) - new Date(a.updated_at))
                        }))
                        .filter(org => org.active)
                }
            ))
            // SET MATURITY CYBER INDICE TO ORG
            return territories.map( territory => (
                {...territory,
                    organizations : territory.organizations.map( org => ({...org,
                        current_maturity_cyber : org.evaluations[0] && org.evaluations[0].maturity_cyber,
                        previous_maturity_cyber : org.evaluations[1] && org.evaluations[1].maturity_cyber,
                    })
                    )
                }
            // SET ARRAY OF MC INDICE IN TERRITORY THEN CALC AVERAGE MATURITY CYBER
            )).map( territory => ({...territory,
                current_maturity_cyber : territory.organizations.map(org => org.current_maturity_cyber).filter(mc => mc).reduce((partialSum, a) => partialSum + a, 0) / territory.organizations.length,
                previous_maturity_cyber : territory.organizations.map(org => org.previous_maturity_cyber).filter(mc => mc).reduce((partialSum, a) => partialSum + a, 0) / territory.organizations.length,
            }
            ))
        },

    },
    watch : {
    },
    mounted () {
    },
    methods : {
        getEvolutionMaturityCyber (newMC, oldMC) {
            const pourcent = (newMC - oldMC) / oldMC * 100
            return Math.sign(pourcent) * Math.round(Math.abs(pourcent)) || 0
        },
        getAverageMaturityCyber () {
            const data = []
            this.territories.forEach( t => t.organizations.forEach(org => {
                if (org.active) {
                    data.push(org.current_maturity_cyber || 0)
                }
            }))
            console.log('data', data)
            return (data.reduce((partialSum, a) => partialSum + a, 0) / data.length).toFixed(2)
        }
    },
}
</script>
<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
