<template>
    <div class="card py-3 px-2">
        <div class="card-title mb-3">Cartographie de la maturité cyber</div>

        <select v-model="measureFilter" class="form-control form-control-sm mb-3">
            <option value="">Toutes les mesures de sécurité fondamentales</option>
            <option v-for="m in fundamentalMeasures" :key="m.id" :value="m.id">{{m.short_name}}</option>
        </select>

        <div class="row">
            <div class='my-2 col-md-6 text-right' :style= "[disabledFilter.includes('green') ? {'text-decoration':'line-through'} : {'text-decoration':''}]" @click="stripetext('green')">
                <div class="mr-2 d-inline-block" style="height: 15px; width: 35px; background-color: green;"></div><span class="text-muted small">En règle</span>
            </div>
            <div class='my-2 col-md-6 text-left' :style= "[disabledFilter.includes('red') ? {'text-decoration':'line-through'} : {'text-decoration':''}]" @click="stripetext('red')">
                <div class="mr-2 d-inline-block" style="height: 15px; width: 35px; background-color: red;"></div><span class="text-muted small">En alerte</span>
            </div>
        </div>

        <div id="map"></div>

    </div>
</template>

<script>
import L from 'leaflet';

import 'leaflet.markercluster';
import 'leaflet.markercluster/dist/MarkerCluster.Default.css'

export default {
    name: 'MaturityCyberMap',
    props : [],
    data () {
        return {
            seuilAlerte : parseInt(this.$seuilAlerte),

            map : null,
            markerClusterGroup : null,
            array_positions : [],
            measureFilter : "",
            disabledFilter : [],

        }
    },
    computed: {
        measures () {
            return this.$store.state.measures.all
        },
        evaluations () {
            return this.$store.state.evaluations.all
        },
        fundamentalMeasuresId () {
            return this.fundamentalMeasures.map(m => m.id)
        },
        fundamentalMeasures () {
            return this.$store.state.measures.all.filter( m => m.fundamental)
        },
        organizations () {
            const orgs = this.$store.state.organizations.all.filter(org => org.active).map( org => {
                const evaluations = this.evaluations.filter( e => e.organization_id === org.id)
                    .filter( e => e.status === 2)
                    .sort( (a,b) => new Date(b.updated_at) - new Date(a.updated_at))


                const getInsideSeuilAlerte = evaluations.length ? evaluations[0].measure_levels.filter( ml => this.fundamentalMeasuresId.includes(ml.measure_id)).filter( ml => ml.actual_level <= this.seuilAlerte) : []
                return {...org, evaluations, seuilAlert : getInsideSeuilAlerte}
            })

            return orgs .filter( org => this.disabledFilter.length ? this.disabledFilter.length > 1 ? false : this.disabledFilter.includes('red') ? !org.seuilAlert.length : this.disabledFilter.includes('green') ? org.seuilAlert.length : true : true)
                .filter( org => this.measureFilter ? org.seuilAlert.find(a => a.measure_id === this.measureFilter) : true)
        },

    },
    watch : {
        organizations () {
            this.initMarkers()
        }
    },
    mounted () {
        this.initMap()
    },
    methods : {
        stripetext(id){
            if (this.disabledFilter.includes(id)) {
                this.disabledFilter = this.disabledFilter.filter(f => f !== id)
            } else {
                this.disabledFilter.push(id)
            }
        },
        initMap () {
            this.map = L.map('map') 
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                // zoom: 5,
                // center: [46.9, 1.9],
                maxZoom: 19,
            }).addTo(this.map);
            this.map.setView([46.9, 1.9], 5); // FRANCE BOUNDS
            this.map.options.maxZoom = 14;
            this.map.options.zoomSnap = 0.1;
            this.map.attributionControl.setPrefix('')
            this.initMarkers()
        },
        initMarkers () {
            this.markerClusterGroup && this.map.removeLayer(this.markerClusterGroup)
            this.markerClusterGroup = L.markerClusterGroup({
                maxClusterRadius: function() { return 30; }
            });

            this.array_positions = [];

            this.organizations.forEach( org => {

                if (org.evaluations.length) { // Cette carte affiche un point par structure ayant au moins une évaluation

                    const color = org.seuilAlert.length ? "red" : "green"

                    const style = { radius: 5, fillColor: color, fillOpacity: 1, color, organization: org} 
                    const latlng = org.address && org.address.lat && org.address.lng? [parseFloat(org.address.lat), parseFloat(org.address.lng)] : []

                    if (latlng.length) {
                        const measureText = org.seuilAlert.map(a => a.measure.short_name)
                        const alertText = org.seuilAlert.length ? "<br/><i><small>Mesures de sécurité fondamentales en alerte :</small></i> " + measureText.join(', ') : ""

                        this.markerClusterGroup.addLayer(L.circleMarker(latlng, style)
                            .bindPopup(`
<b>${org.name}</b> <br> 
<i><small>Indice de maturité cyber : </small></i>${org.evaluations[0].maturity_cyber} 
${alertText}`)

                            .on('mouseover', function() {
                                this.openPopup()})
                            .on('mouseout', function() {
                                this.closePopup();
                            })
                        )
                        this.array_positions.push(latlng);
                    }
                }
            })
            this.map.addLayer(this.markerClusterGroup);
            this.array_positions.length && this.map.fitBounds(this.array_positions, {padding: [30, 30]})
        },
    },
}
</script>
<style scoped>
#map {
    height: 400px;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.text-muted {
    letter-spacing: -0.5px;
}
</style>
