<template>
    <div class="card py-3 px-2">
        <div class="card-title mb-3"> Top 3 des niveaux de mesures de sécurité planifiées</div>

        <select v-model="chooseTerritoryId" class="form-control form-control-sm mb-3">
            <option value="">Tous les territoires</option>
            <option v-for="t in selectTerritories" :key="t.id" :value="t.id">{{t.name}}</option>
        </select>
        <div v-if="favoriteMeasures && favoriteMeasures.length && !loading">
            <div v-for="(measure, i) in favoriteMeasures" :key="measure.measure_id" class="card flex-row">
                <div class="col-2 bg-primary font-weight-bold">
                    <span style="font-size: 50px;">{{ i + 1 }}</span>
                </div>
                <div class="card-body col-10 py-2">
                    <div class="card-text">
                        {{ measure.short_name }}
                        <div class="small font-weight-bold">Niveau {{ measure.max_levels[0] }}</div>
                    </div>
                    <div class="progress progress-xs my-1">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            :style="{width: measure.max_levels[0] === 1 ? '33%' :  measure.max_levels[0] === 2 ? '66%' : measure.max_levels[0] === 3 ? '100%' : '0%',
                                     background: measure.max_levels[0] === 1 ? '#D63F49' : measure.max_levels[0] === 2 ? '#FFC107' : measure.max_levels[0] === 3 ? '#468355' : 'black'}"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div v-if="organizationsNumber" class="card-text">
                        <!-- if float -> tofixed(2) -->
                        {{ measure.percentage.toFixed(2) }} % des structures
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="loading" class="text-center ">
            <i class="fas fa-spinner fa-spin" style="font-size: 3em"></i>
        </div>
        <div v-else class="text-center small">Aucune mesure</div>
    </div>
</template>

<script>
/* nombre de niveau de mesures de sécurité mis en œuvre /30)*100 */

export default {
    name: 'MeasureCard',
    props : [],
    data () {
        return {
            chooseTerritoryId : "",
            loading: false,
        }
    },
    computed: {
        measures () {
            return this.$store.state.measures.all
        },
        evaluations () {
            return this.$store.state.evaluations.all
        },
        selectTerritories () {
            return this.$store.state.territories.all
        },
        organizationsNumber() {
            return this.$store.state.graphs.organization && this.$store.state.graphs.organization.organization ? this.$store.state.graphs.organization.organization.count : null

        },
        favoriteMeasures () {
            console.log('this.$store.state.graphs.organization', this.$store.state.graphs.organization)
            return this.$store.state.graphs.organization && this.$store.state.graphs.organization.organization ? this.$store.state.graphs.organization.organization.top_measures : null
        }
    },
    watch: {
        chooseTerritoryId(newValue) {
            this.loading = true
            this.$store.dispatch('getOrganizationData', {territoryId: newValue}).then(() => {
                this.loading = false;
            })
        }
    },
    mounted() {
        this.$store.dispatch('getOrganizationData', {territoryId: null})
    }
}
</script>
<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
