<template>
    <div class="card py-3 px-2">
        <div class="card-title mb-3">Mesures de sécurité retenues dans les plans d'actions</div>
        <Bar v-if="chartData"  :chart-data="chartData" :chart-options="options" /> <!--  :height="180"  -->
    </div>
</template>

<script>
import {Bar} from 'vue-chartjs/legacy'
import ChartjsPluginStacked100 from "chartjs-plugin-stacked100";
import { Chart as ChartJS, Title, Tooltip, Legend, RadialLinearScale, registerables} from 'chart.js'

ChartJS.register(ChartjsPluginStacked100, Title, Tooltip, Legend, RadialLinearScale, ...registerables)

export default {
    name: 'MeasuresInAction',
    components : {
        Bar,
    },
    data () {
        return {
            data1 : [],
            data2 : [],
            data3 : [],

            options: {
                indexAxis: 'y',
                // responsive: false,
                // maintainAspectRatio: false,
                plugins: {
                    stacked100 : {
                        enable : true,
                    },
                    legend: {
                    },
                },
                layout: {
                    padding: 0,
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                        },
                        stacked: true,
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                        },
                        stacked: true,
                    },
                    yAxes: [{
                        barThickness: 4, // number (pixels) or 'flex'
                        maxBarThickness: 5 // number (pixels)
                    }]
                }
            },
        }
    },
    computed: {
        evaluations () {
            return this.$store.state.evaluations.all
        },
        organizations () {
            return this.$store.state.organizations.all
                .map( org => ({...org,
                    evaluations : this.evaluations.filter( e => e.organization_id === org.id)
                        .filter( e => e.status === 2)
                        .sort( (a,b) => new Date(b.updated_at) - new Date(a.updated_at)) ,
                }))
                .filter(org => org.active)
        },
        chartData() {
            // niveaux de mesures planifiés en moyenne dans les plan d’actions des structures actives
            // Dans chaque Organisation active > Prendre la dernière evaluation >
            // Regarder les measures_levels, mettre la measure id 1 à la première place du tableau correspondant au expected_level de la measure.
            const labels = this.$store.state.measures.all.map( m => m.short_name)

            this.organizations.forEach(org => {
                const currentEvaluation = org.evaluations[0]
                currentEvaluation && currentEvaluation.measure_levels.forEach( ml => {
                    if (ml.expected_level) {
                        this[`data${ml.expected_level}`][ml.measure_id -1] = this[`data${ml.expected_level}`][ml.measure_id -1] ? this[`data${ml.expected_level}`][ml.measure_id -1] +1 : 1
                    }
                })
            })


            return {
                labels,
                datasets: [
                    {
                        label: 'Niveau 1',
                        backgroundColor: '#D63F49',
                        data: this.data1
                    },
                    {
                        label: 'Niveau 2',
                        backgroundColor: '#FFC107',
                        data: this.data2
                    },
                    {
                        label: 'Niveau 3',
                        backgroundColor: '#468355',
                        data: this.data3
                    },
                ]
            }
        }
    }
}
</script>
