<template>
    <div class="card">
        <div class="card flex-row bg-primary mb-0">
            <div class="card-body col-10">
                <div class="card-text">
                    <div class="font-weight-bold h4 m-0">{{ organizationsAlert.length }}</div>
                    Structures en alerte dépassement de seuil
                </div>
            </div>
            <div class="col-2">
                <i class="fas fa-exclamation-circle" style="font-size: 50px;"></i>
            </div>
        </div>
        <div class="card-body px-5">
            <Doughnut v-if="chartData" :chart-data="chartData" :chart-options="options" />
        </div>
    </div>
</template>

<script>
/*
GET FUNDAMENTAL MEASURES (value 1)
IF THIS MEASURE LEVEL IS LOWER THAN seuilAlerte   >   “Seuil d’alerte dépassée = true”.
IF seuilAlerte == -1   >   SKIP
 */
import { Doughnut } from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, registerables} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, ...registerables)


export default {
    name: 'OrganizationsAlert',
    components: {
        Doughnut,
    },
    props : [],
    data () {
        return {
            seuilAlerte : parseInt(this.$seuilAlerte),

            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'right',
                        labels : {
                            color : '#6b6b6b',
                            font: {
                                size : 16,
                            }
                        }
                    },
                },
            },
        }
    },
    computed: {
        fundamentalMeasures () {
            return this.$store.state.measures.all.filter( m => m.fundamental)
        },
        evaluations () {
            return this.$store.state.evaluations.all
        },
        territories () {
            return this.$store.state.territories.all.map( territory => (
                {...territory,
                    organizations : territory.organizations
                        .map( org => ({...org,
                            evaluations : this.evaluations.filter( e => e.organization_id === org.id)
                                .filter( e => e.status === 2)
                                .sort( (a,b) => new Date(b.updated_at) - new Date(a.updated_at)) ,
                        }))
                        .filter(org => org.active)
                })
            )
        },
        organizationsAlert () {
            const fundamentalMeasuresId = this.fundamentalMeasures.map(m => m.id)

            const organizations = this.territories.map( t => t.organizations)
            return [].concat.apply([], organizations)
                .filter( org => {
                    if (org.evaluations.length) {
                        const getInsideSeuilAlerte = org.evaluations[0].measure_levels
                            .filter( ml => fundamentalMeasuresId.includes(ml.measure_id)) // CHECK IF MEASURE IS FUNDAMENTAL
                            .filter( ml => ml.actual_level <= this.seuilAlerte) // THEN CHECK IF IN SEUIL ALERTE
                        return getInsideSeuilAlerte.length
                    }
                    return false
                })
        },
        chartData() {
            if (this.territories) {
                const labels = this.territories.map( t => t.name);
                const data = this.territories.map( t => t.organizations.filter( org => this.organizationsAlert.map(o => o.id).includes(org.id)).length);
                const colors = labels.map((c, i) => {
                    return 'hsla('+ 360*i/labels.length +', 100%, 60%, 0.6)'
                })
                return {
                    labels,
                    datasets: [
                        {
                            data,
                            backgroundColor: colors

                        }
                    ]
                }
            }
            return {}
        },
    }
}
</script>

<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
