<template>
    <div class="card">
        <div class="card flex-row bg-primary mb-0">
            <div class="card-body col-10">
                <div class="card-text">
                    <div class="font-weight-bold h4 m-0">{{ activeOrganizations.length }}</div>
                    Structures actives
                </div>
            </div>
            <div class="col-2">
                <i class="fas fa-home" style="font-size: 50px;"></i>
            </div>
        </div>
        <div class="card-body px-5">
            <Doughnut v-if="chartData" :chart-data="chartData" :chart-options="options" />
        </div>
    </div>
</template>

<script>
import { Doughnut } from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, registerables} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, ...registerables)


export default {
    name: 'OrganizationsGraph',
    components: {
        Doughnut,
    },
    props : [],
    data () {
        return {
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'right',
                        labels : {
                            color : '#6b6b6b',
                            font: {
                                size : 16,
                                // weight : 'bold',
                            }
                        }
                    },
                },
            },
        }
    },
    computed: {
        territories () {
            return this.$store.state.territories.all
        },
        activeOrganizations () {
            const organizations = this.territories.map( t => t.organizations.filter(org => org.active))
            return [].concat.apply([], organizations)
        },
        chartData() {
            if (this.territories) {
                const labels = this.territories.map( t => t.name);
                const data = this.territories.map( t => t.organizations.filter(org => org.active).length);

                const colors = labels.map((c, i) => {
                    return 'hsla('+ 360*i/labels.length +', 100%, 60%, 0.6)'
                })

                return {
                    labels,
                    datasets: [
                        {
                            data,
                            backgroundColor: colors
                        }
                    ]
                }
            }
            return {}
        },
    }
}
</script>

<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
