<template>
    <div class="row" style="max-width: 1200px;margin: 0 auto">
        <div class="col-md-6">
            <div class="row">

                <ActionsDoneCard :current-evaluation="currentEvaluation" :previous-evaluation="previousEvaluation"/>
                <div class="col-md-6">
                    <MeasureCard :current-evaluation="currentEvaluation" />
                </div>
                <div class="col-md-6">
                    <MaturiteCyberCard :current-evaluation="currentEvaluation" :previous-evaluation="previousEvaluation" />
                </div>
                <div class="col-md-12">
                    <ActionPlanTable :current-evaluation="currentEvaluation" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <OrganizationsCard :organizations="organizations" />
                </div>
                <div class="col-md-6">
                    <AverageMaturityCyberCard :organizations="organizations" />
                </div>
                <div class="col-md-12">
                    <MeasurePlanned :organizations="organizations" />
                </div>
                <div class="col-md-12">
                    <ActionTerritory />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from "axios";

export default {
    name: 'DashboardManager',
    components : {
        ActionsDoneCard: () => import('./Components/ActionsDoneCard.vue'),
        MeasureCard: () => import('./Components/MeasureCard.vue'),
        MaturiteCyberCard: () => import('./Components/MaturityCyberCard.vue'),
        OrganizationsCard: () => import('./Components/OrganizationsCard.vue'),
        AverageMaturityCyberCard: () => import('./Components/AverageMaturityCyberCard.vue'),
        ActionPlanTable: () => import('./Components/ActionPlanTable.vue'),
        MeasurePlanned: () => import('./Components/MeasurePlanned.vue'),
        ActionTerritory: () => import('../AdminView/Components/ActionTerritory.vue'),
    },
    data () {
        return {
            organizations : null
        }
    },
    computed: {
        user () {
            return this.$store.state.user
        },
        evaluations () {
            const evals = this.$store.state.evaluations.all
            return evals.filter( e => e.status === 2).sort( (a,b) => new Date(b.updated_at) - new Date(a.updated_at))
        },
        currentEvaluation () {
            return this.evaluations[0]
        },
        previousEvaluation () {
            return this.evaluations[1]
        },

    },
    mounted () {
        this.getActivesOrganizations()
    },
    methods : {
        async getActivesOrganizations () {
            await axios.get(`/api/graphs/organizations`)
                .then( res => {
                    this.organizations = res.data
                })
        },
    },
}
</script>
