
<template>
    <div v-if="isAdmin()">
        <a href="/api/measures/download" class="btn btn-primary">
            <i class="fas fa-clipboard-list"></i>
            Télécharger toutes les fiches
        </a>

        <div class="bg-white p-3 mt-4">
            <div class="float-right" style="width:calc(100% - 11rem)">
                <div class="mb-3 float-left">
                    <!-- <button class="btn btn-outline-primary">Filtrer les colonnes</button> -->
                    <button class="btn btn-outline-primary" @click="resetFilters()">
                        Réinitialiser les filtres
                    </button>
                </div>
            </div>
            <v-client-table ref="table" :data="measures" :columns="columns" :options="options">
                <div slot="actions" slot-scope="props">
                    <router-link :to="`/mesures/${props.row.id}`" class="btn btn-light btn-xs">
                        <i class="fas fa-pen"></i> Modifier
                    </router-link>
                    <a
                        :href="`/api/measures/download/${props.row.id}`"
                        class="btn btn-light btn-xs"
                        :class="(!props.row.level1_file && !props.row.level2_file && !props.row.level3_file) && 'disabled'">
                        <i class="fas fa-clipboard-list"></i> Télécharger les fiches
                    </a>
                </div>

                <div slot="filter__name" class="VueTables__list-filter">
                    <input v-model="measureName" type="text" class="form-control" placeholder="Nom" />
                </div>
                <div slot="filter__short_name" class="VueTables__list-filter">
                    <input v-model="measureShortName" type="text" class="form-control" placeholder="Nom court" />
                </div>
              
            </v-client-table>
        </div>
    </div>
</template>

<script>

import { isAdmin } from '../../utils/permissions'
import toaster from '../../utils/toaster'
import diacritic from '../../utils/diacritic'

export default {
    name: 'MeasuresList',
    components: {
    },
    data () {
        return {
            isAdmin,
            toaster,
            measureName: null,
            measureShortName: null,
            columns: [
                'name',
                'short_name',
                'actions'
            ],
            options: {
                sortIcon: {
                    base: 'fas',
                    is: 'fa-sort',
                    up: 'fa-sort-down',
                    down: 'fa-sort-up'
                },
                sortable: [
                    'name',
                    'short_name'
                ],
                perPage: 25,
                texts: {
                    // https://github.com/matfish2/vue-tables-2/blob/master/lib/config/defaults.js
                    filterBy: '{column}',
                    count: "Affichage de l'élément {from} à {to} sur {count} éléments|{count} éléments|Un élément",
                    columns: 'Filtrer les colonnes',
                    defaultOption: '{column}',
                    noResults: 'Aucun résultat'
                },
                columnsDropdown: true,
                filterByColumn: true,
                filterable: [],

                headings: {
                    name: 'Nom',
                    short_name: 'Nom court'
                }
            }
        }
    },
    computed: {
        user () {
            return this.$store.state.user
        },
        measures () {
            return this.$store.state.measures.all
                .filter(o => {
                    return diacritic(true,o.name,this.measureName);
                })
                .filter(v => {
                    return diacritic(true,v.short_name,this.measureShortName);
                })
        },
    },
    mounted () {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setUser' && state.user.data.role > state.user.roles.ROLE_ADMIN) {
                this.$router.push('/')
            }
        })
    },
    methods: {
        resetFilters () {
            try {
                this.toaster(this, 'Filtres réinitialisés', 'bg-info')
                this.$refs.table.resetQuery()
                this.measureName = null
                this.measureShortName = null
            } catch (e) {
                console.log('error', e)
            }
        },
    }
}
</script>
<style>
</style>
