// Body
$body-bg: #f8fafc;
$fa-font-path: "../webfonts";

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Fix for https://app.asana.com/0/1202404842967175/1202471610641031 height not the same in sidebar top and top navbar
$line-height-lg: 1.5;
$navbar-brand-font-size: 1.25rem;
$navbar-brand-padding-y: .3125rem;
$sidebar-padding-x: .5rem;


$primary:       #28285B;
$secondary:     #D7D7DF;
$success:       #468355;
$info:          #427D9F;
$danger:        #D63F49;
$warning:       #FFC107;
$light:         #F4F4F4;
$dark:          #454545;
