// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/build/scss/adminlte';

@import '~leaflet/dist/leaflet.css';


.bg-grey {
    background-color : #454545!important;
}

@media (min-width: 1700px) {
    .modal-xl {
        max-width: 80%;
    }
}
@media (max-width: 1700px) {
    .modal-xl {
        max-width: 90%;
    }
}

@media (max-width: 990px){
    .logo-switch {
        height: 65px!important;
    }
}

@media (min-width: 991px) {
    .logo-switch {
        height: 57px !important;
    }
}

/* LOGO */
.brand-image-xs, .brand-image-xl {
    color : #fff!important;
}
/* ---- */
select.form-control {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}
.brand-link.logo-switch::before {
    content: ""!important;
}

.logo-xs.brand-image-xs,
.logo-xl.brand-image-xs {
    left: 13px;
    top: 12px;
}


.brand-link, .main-header {
    background: $primary;
    color : $light;
}
.navbar-nav .nav-link,
.sidebar .brand-text {
    color : $light!important;
}
.sidebar .nav-header {
    font-weight: bold;
    background: $secondary;
    color: darken($info, 50%);
}
.sidebar .nav-link {
    color: $primary!important;
}

.nav-link.active {
    color: $light!important;
}

.nav-sidebar .nav-item > .nav-link {
    margin-top: 0.2rem!important;
}

.table thead th, .table-bordered th, .table-bordered td {
    vertical-align: middle!important;
}

.VueTables__list-filter {
    vertical-align: middle!important;
}

.table-hover tr.VueTables__no-results:hover, .table-hover tr.VueTables__no-results:hover td {
    background-color : transparent!important;
    background : transparent!important;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: transparent!important;
}

/* Sorting icons */
.VueTables__columns-dropdown {
    button {
        color: #395B64;
        border-color: #395B64;
        background: transparent;
    }
    ul.dropdown-menu {
        padding: 0.5rem;
        a {
            text-decoration: none;
        }
        input {
            margin-right: 0.5rem;
        }
    }
}


/* date picker */
.vue-daterange-picker {
    display: contents!important;
}

// ---- VUE TABLES 2 STYLE
.VueTables__filters-row .VueTables__list-filter select option:first-child
{
    color: #ccc!important;
}
.VueTables__sortable {
    padding-right : 30px!important;
}
.VueTables__sort-icon  {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
.VueTables__no-results
.VueTables__no-results:hover,
.VueTables__no-results > *:hover,
.table-hover tbody tr.VueTables__no-results:hover
{
    box-shadow: inset 0 0 0 999px #f2f2f2!important;
}

.VuePagination__pagination {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    cursor : pointer;
}
.VuePagination__pagination-item.disabled {
    cursor: not-allowed;
}

.VueTables__columns-dropdown button {
    color: #395B64;
    border-color: #395B64;
    background: transparent;
}

.VueTables__columns-dropdown > ul > li:last-child {
    display:none;
}

.VueTables__columns-dropdown-wrapper {
    width: 10rem;
    margin-left: -0.75rem;
}

.VueTables__columns-dropdown ul.dropdown-menu {
    padding: 0.5rem;
}
.VueTables__columns-dropdown ul.dropdown-menu a {
    text-decoration: none;
}
.VueTables__columns-dropdown ul.dropdown-menu input {
    margin-right: 0.5rem;
}

#evaluation-edit .form-control, #evaluation-edit #expected_level {
    //background-color: white !important;
}
#evaluation-edit .glyphicon.glyphicon-calendar.fa.fa-calendar {
    display: none;
}
#evaluation-edit .disabled .form-control.reportrange-text {
    background-color: #e9ecef !important;
}
.VueTables__table td button {
    white-space: nowrap;
}
.VueTables__limit {
    display: none;
}

//Loading spinner
.loader.full {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 2000;
}
.loader {
    min-height: 300px;
}
.loader .fas.fa-spinner {
    font-size: 5em;
    color: rgba(0,0,0,0.9)
}

/*  MESURES EVELUATION */
.mesure-description p, .mesure-description ul, .mesure-description ol {
    margin-bottom: 0px!important;
}
/* GRAPH */
#attackgraph canvas {
    max-height:600px;
}

/* DASHBOARD */
// MARKER CLUSTER
.marker-cluster {
    background-color: rgba(40, 40, 91, 0.6)!important;
    color:white!important;
}
.marker-cluster div {
    background-color: rgba(40, 40, 91, 0.6)!important;
}
.marker-cluster span {
    font-weight: bold;
}