<template>
    <div v-if="loaded && chartData" id="attackgraph">
        <PolarArea  :chart-data="chartData" :chart-options="options" />
    </div>
    <div v-else class=" text-center">
        <i class="fas fa-spin fa-spinner"></i>
    </div>
</template>

<script>
import { PolarArea } from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, RadialLinearScale, registerables} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, RadialLinearScale, ...registerables)

export default {
    name: 'AttackGraph',
    components: {
        PolarArea,
    },
    props: ['evaluation', 'maxHeight'],
    data() {
        return {
            loaded: this.$store.state.graphs[this.evaluation.id] && this.$store.state.graphs[this.evaluation.id].attack,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: function(l) {
                                if (typeof l.label === 'string') {
                                    return l.label
                                }
                                return l.label.join('')
                            },
                        }
                    }
                },
                responsive: true,
                scales: {
                    r: {
                        min: 0,
                        max: 100,
                        ticks: {
                            color: '#000',
                            backdropColor: 'rgba(255,255,255, 0.5)',
                            z: 10,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                        },
                        pointLabels: {
                            display: true,
                            centerPointLabels: true,
                            font: {
                                size: 11
                            }
                        }
                    }
                }
            },
        }
    },
    computed: {
        chartData() {
            if (!this.$store.state.graphs[this.evaluation.id] || !this.$store.state.graphs[this.evaluation.id].attack) {
                return null;
            }
            const labels = this.$store.state.graphs[this.evaluation.id].attack.labels.map(l => {
                return l.match(/.{1,25}(\s|$)/g)
            });
            const data = this.$store.state.graphs[this.evaluation.id].attack.data;
            const colors = labels.map((c, i) => {
                return 'hsla('+ 360*i/labels.length +', 100%, 60%, 0.6)'
            })
            return {
                labels,
                datasets: [
                    {
                        data,
                        backgroundColor: colors
                    }
                ]
            }
        }
    },
    async mounted () {
        this.loaded = false
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].attack === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'attack',
                id: this.evaluation.id
            })
        }
        this.loaded = true
    }
}
</script>
