<template>
    <Bar v-if="loaded && chartData" :chart-data="chartData" :chart-options="options" />
    <div v-else class=" text-center">
        <i class="fas fa-spin fa-spinner"></i>
    </div>
</template>

<script>
import { Bar } from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
    name: 'ExpositionGraph',
    components: {
        Bar,
    },
    props: ['evaluation'],
    data() {
        return {
            loaded: this.$store.state.graphs[this.evaluation.id] && this.$store.state.graphs[this.evaluation.id].exposition,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: function(l) {
                                if (typeof l.label === 'string') {
                                    return l.label
                                }
                                return l.label.join('')
                            },
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            autoSkip: false,
                            maxRotation: 40,
                            minRotation: 40
                        }
                    },
                    y: {
                        min: 0,
                        max: 100,
                        beginAtZero: true,
                    }
                },
            },
        }
    },
    computed: {
        chartData() {
            if (!this.$store.state.graphs[this.evaluation.id] || !this.$store.state.graphs[this.evaluation.id].exposition) {
                return null;
            }
            const labels = this.$store.state.graphs[this.evaluation.id].exposition.labels.map(l => {
                return l.match(/.{1,40}(\s|$)/g)
            });
            const data = this.$store.state.graphs[this.evaluation.id].exposition.data;

            return {
                labels,
                datasets: [
                    {
                        data,
                        backgroundColor: 'black',
                        borderColor: 'black',
                    }
                ]
            }
        }
    },
    async mounted () {
        this.loaded = false
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].exposition === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'exposition',
                id: this.evaluation.id
            })
        }
        this.loaded = true
    }
}
</script>
