<template>
    <div>
        <Radar v-if="loaded && chartData" :chart-data="chartData" :chart-options="options" />
        <div v-else class=" text-center">
            <i class="fas fa-spin fa-spinner"></i>
        </div>
    </div>
</template>

<script>
import { Radar } from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, RadialLinearScale, registerables} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, RadialLinearScale, ...registerables)

export default {
    name: 'MeasuresGraph',
    components: {
        Radar,
    },
    props: ['evaluation'],
    data() {
        return {
            loaded: this.$store.state.graphs[this.evaluation.id] && this.$store.state.graphs[this.evaluation.id].measures,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: function(l) {
                                if (typeof l.label === 'string') {
                                    return l.label
                                }
                                return l.label.join('')
                            },
                        }
                    }
                },
                scales: {
                    r: {
                        beginAtZero: false,
                        animate: false,
                        min:-1,
                        max:3,
                        ticks: {
                            color: '#000',
                            backdropColor: 'rgba(255,255,255, 0.8)',
                            z: 10,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                            stepSize: 1
                        },
                        grid: {
                            z: 9,
                        }
                    },
                },
            },
        }
    },
    computed: {
        chartData() {
            if (!this.$store.state.graphs[this.evaluation.id] || !this.$store.state.graphs[this.evaluation.id].measures) {
                return null;
            }

            const labels = this.$store.state.graphs[this.evaluation.id].measures.labels;
            const data = this.$store.state.graphs[this.evaluation.id].measures.data;

            return {
                labels,
                datasets: [
                    {
                        data,
                        backgroundColor: '#4281A4',
                        borderColor: '#4281A4',
                        pointBackgroundColor: '#4281A4',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: '#4281A4',
                        pointRadius: 0,
                    }
                ]
            }
        }
    },
    async mounted () {
        this.loaded = false
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].measures === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'measures',
                id: this.evaluation.id
            })
        }
        this.loaded = true
    }
}
</script>
