<template>
    <div v-if="$store.state.user.data" class="content-header">
        <div class="mx-5">
            <div class="row mb-1 mt-1">
                <div class="col-md-6 p-0 title">
                    <h1 class="m-0 float-left">
                        {{ $route.meta.title }}
                    </h1>
                    <small class="text-sm text-muted">{{ itemName }}</small>
                </div>
                <div class="col-md-6">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb float-sm-right">
                            <li v-for="route in matched" :key="route.name" class="breadcrumb-item">
                                <router-link :to="route.path ? route.path : '/'">
                                    <i v-if="route.meta.icon" :class="'fas ' + route.meta.icon"></i>
                                    <span class="text-decoration-underline">{{ route.name }}</span>
                                </router-link>
                            </li>
                            <li v-if="last.name" class="breadcrumb-item">
                                <i v-if="last.meta.icon" :class="'fas ' + last.meta.icon"></i>
                                <span>{{ last.name }} <span v-if="itemName">"{{ itemName }}"</span></span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    name: 'Breadcrumbs',
    data() {
        return {
            routes: []
        }
    },
    computed: {
        evalStep () {
            return this.$route.params.step
        },
        matched() {
            console.log('matched', this.$route.matched)
            console.log('route', this.$route)
            return this.$route.matched.filter(r => r.name).slice(0, -1)
        },
        last() {
            return this.$route.matched.filter(r => r.name).slice(-1)[0]
        },
        itemName () {
            if (!this.$route.meta.type || !this.$route.params.id) {
                return null
            }
            const user = this.$store.state.users.all.find(u => u.id === parseInt(this.$route.params.id, 10))
            const org = this.$store.state.organizations.all.find(o => o.id === parseInt(this.$route.params.id, 10))
            const u = this.$store.state.user.data
            const measure = this.$store.state.measures.all.find(m => m.id === parseInt(this.$route.params.id, 10))
            const evaluation = this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
            const ter = this.$store.state.territories.all.find(v => v.id === parseInt(this.$route.params.id, 10))

            switch (this.$route.meta.type) {
            case 'user':
                if (!user) {
                    return null
                }
                return user.firstname + ' ' + user.lastname
            case 'organization':
                if (!org) {
                    return null
                }
                return org.name
            case 'territory':
                if (!ter) {
                    return null
                }
                return ter.name
            case 'profile':
                if (!u) {
                    return null
                }
                return u.firstname + ' ' + u.lastname
            case 'measure':
                return measure ? measure.name : null

            case 'evaluation':
                if (evaluation && this.evalStep) {
                    const stepName = this.evalStep === '1' ? 'Dangers' : this.evalStep === '2' ? 'Mesures de sécurité' : this.evalStep === '3' ? 'Synthèse des mesures de sécurité' : this.evalStep === '4' ? "Plan d'action" : this.evalStep === '5' ? 'Mesurer la maturité cyber' : null
                    const stepNumber = this.evalStep === '3' ? 'intermédiaire' : this.evalStep === '4' ? "3" : this.evalStep === '5' ? '4' : null
                    return `Étape ${stepNumber || this.evalStep} : ${stepName}`
                }

                if (evaluation && evaluation.status === 2) {
                    return (new Date(evaluation.updated_at)).toLocaleDateString('fr')
                }

                return null

                // && this.$route.meta.edit !== true ? moment(evaluation.updated_at).format('DD/MM/YYYY') : null
            default:
                return null
            }
        }
    }
}
</script>
<style scoped>
li > a {
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
}
nav > ol.breadcrumb {
    flex-wrap: nowrap;
    max-width: 100%;
}
nav > ol.breadcrumb li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title small{
    margin-left: 0.75rem;
    line-height: 2.5rem;

}
.breadcrumb-item:last-child .text-decoration-underline {
    text-decoration : none!important;
}
</style>
