
<template>
    <aside
        v-if="user"
        class="main-sidebar sidebar-light-primary menu-elevation"
    >
        <router-link
            to="/"
            class="brand-link logo-switch"
        >
            <img
                src="/images/logoblancetorange.png"
                alt="Madis Cyber"
                class="brand-image-xl logo-xl mt-1"
                style="opacity: .9; width: 90%; object-fit: contain;"
            >
            <img
                src="/images/logo_madis_2020_favicon.png"
                alt="Madis Cyber"
                class="brand-image-xs logo-xs mt-1 ml-2"
                style="opacity: .9"
            >
            <!-- <span class="brand-text font-weight-light">&nbsp;</span> -->
        </router-link>

        <div class="sidebar px-0">
            <nav>
                <ul
                    class="nav nav-pills nav-sidebar flex-column"
                    role="menu"
                    data-accordion="false"
                >
                    <li class="nav-item" role="menuitem">
                        <router-link
                            to="/"
                            class="nav-link w-100 rounded-0"
                            exact-active-class="active"
                        >
                            <i class="nav-icon fas fa-tachometer-alt" />
                            <p>
                                Tableau de bord
                            </p>
                        </router-link>
                    </li>
                    <li class="nav-header" role="menuitem">
                        Évaluations
                    </li>
                    <li class="nav-item" role="menuitem">
                        <router-link
                            to="/evaluations"
                            class="nav-link w-100 rounded-0"
                            active-class="active"
                        >
                            <i class="nav-icon fas fa-search" />
                            <p>
                                Évaluations
                            </p>
                        </router-link>
                    </li>
                    <li v-if="user && user.organization_id" class="nav-header" role="menuitem">
                        Rapports
                    </li>
                    <li v-if="user && user.organization_id" class="nav-item" role="menuitem">
                        <a
                            :href="`/pdf/dossierCyberSecurite/${user.organization_id}`"
                            target="_blank"
                            :class="`nav-link w-100 rounded-0 ${doneEvaluations.length ? '' : 'disabled'}`"
                            :aria-disabled="!doneEvaluations.length"
                        >
                            <i class="nav-icon fas fa-clipboard" />
                            <p>
                                Générer le dossier d'évaluation
                            </p>
                        </a>
                    </li>
                    <li v-if="user && user.organization_id" class="nav-item" role="menuitem">
                        <a
                            :href="`/pdf/politiqueSecurite/${user.organization_id}`"
                            target="_blank"
                            :class="`nav-link w-100 rounded-0 ${doneEvaluations.length ? '' : 'disabled'}`"
                            :aria-disabled="!doneEvaluations.length"
                        >
                            <i class="nav-icon fas fa-clipboard" />
                            <p>
                                Générer la PSSI
                            </p>
                        </a>
                    </li>
                    <li v-if="user && user.organization_id" class="nav-item" role="menuitem">
                        <a
                            :href="`/pdf/planAction/${user.organization_id}`"
                            target="_blank"
                            :class="`nav-link w-100 rounded-0 ${doneEvaluations.length ? '' : 'disabled'}`"
                            :aria-disabled="!doneEvaluations.length"
                        >
                            <i class="nav-icon fas fa-clipboard" />
                            <p>
                                Générer le plan d'action
                            </p>
                        </a>
                    </li>
                    <li
                        v-if="isAdmin()"
                        class="nav-header"
                        role="menuitem"
                    >
                        Configuration
                    </li>
                    <li
                        v-if="isAdmin()"
                        class="nav-item"
                        role="menuitem"
                    >
                        <router-link
                            to="/mesures"
                            class="nav-link w-100 rounded-0"
                            active-class="active"
                        >
                            <i class="nav-icon fas fa-list" />
                            <p>
                                Mesures de sécurité
                            </p>
                        </router-link>
                    </li>
                    <li
                        v-if="user.role < roles.ROLE_USER"
                        class="nav-header"
                        role="menuitem"
                    >
                        Espace d'administration
                    </li>
                    <li
                        v-if="isAdmin()"
                        class="nav-item"
                        role="menuitem"
                    >
                        <router-link
                            to="/territoires"
                            class="nav-link w-100 rounded-0"
                            active-class="active"
                        >
                            <i class="nav-icon fas fa-map"></i><p>Territoires</p>
                        </router-link>
                    </li>
                    <li
                        v-if="user.role < roles.ROLE_USER"
                        class="nav-item"
                        role="menuitem"
                    >
                        <router-link
                            v-if="isAdmin()"
                            to="/structures"
                            class="nav-link w-100 rounded-0"
                            active-class="active"
                        >
                            <i class="nav-icon fas fa-home mr-1" /><p>Structures</p>
                        </router-link>
                        <router-link
                            v-else
                            :to="`/structures/${user.organization_id}`"
                            class="nav-link w-100 rounded-0"
                            active-class="active"
                        >
                            <i class="nav-icon fas fa-home mr-1" /><p>Ma structure</p>
                        </router-link>
                    </li>
                    <li
                        v-if="user.role < roles.ROLE_USER"
                        class="nav-item"
                        role="menuitem"
                    >
                        <router-link
                            v-if="isAdmin()"
                            to="/utilisateurs"
                            class="nav-link w-100 rounded-0"
                            active-class="active"
                        >
                            <i class="nav-icon fas fa-users mr-1" /><p>Utilisateurs</p>
                        </router-link>
                        <router-link
                            v-else
                            to="/profil"
                            class="nav-link w-100 rounded-0"
                            active-class="active"
                        >
                            <i class="nav-icon fas fa-users mr-1" /><p>Mon compte</p>
                        </router-link>
                    </li>
                </ul>
            </nav>
            <img v-if="$logoSidebar" :src="$logoSidebar" alt="logo" class="w-100 p-2" />
        </div>
    </aside>
</template>
<script>
import md5 from 'crypto-js/md5'
import routes from '../../routes'
import { isAdmin } from '../../utils/permissions'

export default {
    name: 'SideMenu',
    data () {
        return {
            isAdmin
        }
    },
    computed: {
        user () {
            console.log('user', this.$store.state.user.data)
            return this.$store.state.user.data
        },
        roles () {
            return this.$store.state.user.roles
        },
        routes () {
            return routes[0].children.filter((r) => r.path !== '/login')
        },
        doneEvaluations () {
            return this.$store.state.evaluations.all.filter(e => e.status === 2)
        }
    },
    methods: {
        logout () {
            this.$store.dispatch('logout')
        },
        md5 (email) {
            return md5(email)
        }
    }
}
</script>
<style scoped>
.nav-sidebar .nav-item > .nav-link {
    margin-top : 0!important;
    margin-bottom : 0!important;
}

.sidebar-mini.sidebar-collapse .sidebar .nav-sidebar > .nav-item .nav-icon.fas {
   vertical-align: top;
}

.sidebar-mini:not(.sidebar-collapse) .nav-sidebar > .nav-item .nav-icon.fas::before {
    font-size: 1rem;
}
.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar > .nav-item .nav-icon.fas::before {
    font-size: 1rem;
    margin-left: 0;
}
.sidebar-mini.sidebar-collapse .nav-sidebar > .nav-item .nav-icon.fas::before {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}
.main-sidebar:hover .nav-item .nav-link p {
    white-space: normal;
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-link p {
        width: calc(250px - 5rem);
        white-space: normal;
    }
}
.nav-sidebar > .nav-item .nav-icon {
    width: auto !important;
}
.menu-elevation {
    box-shadow: 0 5px 5px rgba(0,0,0,.25),0 1px 1px rgba(0,0,0,.22) !important;
}
a.nav-link.disabled {
    opacity: 0.5;
}
</style>
