<template>
    <div>
        <ErrorBlock
            ref="ErrorBlock"
            :errors="errors"
        />
        <div class="row">
            <div class="col-md-12">
                <div class="card card-light">
                    <div class="card-header py-1">
                        <div class="card-title">
                            Informations générales
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="territoire">Nom du territoire <i class="text-muted small">(Obligatoire)</i></label>
                            <input
                                id="territoire" v-model="territory.name"
                                type="text" class="form-control form-control-sm"
                                :class="{ 'is-invalid': submitted && $v.territory.name.$error }">
                        </div>
                        <div v-if="$v.territory.name.$error" class="text-danger">Champ obligatoire</div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card text-center p-2">
                    <div v-if="isAdmin()">
                        <router-link
                            to="/territoires"
                            class="btn btn-outline-primary"
                        >
                            Retour à la liste des territoires
                        </router-link>
                        <button
                            class="btn btn-primary"
                            @click="save()"
                        >
                            <i
                                v-if="isSaving"
                                class="fas fa-spinner fa-spin"
                            /> {{ territory.name ? "Enregistrer les modifications" : "Créer le territoire" }}
                        </button>
                    </div>
                    <div v-else>
                        <button
                            class="btn btn-primary"
                            @click="save()"
                        >
                            <i
                                v-if="isSaving"
                                class="fas fa-spinner fa-spin"
                            /> Enregistrer le territoire
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ErrorBlock from '../../../utils/ErrorBlock.vue'
import toaster from '../../../utils/toaster'
import { isAdmin } from '../../../utils/permissions'
import {required} from 'vuelidate/lib/validators'

const defaultTerritory = {
    id: null,
    name: null,
}

export default {
    name: 'SingleTerritory',
    components: {
        ErrorBlock,
    },
    validations: {
        territory: {
            name: {required}
        }
    },
    beforeRouteEnter (to, from, next) {
        next(vm => {
            vm.$store.commit('setErrors', null)
        })
    },
    beforeRouteLeave (to, from, next) {
        next(vm => {
            vm.$store.commit('setErrors', null)
        })
    },
    data () {
        return {
            toaster,
            isAdmin,
            submitted: false,
            isSaving: false,
            territory: this.$store.state.territories.all.find(u => u.id === parseInt(this.$route.params.id, 10)) || { ...defaultTerritory }
        }
    },
    computed: {
        isTerritory () {
            return this.$store.state.territories.all.length === 1 && this.$store.state.territories.all[0].id === this.territory.id
        },
        errors () {
            return this.$store.state.territories.errors
        }
    },
    mounted () {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setUser' && (state.user.data.role > state.user.roles.ROLE_ADMIN )) {
                this.$router.push('/')
            }
        })
    },
    methods: {
        checkValidation() {
            this.$v.$touch()
            if (this.$v.$invalid) {
                return false
            } else {
                return true
            }
        },
        save () {
            this.submitted = true
            this.isSaving = true

            // CHECK BLOCK VALIDATION
            const validation = []
            Object.keys(this.$refs).forEach(block => {
                console.log('block', block)
                validation.push(this.$refs[block].checkValidation())
            })

            if (validation.includes(false)) {
                this.toaster(this, 'Veuillez remplir tous les champs obligatoires', 'bg-warning')
                this.$refs.InformationsBlock.$el.scrollIntoView({ behavior: 'smooth' })
                this.isSaving = false
            } else {
                this.$store.dispatch('updateTerritory', this.territory)
                    .then(() => {
                        window.scrollTo(0, 0)
                        !this.isTerritory && this.$router.push('/territoires')
                        this.isSaving = false
                    })
                    .catch(() => {
                        console.log(this.$refs)
                        this.$refs.ErrorBlock.$el.scrollIntoView({ behavior: 'smooth' })
                        this.isSaving = false
                    })
            }
        }
    }
}
</script>
