<template>
    <div class="col-md-12">
        <div
            v-if="evaluation"
            class="card card-default"
        >
            <div class="card-body text-center">
                <button
                    v-if="stepView > 1"
                    class="btn btn-outline-primary"
                    @click.prevent="cancel"
                >
                    Retour à la liste des évaluations
                </button>
                <button
                    v-else
                    class="btn btn-outline-primary"
                    @click.prevent="cancel"
                >
                    Annuler l'évaluation
                </button>
                <button
                    v-if="stepView > 1"
                    class="btn btn-outline-primary"
                    @click.prevent="$store.commit('setStepView', stepView - 1)"
                >
                    Étape précédente
                </button>
                <button
                    v-if="isEditable && stepView !== 3"
                    class="btn btn-secondary"
                    @click.prevent="draft"
                >
                    <i
                        v-if="drafting"
                        class="fas fa-spinner fa-spin"
                    />
                    Enregistrer un brouillon
                </button>

                <button
                    v-if="stepView != evaluation.current_step && stepView !== 3"
                    class="btn btn-secondary"
                    @click="edit()"
                >
                    <i
                        v-if="modifying"
                        class="fas fa-spinner fa-spin"
                    />
                    Modifier l'évaluation
                </button>

                <button v-if="isEditable" class="btn btn-primary" @click.prevent="next">
                    <i v-if="saving" class="fas fa-spinner fa-spin" />
                    {{ stepView === 5 ? "Terminer l'évaluation" : "Étape suivante"  }}
                </button>

                <button v-else-if="stepView < 5" class="btn btn-outline-primary" @click.prevent="$store.commit('setStepView', stepView + 1)">
                    Étape suivante
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import toaster from '../../../../utils/toaster'

export default {
    name: 'EvaluationButtons',
    props: ['isEditable'],
    data () {
        return {
            toaster,
            drafting: false,
            saving: false,
            modifying: false,
        }
    },
    computed: {
        evaluation () {
            return this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
        },
        stepView () {
            return parseInt(this.$store.state.evaluations.stepView)
        },
    },
    methods: {
        cancel () {
            this.$store.dispatch('getEvaluations').then(() => this.$router.push('/evaluations'))
        },
        async draft () {
            this.drafting = true
            try {
                await this.$store.dispatch('saveDraftEvaluation', this.evaluation)
            } catch (e) {
                this.toaster(this, 'Impossible de sauvegarder l\'évaluation', 'bg-warning')
            }

            this.$store.commit('removeGraphData', {id: this.evaluation.id})

            this.$store.dispatch('getAllGraphsForEvaluation', this.evaluation.id)

            this.drafting = false
            // this.$router.push('/evaluations')
        },
        async next () {
            this.saving = true
            this.$parent.$data.submitted = true // SET SUBMITTED FOR VALIDATION TEXT ERROR
            console.log('this.$parent.$refs', this.$parent.$refs)

            // CHECK VALIDATION FROM PARENT BLOCK REFERENCE
            const validation = []
            Object.keys(this.$parent.$refs).forEach(block => {
                try {
                    validation.push(this.$parent.$refs[block][0].checkValidation())
                } catch {
                    validation.push(this.$parent.$refs[block].checkValidation())
                }
            })

            if (validation.includes(false)) {
                // IF VALIDATION FAILED : SCROLL TO TOP WITH WARNING
                this.toaster(this, 'Veuillez remplir tous les champs obligatoires', 'bg-warning')
                this.$parent.$el.scrollIntoView({ behavior: 'smooth' })
                this.saving = false
            } else {
                // IF VALIDATION SUCCEED : SAVE
                const evaluation = ({ ...this.evaluation })
                await this.$store.dispatch('saveEvaluation', evaluation)

                if (this.stepView !== 5) {
                    this.$store.commit('setStepView', evaluation.current_step + 1)
                    this.$router.push(`/evaluations/${this.$route.params.id}/${evaluation.current_step + 1}`)
                } else {
                    this.$router.push(`/evaluations/${this.$route.params.id}/resultats`)
                }

                this.saving = false
                this.$store.dispatch('getAllGraphsForEvaluation', this.evaluation.id)
            }
        },
        async edit () {
            if (confirm('La modification de cette étape entraîne la suppression des données des étapes ultérieures. Souhaitez-vous continuer ?')) {
                this.modifying = true;
                const evaluation = ({...this.evaluation, current_step : this.stepView})
                try {
                    await this.$store.dispatch('saveDraftEvaluation', evaluation)
                    this.modifying = false;
                } catch (e) {
                    this.modifying = false;
                    this.toaster(this, 'Impossible de modifier l\'évaluation', 'bg-warning')
                }

                // DELETE NEXT STEPS TO DO

                // remove graph data from store
                this.$store.commit('removeGraphData', {id: this.evaluation.id})
                this.$store.dispatch('getAllGraphsForEvaluation', this.evaluation.id)
            }
        }
    }
}
</script>
