<template>
    <div class="position-relative" style="height: 150px;">
        <p id="level_label" :class="level === 3 && isResult && 'custom-crown'">
            <i v-if="level === 3 || expectedLevel === 3" class="fas fa-crown"></i>

            <span class="text-muted text-uppercase small">Niveau</span>  <br/>
            <span class="h1">{{level}}</span>
            <span v-if="expectedLevel > level && !nextLevel">
                <i id="circle-arrow" class="fas fa-angle-double-right"></i>
                <span class="h1">{{expectedLevel}}</span>
            </span>
            <span v-if="nextLevel && nextLevel > level">
                <i id="circle-arrow" class="fas fa-angle-double-right"></i>
                <span class="h1">{{nextLevel}}</span>
            </span>
        </p>
        <div v-if="isResult && level === 3">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="#468355" viewBox="0 0 16 16">
                <path d="m8 1.288 6.842 5.56L12.267 15H3.733L1.158 6.847 8 1.288zM16 6.5 8 0 0 6.5 3 16h10l3-9.5z"/>
            </svg>

            <svg
                xmlns="http://www.w3.org/2000/svg" width="110"
                height="110" fill="#468355"
                viewBox="0 0 16 16"
                style="top: 23px">
                <path d="m8 0 8 6.5-3 9.5H3L0 6.5 8 0z"/>
            </svg>
        </div>

        <div v-else>
            <!-- BASE CIRCLE -->
            <svg
                :height="radius * 2"
                :width="radius * 2"
            >
                <circle
                    stroke="lightgray"
                    :stroke-dasharray="circumference + ' ' + circumference"
                    :style="{ strokeDashoffset: fulloffset }"
                    :stroke-width="stroke"
                    fill="transparent"
                    :r="normalizedRadius"
                    :cx="radius"
                    :cy="radius"
                />
            </svg>
            <!-- EXPECTED LEVEL -->
            <!--  -->
            <svg
                v-if="expectedLevel && expectedColor && expectedProgress && !nextLevel"
                :height="radius * 2"
                :width="radius * 2"
            >
                <circle
                    :stroke="expectedColor"
                    :stroke-dasharray="circumference + ' ' + circumference"
                    :style="{ strokeDashoffset: strokeDashoffsetExpected }"
                    :stroke-width="stroke"
                    fill="transparent"
                    :r="normalizedRadius"
                    :cx="radius"
                    :cy="radius"
                />
            </svg>
            <svg
                v-if="nextLevel && nextColor && nextProgress"
                :height="radius * 2"
                :width="radius * 2"
            >
                <circle
                    :stroke="nextColor"
                    :stroke-dasharray="circumference + ' ' + circumference"
                    :style="{ strokeDashoffset: strokeDashoffsetNext }"
                    :stroke-width="stroke"
                    fill="transparent"
                    :r="normalizedRadius"
                    :cx="radius"
                    :cy="radius"
                />
            </svg>
            <!-- ACTUAL LEVEL -->
            <svg
                :height="radius * 2"
                :width="radius * 2"
            >
                <circle
                    :stroke="color"
                    :stroke-dasharray="circumference + ' ' + circumference"
                    :style="{ strokeDashoffset: strokeDashoffset }"
                    :stroke-width="stroke"
                    fill="transparent"
                    :r="normalizedRadius"
                    :cx="radius"
                    :cy="radius"
                />
            </svg>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MeasureLevelCircle',
    props: ['radius', 'stroke', 'level', 'expectedLevel', 'isResult', 'nextLevel'],
    data () {
        return {

        }
    },
    computed: {
        color () {
            switch (this.level) {
            case 0:
                return '#454545' // black
            case 1:
                return '#D63F49' // red
            case 2:
                return '#FFC107' // warning
            case 3:
                return '#468355' // green
            default:
                return 'transparent'
            }
        },
        expectedColor () {
            switch (this.expectedLevel) {
            case 0:
                return '#454545'
            case 1:
                return '#D63F49'
            case 2:
                return '#FFC107'
            case 3:
                return '#468355'
            default:
                return 'transparent'
            }
        },
        nextColor () {
            switch (this.nextLevel) {
            case 0:
                return '#454545'
            case 1:
                return '#D63F49'
            case 2:
                return '#FFC107'
            case 3:
                return '#468355'
            default:
                return 'transparent'
            }
        },

        progress () {
            switch (this.level) {
            case 0:
                return 15
            case 1:
                return 33
            case 2:
                return 66
            case 3:
                return 100
            default:
                return 0
            }
        },
        expectedProgress () {
            switch (this.expectedLevel){
            case 0:
                return 15
            case 1:
                return 33
            case 2:
                return 66
            case 3:
                return 100
            default:
                return 0
            }
        },
        nextProgress () {
            switch (this.nextLevel){
            case 0:
                return 15
            case 1:
                return 33
            case 2:
                return 66
            case 3:
                return 100
            default:
                return 0
            }
        },

        normalizedRadius () {
            return this.radius - this.stroke * 2;
        },
        circumference () {
            return this.normalizedRadius * 2 * Math.PI;
        },
        strokeDashoffset() {
            return this.circumference - this.progress / 100 * this.circumference;
        },
        fulloffset () {
            return this.circumference - 100 / 100 * this.circumference;
        },
        strokeDashoffsetExpected() {
            return this.circumference - this.expectedProgress / 100 * this.circumference;
        },
        strokeDashoffsetNext() {
            return this.circumference - this.nextProgress / 100 * this.circumference;
        },
    },
}
</script>

<style scoped>
.fa-crown {
    position: absolute;
    font-size: 90px;
    left: 0;
    color: rgba(0,128,0, 0.1);
    width: 100%;
}
.custom-crown  .fa-crown{
    font-size: 80px;
    color: rgba(255,255,255, 0.1);
    z-index: 1;
}
svg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
circle {
    transform: rotate(-90deg);
    transform-origin: center;
}
#level_label {
    z-index: 1;
    position:absolute;
    top : 25%;
    left: 0;
    right: 0;
    text-align: center;
}
.custom-crown#level_label {
    top: 30%;
}
.custom-crown#level_label > span {
    z-index: 1;
    color: white!important;
}

#circle-arrow {
    position: relative;
    top: -0.5em;
}
</style>
