<template>
    <div v-if="evaluation" class="row mb-5">
        <div v-for="step in steps" :key="step.num" class="col">
            <div :class="stepView == step.num && 'font-weight-bold'" @click="setStepView(step.num)">
                <div v-if="evaluation.current_step > step.num" class="step-done step button">
                    <div class="checkmark">
                        <i class="fas fa-check bg-success" :style="stepView == step.num ? 'background-color: rgb(85, 200, 85) !important' : ''"></i>
                    </div>
                    <span v-if="step.num <= 4" class="line bg-success"></span>
                    <div class="text-sm">
                        {{step.title}} - Terminé
                    </div>
                    <div>
                        {{step.name}}
                    </div>
                </div>
                <div v-if="evaluation.current_step === step.num" class="step-done step button">
                    <div class="checkmark" >
                        <i class="fas fa-spinner bg-info"></i>
                    </div>
                    <span v-if="step.num <= 4" class="line bg-info"></span>
                    <div class="text-sm">
                        {{step.title}} - En cours
                    </div>
                    <div>
                        {{step.name}}
                    </div>
                </div>
                <div v-if="evaluation.current_step < step.num" class="step-done">
                    <div class="checkmark">
                        <i class="fas fa-lock bg-primary text-white"></i>
                    </div>
                    <span v-if="step.num <= 4" class="line bg-primary"></span>
                    <div class="text-sm">
                        {{step.title}} - En attente
                    </div>
                    <div>
                        {{step.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'EvaluationSteps',
    props: ['evaluation', 'stepView'],
    data () {
        return {
            steps: [
                {
                    num: 1,
                    name: 'Dangers',
                    title: 'Étape 1'
                },
                {
                    num: 2,
                    name: 'Mesures de sécurité',
                    title: 'Étape 2'
                },
                {
                    num: 3,
                    name: 'Synthèse des mesures de sécurité',
                    title: 'Étape intermédiaire'
                },
                {
                    num: 4,
                    name: 'Plan d\'action',
                    title: 'Étape 3'
                },
                {
                    num: 5,
                    name: 'Mesurer la maturité cyber',
                    title: 'Étape 4'
                }
            ]
        }
    },
    methods: {
        setStepView (stepNum) {
            console.log('setStepView', stepNum, stepNum <= this.evaluation.current_step)

            if (stepNum <= this.evaluation.current_step && parseInt(this.stepView) !== parseInt(stepNum)) {
                this.$store.commit('setStepView', stepNum)
            }
        }
    }
}
</script>

<style scoped>
.checkmark {
    position: relative;
}
.checkmark i {
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 0.4rem;
    width: 2.2rem;
    text-align: center;
    line-height: 1.4rem;
    height: 2.2rem;
    color: white;
}
.step.button {
    cursor: pointer;
}
.line {
    position: absolute;
    display: block;
    top: 1rem;
    left: 4rem;
    right: 0.8rem;
    height: 2px;
}
</style>
