<template>
    <div class="col-md-12 mb-4">
        <label class="mb-0" :class="{ 'text-danger': submitted && $v.levelId.$invalid }" :for="`danger${danger.id}`">
            <strong>{{ danger.name }}</strong> <i class="text-muted text-sm">(Obligatoire)</i>
        </label> <br>

        <div class="mb-2">
            {{ danger.description }}
        </div>

        <div class="form-check">
            <select
                :id="`danger${danger.id}`"
                v-model="levelId"
                class="form-control col-12 col-md-6 col-lg-4 col-xl-2"
                :disabled="!isEditable"
                :class="{ 'is-invalid': submitted && $v.levelId.$invalid }"
            >
                <option value=""></option>
                <option
                    v-for="l in danger.levels"
                    :key="l.id"
                    :value="l.id"
                >
                    {{ l.name }}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
    name: 'DangerLine',
    props: ['danger', 'evaluation', 'isEditable', 'submitted'],
    data () {
        return {
        }
    },
    validations: {
        levelId: { required }
    },
    computed: {
        levelId: {
            get() {
                const level = this.evaluation && this.evaluation.danger_levels.find( dl => dl.danger_id === this.danger.id)
                return level ? level.danger_level_id : null
            },
            set(newValue) {
                const evaluation = { ...this.evaluation }

                evaluation.danger_levels = this.evaluation.danger_levels.map(dl => dl.danger_id === this.danger.id ? ({...dl, danger_level_id : newValue }) : dl)
                this.$store.commit('updateEvaluation', evaluation)
            }
        },
    },
    methods: {
        checkValidation () {
            this.$v.$touch()
            return !this.$v.$invalid;
        }
    }
}
</script>
