<template>
    <div v-if="evaluation">
        <button class="btn btn-outline-primary" @click.prevent="$router.push('/evaluations')">
            <i class="fas fa-arrow-left"></i> Retour à la liste des évaluations
        </button>
        <a
            class="btn btn-outline-primary"
            :href="`/pdf/dossierCyberSecurite/${evaluation.organization_id}/${evaluation.id}`"
            target="_blank"
        >
            <i class="fas fa-print"></i> Imprimer l'évaluation
        </a>
        <button
            v-if="user && user.data && user.data.role <= $store.state.user.roles.ROLE_MANAGER"
            class="btn btn-outline-primary"
            @click.prevent="editRow()"
        >
            <i v-if="editing" class="fas fa-spin fa-spinner"></i>
            <i v-else class="fas fa-pencil-alt"></i>
            Modifier l'évaluation
        </button>

        <div class="row" style="max-width: 1200px;margin: 0 auto">
            <div class="col-md-12">
                <Dangers :evaluation="evaluation" />
                <Measures :evaluation="evaluation" />
                <div class="card">
                    <div class="card-header py-1 bg-warning">
                        <div class="card-title">
                            Vraisemblance de réussite des scénarios d'attaque
                        </div>
                    </div>
                    <div class="card-body">
                        <AttackGraph :evaluation="evaluation" :max-height="'400px'" />
                    </div>
                </div>
                <PlanAction :evaluation="evaluation" />
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header py-1 bg-info text-white">
                        <div class="card-title">
                            Niveau d'exposition aux risques cyber actuel et futur
                        </div>
                    </div>
                    <div class="card-body">
                        <FutureRiskGraph :evaluation="evaluation"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <MaturityCyber :evaluation="evaluation"/>
            </div>
            <div class="col-md-6">
                <Historic :evaluation="evaluation" />
            </div>
        </div>
    </div>
    <NotFound v-else/>
</template>

<script>
import Dangers from '../Components/Results/Dangers'
import Measures from '../Components/Results/Measures'
import AttackGraph from '../Components/Step3/AttackGraph'
import PlanAction from '../Components/Results/PlanAction'
import MaturityCyber from '../Components/Results/MaturityCyber'
import Historic from '../Components/Results/Historic'
import NotFound from "../../../Errors/NotFound";
import FutureRiskGraph from "../Components/Step5/FutureRiskGraph";


export default {
    name: 'SingleEvaluationView',
    components: {
        FutureRiskGraph,
        NotFound,
        Dangers,
        Measures,
        AttackGraph,
        PlanAction,
        MaturityCyber,
        Historic,
    },
    data() {
        return {
            editing: false,
        }
    },
    computed: {
        evaluation () {
            return this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
        },
        user () {
            return this.$store.state.user
        },
    },
    methods : {
        async editRow () {
            if (this.evaluation.status === 2 && confirm('L’évaluation est terminée, êtes-vous sûr de vouloir modifier cette évaluation ?')) {
                this.editing = true
                await this.$store.dispatch('saveDraftEvaluation', {...this.evaluation, current_step : 5})
                await this.$router.push(`/evaluations/${this.evaluation.id}/5`)
                this.editing = false;
            }
        },
        alert(msg) {
            window.alert(msg)
        }
    }
}
</script>
<style scoped>
.btn-outline-primary {
    color: #28285B;
    border-color: #28285B;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #28285B;
    border-color: #28285B;
}
</style>
