<template>
    <div
        v-if="errors"
        ref="ErrorBlock"
        class="row"
    >
        <div class="col-12">
            <div
                v-if="errors.status === 422"
                class="alert alert-danger"
            >
                <i class="fas fa-ban" /> <strong>Erreur de validation</strong>
                <div
                    v-for="(err, i) in Object.values(errors.errors.errors)"
                    :key="i"
                >
                    {{ err.join(', ') }}
                </div>
            </div>
            <div
                v-else
                class="alert alert-danger"
            >
                <i class="fas fa-ban" />
                Erreur serveur&nbsp;: {{ errors.errors.message }}
            </div>
        </div>
    </div>
</template>
<script>

export default {
    name: 'ErrorBlock',
    props: ['errors'],
    methods: {
        checkValidation () {
            return true
        }
    }
}
</script>
