<template>
    <div class="login-page" >
        <div class="login-box">
            <div class="card">
                <div
                    class="login-logo"
                    style="background-color: #28285B"
                >
                    <img
                        class="fit-picture"
                        src="/images/logoblancetorange.png"
                        width="80%"
                        alt="Logo Madis"
                        style="margin-top: 10px; margin-bottom:10px;"
                    >
                </div>
                <div class="card-body login-card-body">
                    <div class="text-center">
                        <p>Connectez vous pour accéder à l'application</p>
                    </div>
                    <div
                        v-if="error"
                        class="alert alert-danger"
                    >
                        <h5><i class="icon fas fa-ban" /> Connexion impossible</h5>
                        {{ errorMessage }}
                    </div>
                    <form @submit.prevent="submit">
                        <div
                            class="input-group mb-3"
                            data-children-count="1"
                        >
                            <input
                                v-model="email"
                                type="email"
                                name="email"
                                class="form-control"
                                value=""
                                placeholder="Email"
                                style="color: rgb(49, 49, 49);"
                            >
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope" />
                                </div>
                            </div>
                        </div>

                        <div
                            class="input-group mb-3"
                            data-children-count="1"
                        >
                            <input
                                v-model="password"
                                type="password"
                                name="password"
                                class="form-control "
                                placeholder="Mot de passe"
                                style="color: rgb(49, 49, 49);"
                            >
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock" />
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-1 small text-right">
                            <a
                                href="#"
                                @click="userModalOpen=true"
                            >
                                J'ai oublié mon mot de passe
                            </a>
                        </div>
                        <EditMailModal
                            v-if="userModalOpen"
                            @close="userModalOpen=false"
                        />
                        <div class="row mt-4 pt-2 mb-2">
                            <div class="col-6 pr-0">
                                <div
                                    class="icheck-primary"
                                    data-children-count="1"
                                >
                                    <input
                                        id="remember"
                                        type="checkbox"
                                        name="remember"
                                    >
                                    <label class="form-check-label small" for="remember">
                                        Se souvenir de moi
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <button
                                    type="submit"
                                    class="btn btn-primary btn-block btn-flat"
                                    style="white-space: nowrap;"
                                    :disabled="sending"
                                >
                                    <i
                                        v-if="sending"
                                        class="fas fa-spin fa-spinner"
                                    />
                                    Connexion
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'Login',
    data () {
        return {
            userModalOpen: false,
            email: '',
            password: '',
            error: false,
            errorMessage: false,
            sending: false
        }
    },
    methods: {
        async submit () {
            this.error = false
            this.sending = true
            try {
                await axios.get('/sanctum/csrf-cookie')
            } catch (e) {
                this.errorMessage = 'Erreur de connexion au serveur. Veuillez en informer votre administrateur.'
                this.error = true
                this.sending = false
            }
            try {
                await axios.post('login', { email: this.email, password: this.password })
                this.$store.commit('unsetPreviousUser')
            } catch (e) {
                this.errorMessage = e.response.data ? e.response.data.message : null
                this.error = true
                this.sending = false
            }

            try {
                await this.$store.dispatch('getUser')
                this.sending = false
                this.$router.push('/')
            } catch (e) {
                this.errorMessage = 'Connexion impossible, veuillez vérifier votre email et votre mot de passe ou votre compte est inactif.'
                this.error = true
                this.sending = false
            }
        }
    }
}
</script>
<style>
    .login-footer{
        position: fixed;
        bottom:0px;
        width:100%;
    }
</style>
