<template>
    <div :class="'wrapper ' + (user ? 'sidebar-mini ' : '') + (user ? (collapsed ? 'sidebar-collapse ' : '') : '') + (user ? (closed ? 'sidebar-closed ' : 'sidebar-open ') : '')">
        <!--        Top menu-->
        <nav
            v-if="user"
            class="main-header navbar navbar-expand navbar-dark"
        >
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        data-widget="pushmenu"
                        href="#"
                        role="button"
                        @click="toggleSidebar"
                    >
                        <i class="fas fa-bars" />
                    </a>
                </li>
            </ul>
            <ul
                v-if="previousUser"
                class="navbar-nav  me-auto mb-2 mb-lg-0 my-2"
            >
                <li class="nav-item">
                    <span class="alert alert-danger py-1">
                        Connecté en tant que {{ user.firstname }} {{ user.lastname }}
                        <a
                            href="#"
                            class="text-white"
                            @click.prevent="logout"
                        >
                            Déconnexion
                        </a>
                    </span>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a
                        id="navbarDropdown"
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        {{ user.firstname }} {{ user.lastname }} - {{ roleText }}
                    </a>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdown"
                    >
                        <li>
                            <router-link
                                to="/profil"
                                class="dropdown-item"
                            >
                                <i class="fas fa-user small mr-2" />
                                Mon profil
                            </router-link>
                        </li>
                        <li>
                            <button
                                class="btn dropdown-item"
                                @click="logout"
                            >
                                <i class="fas fa-power-off small mr-2" /> Déconnexion
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!--        Side bar-->

        <Side v-if="user" />

        <div class="content-wrapper bg-light">
            <PageHeader />
            <router-view />
        </div>
        <div
            v-if="!closed"
            class="sidebar-closed-overlay"
            @click="close"
        />
        <div
            v-if="loading"
            class="loader full d-flex align-content-center align-items-center justify-content-center bg-light"
        >
            <i class="fas fa-spinner fa-spin" />
        </div>

        <div :class="footerClass()">
            <b>© {{ footer_year }} <a :href='footer_link' class="text-white text-decoration-underline" target="_blank" >{{ footer_name }}</a></b>
            <span v-if="user && user.organization">: {{ user.organization.name }}</span>

            <div class="float-right d-sm-inline-block">
                <router-link to="/credits" class="text-white text-decoration-underline">Crédits</router-link> | {{$appVersion}}
            </div>
        </div>
    </div>
</template>

<script>
import { isAdmin, isManager, isUser } from '../utils/permissions'
import Side from './Menu/Side'
import PageHeader from './Menu/PageHeader'

export default {
    name: 'App',
    components: {
        Side,
        PageHeader
    },
    data () {
        return {
            isAdmin,
            isManager,
            isUser,
            collapsed: false,
            closed: false,
            footer_name: process.env.MIX_FOOTER_NAME,
            footer_link: process.env.MIX_FOOTER_LINK,
            footer_year: process.env.MIX_FOOTER_YEAR,
        }
    },
    computed: {
        user () {
            const user = this.$store.state.user.data
            document.body.classList.add('layout-top-nav')
            if (user) {
                document.body.classList.remove('layout-top-nav')
            }

            return user
        },
        roleText () {
            return this.isAdmin() ? 'Administrateur' : this.isManager() ? 'Gestionnaire' : this.isUser() ? 'Lecteur' : ''
        },
        previousUser () {
            return this.$store.state.user.previousUser
        },
        loading () {
            return this.$store.state.loading.loading
        },
    },
    methods: {
        toggleSidebar () {
            // Should open sidebar if on a small screen,
            // but should toggle 'sidebar-collapse' if on large screen
            this.collapsed = !this.collapsed
            if (window.innerWidth < 990) {
                this.closed = !this.closed
                if (this.closed === false) {
                    this.collapsed = false
                }
            }
        },
        close () {
            // Should set sidebar to collapsed and closed
            this.closed = true
            this.collapsed = true
        },
        logout () {
            if (this.$store.state.user.previousUser) {
                this.$store.dispatch('revertUser')
            } else {
                this.$store.dispatch('logout')
            }
        },
        footerClass(){
            if (this.$route.path === '/login'){
                return 'main-footer bg-primary login-footer'
            }
            else {
                return 'main-footer bg-primary'
            }
        }
    }
}
</script>
<style scoped>
.sidebar-closed-overlay {
    position: fixed;
    top: -100px;
    left:0;
    bottom:0;
    right: 0;
    z-index: 1035;
}
@media screen and (min-width: 990px) {
    .sidebar-closed-overlay {
        display:none;
    }
}
</style>
