<template>
    <div>
        <router-link
            to="/territoires/nouveau"
            class="btn btn-primary"
        >
            <i class="fas fa-plus" /> Créer un territoire
        </router-link>
        <div
            v-if="isAdmin()"
            class="bg-white p-3 mt-4"
        >

            <div class="float-right" style="width:calc(100% - 11rem)">
                <div class="mb-3 float-left">
                    <button
                        class="btn btn-outline-primary"
                        @click="resetFilters()"
                    >
                        Réinitialiser les filtres
                    </button>
                </div>
            </div>

            <v-client-table
                ref="table"
                :data="territories"
                :columns="columns"
                :options="options"
            >
                <div slot="filter__name" class="VueTables__list-filter">
                    <input v-model="terName" type="text" class="form-control" placeholder="Nom" />
                </div>
                <div slot="filter__structuresNumber" class="VueTables__list-filter">
                    <input v-model="structuresNumber" type="text" class="form-control" placeholder="Nombre de structures" />
                </div>
                <div slot="structuresNumber" slot-scope="props">
                    {{ props.row.organizations.length }}
                </div>
                <div
                    slot="actions"
                    slot-scope="props"
                >
                    <router-link
                        :to="`/territoires/${props.row.id}`"
                        class="btn btn-light btn-xs"
                    >
                        <i class="fas fa-pen" /> Modifier
                    </router-link>

                    <button
                        v-if="props.row.organizations.length "
                        class="btn btn-light btn-xs"
                        @click="toaster(this, `Le territoire ${props.row.name} a des structures liées. Suppression impossible.`, 'bg-danger');"
                    >
                        <i class="fas fa-trash" /> Supprimer
                    </button>
                    <button
                        v-else
                        class="btn btn-light btn-xs"
                        @click="deleteRow(props.row)"
                    >
                        <i class="fas fa-trash" /> Supprimer
                    </button>
                </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import { isAdmin, isManager } from '../../utils/permissions'
import toaster from '../../utils/toaster'
import diacritic from '../../utils/diacritic'

export default {
    name: 'TerritoiresList',
    data () {
        return {
            isAdmin,
            isManager,
            toaster,
            structuresNumber: null,
            terName: null,
            showArchives : false,
            columns : ['name', 'structuresNumber', 'actions'],
            options : {
                sortIcon: {
                    base: 'fas',
                    is: 'fa-sort',
                    up: 'fa-sort-down',
                    down: 'fa-sort-up'
                },
                sortable: ['name', 'structuresNumber'],
                perPage: 25,
                perPageValues: [],
                texts: {
                    // https://github.com/matfish2/vue-tables-2/blob/master/lib/config/defaults.js
                    filterBy: '{column}',
                    count: "Affichage de l'élément {from} à {to} sur {count} éléments|{count} éléments|1 élément",
                    columns: 'Filtrer les colonnes',
                    defaultOption: '{column}',
                    noResults: 'Aucun résultat'
                },
                columnsDropdown: true,
                filterByColumn: true,
                filterable : [],
                headings: {
                    name: 'Territoire',
                    structuresNumber: 'Nombre de structures'
                },
            }
        }
    },
    computed: {
        territories () {
            return this.$store.state.territories.all
                .filter(o => {
                    return diacritic(true,o.name,this.terName);
                })
                .filter(v => {
                    console.log(this.structuresNumber, v.organizations.length)
                    return this.structuresNumber === null || this.structuresNumber === "" || v.organizations.length === parseInt(this.structuresNumber, 10);
                })
        },
    },
    mounted () {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setUser' && state.user.data.role > state.user.roles.ROLE_ADMIN) {
                this.$router.push('/')
            }
        });
    },
    methods: {
        resetFilters () {
            console.log('reset');
            try {
                this.toaster(this, 'Filtres réinitialisés', 'bg-info');
                this.$refs.table.resetQuery();
                this.structuresNumber = null;
                this.terName = null;
            } catch (e) {
                console.log('error', e)
            }
        },
        deleteRow (item) {
            if (confirm(`Souhaitez-vous vraiment supprimer le territoire ${item.name} ?`)) {
                this.$store.dispatch('deleteTerritory', item)
            }
        },
    }
}
</script>
<style>
</style>
