<template>
    <div>
        <ErrorBlock
            ref="ErrorBlock"
            :errors="errors"
        />
        <div
            v-if="measure"
            class="row"
        >
            <div class="col-md-6">
                <InformationsBlock
                    ref="InformationsBlock"
                    :measure="measure"
                    :submitted="submitted"
                />
                <!-- LEVEL 0 CUSTOM BLOCK -->
                <div class="card card-light">
                    <div class="card-header py-1 text-white bg-dark">
                        <div class="card-title">Niveau 0</div>
                    </div>
                    <div class="card-body">
                        <label class="m-0">Label mis en place :</label>
                        <span>{{ measure.level0_actual_label }}</span>
                    </div>
                </div>
                <!-- END LEVEL 0 -->

                <LevelBlock
                    ref="Level1"
                    title="Niveau 1"
                    :level="measure.levels[1]"
                    :submitted="submitted"
                    bg="bg-danger"
                />
            </div>
            <div class="col-md-6">
                <LevelBlock
                    ref="Level2"
                    title="Niveau 2"
                    :level="measure.levels[2]"
                    :submitted="submitted"
                    bg="bg-warning"
                />
                <LevelBlock
                    ref="Level3"
                    title="Niveau 3"
                    :level="measure.levels[3]"
                    :submitted="submitted"
                    bg="bg-success"
                />
            </div>

            <div class="col-md-12">
                <div class="card text-center p-2">
                    <div>
                        <router-link
                            to="/mesures"
                            class="btn btn-outline-primary"
                        >
                            Retour à la liste des mesures
                        </router-link>
                        <button
                            class="btn btn-primary"
                            @click="save()"
                        >
                            <i
                                v-if="isSaving"
                                class="fas fa-spinner fa-spin"
                            /> Modifier la mesure
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <NotFound v-else/>
    </div>
</template>
<script>
import ErrorBlock from '../../../utils/ErrorBlock.vue'
import InformationsBlock from './InformationsBlock.vue'
import LevelBlock from './LevelBlock.vue'

import getBase64 from '../../../utils/getBase64'
import toaster from '../../../utils/toaster'
import { isAdmin } from '../../../utils/permissions'
import NotFound from "../../Errors/NotFound";

export default {
    name: 'SingleMeasure',
    components: {
        NotFound,
        ErrorBlock,
        InformationsBlock,
        LevelBlock
    },
    beforeRouteEnter (to, from, next) {
        next(vm => {
            vm.$store.commit('setErrors', null)
        })
    },
    data () {
        return {
            toaster,
            isAdmin,
            submitted: false,
            isSaving: false,
            measure: this.$store.state.measures.all.find(u => u.id === parseInt(this.$route.params.id, 10))
        }
    },
    computed: {
        errors () {
            return this.$store.state.organizations.errors
        }
    },
    mounted () {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setMeasures') {
                this.measure = state.measures.all.find(u => u.id === parseInt(this.$route.params.id, 10))
            }
        })
    },
    methods: {
        save () {
            this.submitted = true
            this.isSaving = true

            // getBase64(this.measure.levels[0].file).then(console.log('test'))
            console.log('this.$refs', this.$refs)

            // CHECK BLOCK VALIDATION
            const validation = []
            Object.keys(this.$refs).forEach(block => {
                validation.push(this.$refs[block].checkValidation())
            })

            if (validation.includes(false)) {
                this.toaster(this, 'Veuillez remplir tous les champs obligatoires', 'bg-warning')
                this.$refs.InformationsBlock.$el.scrollIntoView({ behavior: 'smooth' })
                this.isSaving = false
            } else {
                const levels = this.measure.levels.filter((l, i) => i !== 0); // REMOVE LEVEL0 BECAUSE NO FILE

                const promises = levels.map((l, i) => { // CONVERT FILE FROM LEVEL 1/2/3 TO BASE64
                    const levelFile = this.$refs[`Level${i+1}`].level.file

                    const finalFile = levelFile && levelFile.files && levelFile.files.length ? levelFile.files[0] : levelFile
                    return { ...l, file: finalFile instanceof File ? getBase64(finalFile) : null }
                })
                Promise.all(promises.map(level => level.file))
                    .then(results => {
                        results.forEach((base64File, i) => { // APPLY BASE64FILE TO LEVELS
                            levels[i].file = base64File
                        })
                        this.$store.dispatch('updateMeasure', {...this.measure, levels}) // SEND LEVELS WITHOUT LEVEL0 FOR BACKEND
                            .then(() => {
                                this.$router.push('/mesures')
                                this.isSaving = false
                            })
                            .catch(() => {
                                this.$refs.ErrorBlock.$el.scrollIntoView({ behavior: 'smooth' })
                                this.isSaving = false
                            })
                    })
            }
        }
    },
    beforeRouteLeav (to, from, next) {
        next(vm => {
            vm.$store.commit('setErrors', null)
        })
    }
}
</script>
