<template>
    <div class="card card-primary">
        <div class="card-header py-1">
            <div class="card-title">
                Informations générales
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Nom de la mesure : </label>
                <span>{{ measure.name }} </span>
            </div>
            <div class="form-group m-0">
                <label>Nom court : </label>
                <span> {{ measure.short_name }} </span>
            </div>
        </div>
    </div>
</template>
<script>
import { isAdmin } from '../../../utils/permissions'

export default {
    name: 'InformationsBlock',
    props: ['measure', 'isEditing', 'submitted'],
    data () {
        return {
            isAdmin
        }
    },
    methods: {
        checkValidation () {
            return true
        }
    }
}
</script>
