<template>
    <div v-if="level" class="card card-light">
        <div
            class="card-header py-1 text-white"
            :class="bg"
        >
            <div class="card-title">
                {{ title }}
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="m-0">Label mis en place :</label>
                <span>{{ levelEdit.actual_label }}</span>
            </div>
            <div class="form-group">
                <label class="m-0">Label préconisation :</label>
                <span>{{ levelEdit.preconized_label }}</span>
            </div>



            <div class="form-group">
                <label
                    class="m-0"
                >Description</label>
                <div
                    v-html="levelEdit.description"
                />
            </div>

            <!-- FILE -->
            <div class="form-group">
                <div v-if="hasDefaultFile">
                    <label class="m-0">Fiche existante : </label>
                    <a
                        class="btn btn-link p-0"
                        :href="defaultFile"
                        target="_blank"
                    >
                        Télécharger la fiche
                    </a>
                </div>
            </div>

            <div class="form-group">
                <div v-if="hasDefaultFile">
                    <label
                        class="m-0"
                        :class="{ 'text-danger': submitted && $v.levelEdit.file.$error }"
                        :for="`file${level.level}`"
                    >Remplacer la fiche</label>
                </div>
                <div v-else>
                    <label
                        class="m-0"
                        :class="{ 'text-danger': submitted && $v.levelEdit.file.$error }"
                        :for="`file${level.level}`"
                    >Ajouter une fiche</label>
                </div>
                <div class="small text-muted">
                    Un seul fichier.
                    <span :class="levelEdit.file && !$v.levelEdit.file.fileSize && 'text-danger'">Taille maximale autorisée : 5Mo. </span>
                    <span :class="levelEdit.file && !$v.levelEdit.file.fileExtension && 'text-danger'">Types de fichier autorisés : PDF </span>
                </div>
                <input
                    :id="`file${level.level}`" ref="file"
                    type="file"
                    lang="fr"
                    class="form-control-file"
                    :class="{ 'is-invalid': submitted && $v.levelEdit.file.$error }"
                    @change="uploadFile"
                >
            </div>
            <!-- END FILE -->
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.levelEdit.difficulty.$error }" :for="`difficulty${level.level}`">Niveau de difficulté de l'action <i class="text-muted small">(Obligatoire)</i></label>
                <select
                    :id="`difficulty${level.level}`"
                    v-model="levelEdit.difficulty"
                    class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.levelEdit.difficulty.$error }"
                >
                    <option
                        v-for="key in Object.keys(difficulty)"
                        :key="difficulty[key]"
                        :value="difficulty[key]"
                    >
                        {{ key }}
                    </option>
                </select>
                <div
                    v-if="$v.levelEdit.difficulty.$error"
                    class="text-danger"
                >
                    Champ obligatoire
                </div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.levelEdit.cost.$error }" :for="`cost${level.level}`">Coût estimé pour la mise en œuvre de l'action <i class="text-muted small">(Obligatoire)</i></label>
                <input
                    :id="`cost${level.level}`"
                    v-model="levelEdit.cost" type="text"
                    class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.levelEdit.cost.$error }"
                >
                <div
                    v-if="$v.levelEdit.cost.$error"
                    class="text-danger"
                >
                    Champ obligatoire
                </div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.levelEdit.duration.$error }" :for="`duration${level.level}`">Temps estimé pour la mise en œuvre de l'action <i class="text-muted small">(Obligatoire)</i></label>
                <input
                    :id="`duration${level.level}`"
                    v-model="levelEdit.duration" type="text"
                    class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.levelEdit.duration.$error }"
                >
                <div
                    v-if="$v.levelEdit.duration.$error"
                    class="text-danger"
                >
                    Champ obligatoire
                </div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.levelEdit.assistance.$error }" :for="`assistance${level.level}`">Besoin d'accompagnement <i class="text-muted small">(Obligatoire)</i></label>
                <select
                    :id="`assistance${level.level}`"
                    v-model="levelEdit.assistance" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.levelEdit.assistance.$error }"
                >
                    <option
                        v-for="key in Object.keys(assistance)"
                        :key="assistance[key]"
                        :value="assistance[key]"
                    >
                        {{ key }}
                    </option>
                </select>
                <div
                    v-if="$v.levelEdit.assistance.$error"
                    class="text-danger"
                >
                    Champ obligatoire
                </div>
            </div>
            <div class="form-group">
                <label class="m-0">Informations pratiques</label>
                <div class="small text-muted">
                    (Coût, difficulté de mise en œuvre, prestataire...)
                </div>
                <ckeditor
                    v-model="levelEdit.info"
                    :editor="editor"
                    :config="editorConfig"
                />
            </div>
        </div>
    </div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
import '@ckeditor/ckeditor5-build-classic/build/translations/fr'
import { required } from 'vuelidate/lib/validators'

export default {
    name: 'LevelBlock',
    props: ['level', 'title', 'submitted', 'bg'],
    data () {
        return {
            defaultFile: this.level && this.level.file,
            editor: ClassicEditor,
            editorConfig: {
                toolbar: ['bold', 'italic', '|', 'undo', 'redo', '|', 'numberedList', 'bulletedList', '|', 'outdent', 'indent'],
                language: 'fr'
            },
            levelEdit: this.level,
        }
    },
    computed: {
        difficulty () {
            return this.$store.state.measures.difficulty
        },
        assistance () {
            return this.$store.state.measures.assistance
        },
        hasDefaultFile () {
            return typeof this.defaultFile === 'string' && this.defaultFile.length
        }
    },
    validations: {
        levelEdit: {
            description: { required },
            difficulty: { required },
            cost: { required },
            duration: { required },
            assistance: { required },
            file: {
                fileSize () { return this.levelEdit.file && this.levelEdit.file.size ? this.levelEdit.file.size / (1024 * 1024) < 5 : true },
                fileExtension () { return this.levelEdit.file && this.levelEdit.file.type ? ['application/pdf'].includes(this.levelEdit.file.type) : true }
            }
        }
    },
    methods: {
        checkValidation () {
            this.$v.$touch()
            return !this.$v.$invalid
        },
        uploadFile () {
            this.levelEdit.file = this.$refs.file.files[0]
        }
    }
}
</script>
