<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3">Plan d'action</h5>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Actions à réaliser</th>
                        <th>Date limite de mise en œuvre</th>
                        <th>Personne en charge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="!actions || !actions.length">
                        <td colspan="3">Aucune action</td>
                    </tr>
                    <tr v-for="item in actions" :key="item.id">
                        <td>{{ item.level.preconized_label }}</td>
                        <td>{{ item.end_date }}</td>
                        <td>{{ item.manager }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    name: 'ActionPlanTable',
    props : ['currentEvaluation'],
    data () {
        return {
        }
    },
    computed: {
        measures () {
            return this.$store.state.measures.all
        },
        actions () {
            return this.currentEvaluation && this.currentEvaluation.measure_levels
                .filter(level => level.expected_level > level.actual_level)
                .map( level => ({...level,
                    level : this.measures.find(m => m.id === level.measure_id).levels.find(l => l.level === level.expected_level) ,
                    end_date : moment(level.end_date).format('DD/MM/YYYY')
                }
                ))
        }
    }
}
</script>
