<template>
    <div v-if="plannedMeasures && plannedMeasures.length > 0" class="col-md-6">
        <div class="card flex-row">
            <div class="col-4 bg-primary">
                <i class="fas fa-crosshairs" style="font-size: 50px;"></i>
            </div>
            <div class="card-body col-8">
                <div class="card-text">
                    Actions réalisées <br />
                    <div class="small font-weight-bold">{{ doneMeasures ? doneMeasures.length : 0 }} sur {{ plannedMeasures ? plannedMeasures.length : 0 }}</div>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" :style="{ 'width' : `${plannedMeasures && doneMeasures ? doneMeasures.length / plannedMeasures.length * 100 : 0}%`}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/* 2 : nombre de niveaux de mesure mises en place qui avait précédemment été planifiés dans l’évalution précédente
4 : nombre de mesures planifiées dans l’évaluation précédente */
export default {
    name: 'ActionsDoneCard',
    props : ['currentEvaluation', 'previousEvaluation'],
    data () {
        return {
        }
    },
    computed: {
        plannedMeasures () {
            return this.previousEvaluation && this.previousEvaluation.measure_levels.filter(measure => measure.expected_level > measure.actual_level)
        },
        doneMeasures () {
            // Compare lastLevel with currentLevel to know if currentLevel if better
            if (this.currentEvaluation && this.plannedMeasures) {
                return this.currentEvaluation.measure_levels
                    .filter(currentLevel => {
                        const lastLevel = this.plannedMeasures.find(ml => ml.measure_id === currentLevel.measure_id)
                        return lastLevel ? currentLevel.actual_level >= lastLevel.expected_level : false
                    })
            }
            return []
        }
    }
}
</script>
<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
