<template>
    <div class="card flex-row">
        <div class="col-4 bg-primary">
            <i class="fas fa-chart-line" style="font-size: 50px;"></i>
        </div>
        <div class="card-body col-8">
            <div class="card-text">
                Indice de maturité cyber
                <div class="small font-weight-bold">{{ averageCurrentMaturityCyber.toLocaleString('fr') }} / 3</div>
            </div>
            <div class="progress progress-xs">
                <div
                    v-if="averageCurrentMaturityCyber" class="progress-bar bg-success"
                    role="progressbar" :style="{ 'width' : `${averageCurrentMaturityCyber / 3 * 100}%`}"
                    aria-valuemin="0"
                    aria-valuemax="100"></div>
                <div v-else class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div v-if="isFinite(evolutionMaturityCyber)">
                <div v-if="evolutionMaturityCyber === 0" class="mt-1 text-info">
                    <i class="fas fa-equals"></i> <small> {{ evolutionMaturityCyber }} %</small>
                </div>
                <div v-else-if="evolutionMaturityCyber && evolutionMaturityCyber > 0" class="mt-1 text-success">
                    <i class="fas fa-arrow-up"></i> <small>+ {{ evolutionMaturityCyber }} %</small>
                </div>
                <div v-else-if="evolutionMaturityCyber" class="mt-1 text-danger">
                    <i class="fas fa-arrow-down"></i> <small> {{ evolutionMaturityCyber }} %</small>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'MaturityCyberCard',
    props : ['currentEvaluation', 'previousEvaluation'],
    data () {
        return {
            averageCurrentMaturityCyber : 0,
            averagePreviousMaturityCyber : 0,
        }
    },
    computed: {
        // TE REMOVE
        plannedMeasures () {
            return this.previousEvaluation && this.previousEvaluation.measure_levels.filter(measure => measure.expected_level > measure.actual_level)
        },
        evolutionMaturityCyber () {
            const pourcent = (this.averageCurrentMaturityCyber - this.averagePreviousMaturityCyber) / this.averagePreviousMaturityCyber * 100
            return Math.sign(pourcent) * Math.round(Math.abs(pourcent))
        }

    },
    watch : {
        currentEvaluation () {
            this.getAverageCurrentMaturityCyber()
        },
        previousEvaluation () {
            this.getAveragePreviousMaturityCyber()
        },
    },
    mounted () {
        this.currentEvaluation && this.getAverageCurrentMaturityCyber()
        this.previousEvaluation && this.getAveragePreviousMaturityCyber()
    },
    methods : {
        async getAverageCurrentMaturityCyber () {
            await axios.get(`/api/evaluations/${this.currentEvaluation.id}/graphs/maturity`)
                .then( res => {
                    this.averageCurrentMaturityCyber = res.data.data.reduce((a, b) => a + b, 0) / res.data.data.length
                })
        },
        async getAveragePreviousMaturityCyber () {
            await axios.get(`/api/evaluations/${this.previousEvaluation.id}/graphs/maturity`)
                .then( res => {
                    this.averagePreviousMaturityCyber = res.data.data.reduce((a, b) => a + b, 0) / res.data.data.length
                })
        },
    },
}
</script>
<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
