<template>
    <div class="card flex-row">
        <div class="col-4 bg-primary">
            <i class="fas fa-shield-alt" style="font-size: 50px;"></i>
        </div>
        <div class="card-body col-8 py-2">
            <div class="card-text">
                Mise en œuvre des mesures de sécurité
                <div v-if="totalMeasuresLevel" class="small font-weight-bold">{{ Math.round(totalMeasuresLevel / 30 * 100) }} %</div>
                <div v-else class="small font-weight-bold">0 %</div>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-success" role="progressbar" :style="{ 'width' : `${totalMeasuresLevel ? totalMeasuresLevel / 30 * 100 : 0}%`}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</template>

<script>
/* nombre de niveau de mesures de sécurité mis en œuvre /30)*100 */
export default {
    name: 'MeasureCard',
    props : ['currentEvaluation'],
    data () {
        return {
        }
    },
    computed: {
        totalMeasuresLevel () {
            return this.currentEvaluation && this.currentEvaluation.measure_levels.map(level => level.actual_level).reduce((partialSum, a) => partialSum + a, 0);
        }
    }
}
</script>
<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
