<template>
    <div v-if="favoriteMeasures" class="card py-3 px-2">
        <div class="card-title mb-3"> Top 3 des niveaux de mesures de sécurité planifiées</div>

        <div v-for="(ml, i) in favoriteMeasures" :key="i" class="card flex-row">
            <div class="col-2 bg-primary font-weight-bold">
                <span style="font-size: 50px;">{{ i + 1 }}</span>
            </div>
            <div class="card-body col-10 py-2">
                <div class="card-text">
                    {{ ml.short_name }}
                    <div class="small font-weight-bold">Niveau {{ ml.max_levels }}</div>
                </div>
                <div class="progress progress-xs my-1">
                    <div
                        class="progress-bar" role="progressbar"
                        :style="{width: ml.max_levels === 1 ? '33%' :  ml.max_levels  === 2 ? '66%' : ml.max_levels  === 3 ? '100%' : '0%',
                                 background: ml.max_levels === 1 ? '#D63F49' : ml.max_levels === 2 ? '#FFC107' : ml.max_levels === 3 ? '#468355' : 'black'}"
                        aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="card-text">
                    {{ ml.percentage % 1 === 0 ? ml.percentage : ml.percentage.toFixed(2)}} % des structures
                </div>
            </div>
        </div>
        <div v-if="!favoriteMeasures.length" class="text-center small">Aucune mesure</div>
    </div>
</template>

<script>
export default {
    name: 'MeasureCard',
    props : ['organizations'],
    data () {
        return {
        }
    },
    computed: {
        // top-measures déjà ordonné par max_value -> pas besoin de sort
        favoriteMeasures () {
            const favoriteMeasures = []
            this.organizations && this.organizations.top_measures.forEach(ml => {
                if (ml.max_levels.length > 1) {
                    ml.max_levels.forEach( lvl => {
                        favoriteMeasures.push({...ml, max_levels : lvl})
                    })
                } else {
                    favoriteMeasures.push({...ml, max_levels : ml.max_levels[0]})
                }
            })

            return favoriteMeasures.slice(0, 3)
        }

    }
}
</script>
<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
