<template>
    <div class="card flex-row bg-primary">
        <div class="card-body col-8">
            <div class="card-text">
                <div v-if="organizations" class="font-weight-bold h4 m-0">{{ organizations.count }}</div>
                Structures évaluées
            </div>
        </div>
        <div class="col-4">
            <i class="fas fa-home" style="font-size: 50px;"></i>
        </div>
    </div>
</template>

<script>

export default {
    name: 'StructuresEvalueesCard',
    props : ['organizations'],
    data () {
        return {
        }
    },
}
</script>
<style scoped>
.card.flex-row {
    height: 120px;
}
.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>