<template>
    <div
        class="VuePagination"
        :class="props.theme.wrapper"
    >
        <nav :class="props.theme.nav">
            <p
                v-show="props.hasRecords"
                :class="props.theme.count"
            >
                {{ props.count }}
            </p>
            <div class="col-md-6 text-right">
                <ul
                    v-show="props.showPagination"
                    :class="props.theme.list"
                >
                    <li
                        :class="props.theme.prev"
                        @click="props.setPrevPage"
                    >
                        <a
                            class="page-link"
                            v-bind="{...props.aProps,...props.prevProps}"
                        >
                            {{ props.texts.prevPage }}
                        </a>
                    </li>

                    <li
                        v-for="page in props.pages"
                        :key="page"
                        :class="props.pageClasses(page)"
                        v-on="props.pageEvents(page)"
                    >
                        <a
                            class="page-link"
                            v-bind="props.aProps"
                            :class="props.theme.link"
                        >
                            {{ page }}
                        </a>
                    </li>

                    <li
                        :class="props.theme.next"
                        @click="props.setNextPage"
                    >
                        <a
                            class="page-link"
                            v-bind="{...props.aProps, ...props.nextProps}"
                        >
                            {{ props.texts.nextPage }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: 'MyPagination',
    props: ['props'],
    mounted () {
        console.log('props', this.props)
    }
}
</script>
