<template>
    <pagination
        :options="paginationOptions"
        :records="props.records"
        :per-page="props.perPage"
        :value="props.page"
        @input="page => props.setPage(page)"
    />
</template>

<script>
import Pagination from 'vue-pagination-2'
import CustomPagination from './CustomPagination'
export default {
    name: 'MyPagination',
    components: {
        Pagination
    },
    props: ['props'],
    data () {
        return {
            paginationOptions: {
                ...this.props.optionsObj,
                template: CustomPagination,
                theme: {
                    ...this.props.optionsObj.theme,
                    count: 'col-md-6',
                    list: 'pagination float-right',
                    wrapper: 'mt-3',
                    nav: 'row'
                },
                texts: {
                    prevPage: '< Précédent',
                    nextPage: 'Suivant >',
                    count: "Affichage de l'élément {from} à {to} sur {count} éléments|Affichage de l'élément {from} à {to} éléments sur {count} éléments|1 élément"
                }

            }
        }
    }
}
</script>
