<template>
    <div>
        <button
            v-if="user && user.data && user.data.role === $store.state.user.roles.ROLE_MANAGER"
            class="btn btn-primary"
            @click="createRow()"
        >
            <i v-if="creating" class="fas fa-spin fa-spinner"  />
            <i v-else class="fas fa-plus" />
            Créer une évaluation
        </button>

        <div class="bg-white p-3 mt-4">
            <div class="float-right" style="width:calc(100% - 11rem)">
                <div class="mb-3 float-left">
                    <!-- <button class="btn btn-outline-primary">Filtrer les colonnes</button> -->
                    <button
                        class="btn btn-outline-primary"
                        @click="resetFilters()"
                    >
                        Réinitialiser les filtres
                    </button>
                </div>
            </div>
            <v-client-table
                ref="table"
                :data="evaluations"
                :columns="columns"
                :options="options"
            >
                <div slot="updated_at" slot-scope="props">
                    <small v-if="props.row.updated_at">
                        {{ props.row.updated_at.format('DD/MM/YYYY') }}
                    </small>
                    <span v-else class="badge badge-warning">
                        Jamais
                    </span>

                </div>

                <div
                    slot="filter__updated_at"
                    class="VueTables__list-filter"
                >
                    <date-range-picker
                        ref="picker"
                        v-model="dateRange"
                        locale="fr"
                        :locale-data="localeData"
                        :single-date-picker="false"
                        :ranges="false"
                        :time-picker="false"
                        :time-picker24-hour="false"
                        :show-week-numbers="false"
                        :show-dropdowns="true"
                        :auto-apply="true"
                        :append-to-body="true"
                    >
                        <template style="min-width: 350px;">
                            {{ dateRange.startDate ? dateRange.startDate.toLocaleDateString('fr') : '' }}
                            - {{ dateRange.endDate ? dateRange.endDate.toLocaleDateString('fr') : '' }}
                        </template>
                    </date-range-picker>
                </div>

                <div slot="filter__organization" class="VueTables__list-filter">
                    <input v-model="orgName" type="text" class="form-control" placeholder="Structure" />
                </div>

                <div slot="organization" slot-scope="props">
                    {{ props.row.organization && props.row.organization.name}}
                </div>

                <div slot="filter__updated_by" class="VueTables__list-filter">
                    <input v-model="updateName" type="text" class="form-control" placeholder="Modifié par" />
                </div>

                <div slot="updated_by" slot-scope="props">
                    {{ props.row.updated_by }}
                </div>

                <div slot="status" slot-scope="props">
                    <span v-if="props.row.status < 2" class="badge badge-secondary">En cours</span>
                    <span v-else class="badge badge-success">Terminé</span>
                </div>

                <div
                    slot="danger_level"
                    slot-scope="props"
                >
                    <span v-if="props.row.current_step < 1">En attente</span>
                    <span v-if="props.row.current_step === 1">En cours</span>
                    <span v-else-if="props.row.current_step > 1">Terminé</span>
                </div>

                <div
                    slot="measures"
                    slot-scope="props"
                >
                    <span v-if="props.row.current_step === 2">En cours</span>
                    <span v-else-if="props.row.current_step > 2">Terminé</span>
                    <span v-else>En attente</span>
                </div>

                <div
                    slot="plan_action"
                    slot-scope="props"
                >
                    <span v-if="props.row.current_step === 4">En cours</span>
                    <span v-else-if="props.row.current_step > 4">Terminé</span>
                    <span v-else>En attente</span>
                </div>

                <div
                    slot="maturity"
                    slot-scope="props"
                >
                    <span v-if="props.row.current_step === 5">En cours</span>
                    <span v-else-if="props.row.current_step > 5">Terminé</span>
                    <span v-else>En attente</span>
                </div>
                <div

                    slot="actions"
                    slot-scope="props"
                >
                    <span v-if="$reference === props.row.reference">
                        <router-link
                            v-if="props.row.status === 2"
                            :to="`/evaluations/${props.row.id}/resultats`"
                            class="btn btn-light btn-xs"
                        ><i class="fas fa-chart-bar" /> Résultats</router-link>
                        <button
                            v-if="!isUser() && !nextCompletedEvaluation(props.row)"
                            class="btn btn-light btn-xs"
                            @click.prevent="editRow(props.row)"
                        ><i class="fas fa-pen" /> Modifier</button>
                    </span>

                    <a
                        v-else-if="props.row.status === 2"
                        class="btn btn-light btn-xs"
                        :href="`/pdf/dossierCyberSecurite/${props.row.organization_id}/${props.row.id}`"
                        target="_blank"
                    >
                        <i class="fas fa-clipboard-list" /> Rapport
                    </a>
                    <button
                        v-if="!isUser() && !nextCompletedEvaluation(props.row)"
                        class="btn btn-light btn-xs"
                        @click="deleteRow(props.row)"
                    >
                        <i class="fas fa-trash" /> Supprimer
                    </button>
                </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>

import moment from 'moment'
import DateRangePicker from 'vue2-daterange-picker'
import { isAdmin, isUser } from '../../utils/permissions'
import toaster from '../../utils/toaster'
import diacritic from '../../utils/diacritic'

export default {
    name: 'EvaluationsList',
    components: {
        DateRangePicker
    },
    data () {
        return {
            creating: false,
            updateName: null,
            orgName: null,
            dateRange: {
                startDate: null,
                endDate: null
            },
            localeData: {
                direction: 'ltr',
                format: 'mm/dd/yyyy',
                separator: ' - ',
                applyLabel: 'Appliquer',
                cancelLabel: 'Annuler',
                weekLabel: 'W',
                customRangeLabel: 'Dates peronnalisée',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Meu', 'Ven', 'Sam'],
                monthNames: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                firstDay: 1
            },

            isAdmin,
            isUser,
            toaster,
            options: {
                orderBy: {
                    column: 'updated_at',
                    ascending: false
                },
                sortIcon: {
                    base: 'fas',
                    is: 'fa-sort',
                    up: 'fa-sort-down',
                    down: 'fa-sort-up'
                },
                sortable: [
                    'organization',
                    'updated_at',
                    'updated_by',
                    'reference',
                    'status',
                    'danger_level',
                    'measures',
                    'plan_action',
                    'maturity'
                ],
                customSorting: {
                    organization: function (ascending) {
                        return function (a, b) {
                            console.log(a, b)
                            const n1 = a.organization.name.toLowerCase();
                            const n2 = b.organization.name.toLowerCase();
                            console.log(n1, n2)
                            if (ascending) {
                                return n1 >= n2 ? 1 : -1;
                            }

                            return n1 <= n2 ? 1 : -1;
                        }
                    }
                },
                listColumns: {
                    status: [
                        { id: 1, text: 'En cours' },
                        { id: 2, text: 'Terminé' }
                    ],
                    danger_level: [
                        { id: 'En attente', text: 'En attente' },
                        { id: 'En cours', text: 'En cours' },
                        { id: 'Terminé', text: 'Terminé' }
                    ],
                    measures: [
                        { id: 'En attente', text: 'En attente' },
                        { id: 'En cours', text: 'En cours' },
                        { id: 'Terminé', text: 'Terminé' }
                    ],
                    plan_action: [
                        { id: 'En attente', text: 'En attente' },
                        { id: 'En cours', text: 'En cours' },
                        { id: 'Terminé', text: 'Terminé' }
                    ],
                    maturity: [
                        { id: 'En attente', text: 'En attente' },
                        { id: 'En cours', text: 'En cours' },
                        { id: 'Terminé', text: 'Terminé' }
                    ]
                },
                perPage: 25,
                perPageValues: [],
                texts: {
                    // https://github.com/matfish2/vue-tables-2/blob/master/lib/config/defaults.js
                    filterBy: '{column}',
                    count: "Affichage de l'élément {from} à {to} sur {count} éléments|{count} éléments|Un élément",
                    columns: 'Filtrer les colonnes',
                    defaultOption: '{column}',
                    noResults: 'Aucun résultat'
                },
                columnsDropdown: true,
                filterByColumn: true,
                filterable : [
                    'reference',
                    'status',
                    'danger_level', // 1
                    'measures', // 2
                    'plan_action', // 4
                    'maturity' // 5
                ],
                headings: {
                    organization: 'Structure',
                    updated_at: 'Date de modification',
                    updated_by: 'Modifié par',
                    reference: 'Référentiel',
                    status: 'Statut de l\'évaluation',
                    danger_level: 'Dangers',
                    measures: 'Mesure de sécurité',
                    plan_action: 'Plan d\'action',
                    maturity: 'Maturité'
                }
            }
        }
    },
    computed: {
        user () {
            return this.$store.state.user
        },

        evaluations () {
            return this.$store.state.evaluations.all
                .map(u => {
                    u.updated_at = u.updated_at ? moment(u.updated_at) : null
                    u.danger_level = this.stepState(u.current_step, 1)
                    u.measures = this.stepState(u.current_step, 2)
                    u.plan_action = this.stepState(u.current_step, 4)
                    u.maturity = this.stepState(u.current_step, 5)
                    return u
                })
                .filter(u => {
                    return this.dateRange.startDate === null ||
                        this.dateRange.endDate === null ||
                        (u.updated_at && u.updated_at.format('DD/MM/YYYY') >= moment(this.dateRange.startDate).format('DD/MM/YYYY') &&
                        u.updated_at.format('DD/MM/YYYY') <= moment(this.dateRange.endDate).format('DD/MM/YYYY'))
                })
                .filter(o => {
                    return diacritic(o.organization,o.organization.name,this.orgName);
                })
                .filter(v => {
                    return diacritic(v.updated_by,v.updated_by,this.updateName);
                })
        },
        columns () {
            return this.isAdmin()
                ? [
                    'organization',
                    'updated_at',
                    'updated_by',
                    'reference',
                    'status',
                    'danger_level',
                    'measures',
                    'plan_action',
                    'maturity',
                    'actions'
                ]
                : [
                    'updated_at',
                    'updated_by',
                    'reference',
                    'status',
                    'danger_level',
                    'measures',
                    'plan_action',
                    'maturity',
                    'actions'
                ]
        },
    },
    methods: {
        nextCompletedEvaluation (evaluation) {
            return this.$store.state.evaluations.all.find(e => {
                return e.organization_id === evaluation.organization_id
                && e.status === 2
                && new Date(e.updated_at) > new Date(evaluation.updated_at)
                && e.reference === this.$reference
                && evaluation.reference === this.$reference
                && e.id !== evaluation.id
            })
        },
        resetFilters () {
            try {
                this.dateRange.startDate = null
                this.dateRange.endDate = null

                this.toaster(this, 'Filtres réinitialisés', 'bg-info')
                this.$refs.table.resetQuery()
                this.orgName = null
                this.updateName = null
            } catch (e) {
                console.log('error', e)
            }
        },
        stepState (currentStepNumber, stepNumber) {
            return parseInt(currentStepNumber) === parseInt(stepNumber) ? 'En cours' : currentStepNumber > stepNumber ? 'Terminé' : 'En attente'
        },
        createRow () {
            this.creating = true;
            this.$store.dispatch('saveDraftEvaluation', {
                updated_by: `${this.user.data.firstname} ${this.user.data.lastname}`,
                organization_id: this.user.data.organization_id || 1,
                status: 1,
                current_step: 1,
                author: `${this.user.data.firstname} ${this.user.data.lastname}`,
                danger_levels: []
            }).then(res => {
                this.creating = false;
                this.$store.commit('setStepView', res.data.current_step)
                this.$router.push(`/evaluations/${res.data.id}/1`)
            }).catch(() => {
                this.creating = false
            })
        },
        editRow (item) {
            console.log('item', item)
            if (item.status === 2) {
                if (confirm('L’évaluation est terminée, êtes-vous sûr de vouloir modifier cette évaluation ?')) {
                    this.$store.dispatch('saveDraftEvaluation', {...item, current_step : 5})

                    this.$router.push(`/evaluations/${item.id}/5`)
                }
            } else {
                this.$router.push(`/evaluations/${item.id}/${item.current_step > 5 ? 1 : item.current_step}`)
            }
        },
        deleteRow (item) {
            if (confirm(`Souhaitez-vous supprimer l'évaluation du ${item.updated_at.format('DD/MM/YYYY')} ?`)) {
                this.$store.dispatch('deleteEvaluation', item)
            }
        }
    }
}
</script>

