<template>
    <div class="modal-backdrop">
        <div
            class="modal"
            tabindex="-1"
            role="dialog"
            style="display: block"
            @click.self="$emit('close')"
        >
            <div
                class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
                role="document"
            >
                <div class="modal-content card card-outline card-primary">
                    <div class="modal-header">
                        <h3
                            class="modal-title"
                            style="font-weight: 300; color:black"
                        >
                            Mot de passe oublié
                        </h3>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="$emit('close')"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-3">
                        <form @submit.prevent="send">
                            <div class="form-row">
                                <div class="input-group">
                                    <input
                                        v-model="email"
                                        type="text"
                                        class="form-control"
                                        :class="{ 'is-invalid': submitted && $v.email.$error }"
                                        value=""
                                        placeholder="Email"
                                    >
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope" />
                                        </div>
                                    </div>
                                </div>
                                <p class="small">
                                    Vous allez recevoir un mail à cette adresse afin de réinitialiser votre mot de passe.
                                </p>
                                <p
                                    v-if="emailError"
                                    class="text-danger"
                                >
                                    <b>Cette adresse mail n'est pas valide ou n'est pas associée à un utilisateur.</b>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-light btn-flat"
                            @click="$emit('close')"
                        >
                            Annuler
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary btn-flat"
                            @click="send"
                        >
                            <i
                                v-if="saving"
                                class="fa fa-spinner fa-spin"
                            />
                            Valider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { required, email } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
    name: 'EditUserModal',
    props: ['user'],
    data () {
        return {
            email: null,
            saving: false,
            submitted: false,
            emailError: false
        }
    },
    validations: {
        email: { required, email }
    },
    methods: {
        async send () {
            this.saving = true
            this.submitted = true

            axios.post('/api/forgetpwd', { email: this.email })
                .then(res => {
                    if (res.data !== '') { alert('Un message a été envoyé sur votre adresse mail.') }
                    this.saving = false
                    this.submitted = false
                    this.$emit('close')
                }).catch(e => {
                    this.emailError = true
                    this.saving = false
                    this.submitted = false
                })
        }
    }
}
</script>

<style>
  .modal-backdrop {
      background-color: #E9ECEF;
  }
</style>
