<template>
    <div v-if="$store.state.users.all.length || ($store.state.users != null)" class="mb-5 mx-5 mt-0">
        <router-view />
    </div>
    <div v-else class="loader d-flex align-content-center align-items-center justify-content-center bg-light">
        <i class="fas fa-spinner fa-spin" />
    </div>
</template>

<script>

export default {
    name: 'Users'
}
</script>
