<template>
    <div>
        <router-link
            to="/utilisateurs/nouveau"
            class="btn btn-primary"
        >
            <i class="fas fa-plus" /> Créer un utilisateur
        </router-link>

        <div
            v-if="isAdmin()"
            class="bg-white p-3 mt-4"
        >
            <div class="float-right" style="width:calc(100% - 11rem)">
                <div class="mb-3 float-left">
                    <!-- <button class="btn btn-outline-primary">Filtrer les colonnes</button> -->
                    <button
                        class="btn btn-outline-primary"
                        @click="resetFilters()"
                    >
                        Réinitialiser les filtres
                    </button>
                </div>
            </div>
            <v-client-table
                ref="table"
                :data="users"
                :columns="columns"
                :options="options"
            >
                <div slot="filter__firstname" class="VueTables__list-filter">
                    <input v-model="firstName" type="text" class="form-control" placeholder="Prénom" />
                </div>
                <div slot="filter__lastname" class="VueTables__list-filter">
                    <input v-model="lastName" type="text" class="form-control" placeholder="Nom" />
                </div>
                <div slot="filter__organization" class="VueTables__list-filter">
                    <input v-model="orgName" type="text" class="form-control" placeholder="Structure" />
                </div>


                <div
                    slot="organization"
                    slot-scope="props"
                >
                    {{ props.row.organization && props.row.organization.name }}
                </div>

                <div
                    slot="role"
                    slot-scope="props"
                >
                    <span
                        v-if="props.row.role < 10"
                        class="badge badge-danger"
                    >
                        Administrateur
                    </span>
                    <span
                        v-else-if="props.row.role < 20"
                        class="badge badge-info"
                    >
                        Gestionnaire
                    </span>
                    <span
                        v-else-if="props.row.role >= 20"
                        class="badge badge-success"
                    >
                        Lecteur
                    </span>
                </div>
                <div
                    slot="active"
                    slot-scope="props"
                >
                    <span
                        v-if="props.row.active"
                        class="badge badge-success"
                    >
                        Actif
                    </span>
                    <span
                        v-else
                        class="badge badge-grey bg-grey"
                    >
                        Inactif
                    </span>
                </div>

                <div
                    slot="last_login"
                    slot-scope="props"
                >
                    <small v-if="props.row.last_login">
                        le {{ props.row.last_login.format('DD/MM/YYYY') }} à {{ props.row.last_login.format('HH') }}h{{ props.row.last_login.format('mm') }}
                    </small>
                    <span
                        v-else
                        class="badge badge-warning"
                    >
                        Jamais
                    </span>
                </div>

                <div
                    slot="filter__last_login"
                    class="VueTables__list-filter"
                >
                    <date-range-picker
                        ref="picker"
                        v-model="dateRange"
                        locale="fr"
                        opens="left"
                        :locale-data="localeData"
                        :single-date-picker="false"
                        :ranges="false"
                        :time-picker="false"
                        :time-picker24-hour="false"
                        :show-week-numbers="false"
                        :show-dropdowns="true"
                        :auto-apply="true"
                        :append-to-body="true"
                    >
                        <div  style="min-width: 350px;">
                            {{ dateRange.startDate ? dateRange.startDate.toLocaleDateString('fr') : '' }}
                            - {{ dateRange.endDate ? dateRange.endDate.toLocaleDateString('fr') : '' }}
                        </div>
                    </date-range-picker>
                </div>

                <div
                    slot="actions"
                    slot-scope="props"
                >
                    <button
                        v-if="props.row.active"
                        class="btn btn-light btn-xs"
                        @click.prevent="impersonate(props.row.id)"
                    >
                        <i :class="'fas ' + (impersonating && impersonating === props.row.id ? 'fa-spinner fa-spin' : 'fa-user')" />
                        Se connecter
                    </button>

                    <router-link
                        :to="`/utilisateurs/${props.row.id}`"
                        class="btn btn-light btn-xs"
                    >
                        <i class="fas fa-pen" /> Modifier
                    </router-link>
                    <button
                        class="btn btn-light btn-xs"
                        @click="switchIsActive(props.row)"
                    >
                        <i :class="`fas ${props.row.active ? 'fa-lock' : 'fa-lock-open'}`" /> {{ props.row.active ? "Désactiver" : "Activer" }}
                    </button>
                    <button
                        class="btn btn-light btn-xs"
                        @click="deleteRow(props.row)"
                    >
                        <i class="fas fa-trash" /> Supprimer
                    </button>
                </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>

import moment from 'moment'
import DateRangePicker from 'vue2-daterange-picker'
import { isAdmin } from '../../utils/permissions'
import toaster from '../../utils/toaster'
import diacritic from '../../utils/diacritic'

export default {
    name: 'UsersList',
    components: {
        DateRangePicker
    },
    data () {
        return {
            firstName: null,
            lastName: null,
            orgName:null,
            dateRange: {
                startDate: null,
                endDate: null
            },
            localeData: {
                direction: 'ltr',
                format: 'mm/dd/yyyy',
                separator: ' - ',
                applyLabel: 'Appliquer',
                cancelLabel: 'Annuler',
                weekLabel: 'W',
                customRangeLabel: 'Dates peronnalisée',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Meu', 'Ven', 'Sam'],
                monthNames: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                firstDay: 1
            },

            isAdmin,
            toaster,
            impersonating: null,
            columns: [
                'firstname',
                'lastname',
                'email',
                'organization',
                'role',
                'active',
                'last_login',
                'actions'
            ],
            options: {
                pagination: {
                    chunk: 5,
                    icons: {
                        first: 'a',
                        prev: 'z',
                        next: 'z',
                        last: 'z'
                    }
                },
                sortIcon: {
                    base: 'fas',
                    is: 'fa-sort',
                    up: 'fa-sort-down',
                    down: 'fa-sort-up'
                },
                sortable: [
                    'firstname',
                    'lastname',
                    'email',
                    'organization',
                    'role',
                    'active',
                    'last_login'
                ],
                customSorting: {
                    organization (ascending) {
                        return (a, b) => {
                            const aName = a.organization && a.organization.name.toLocaleLowerCase('fr')
                            const bName = b.organization && b.organization.name.toLocaleLowerCase('fr')
                            console.log('sort org', a, b)
                            if (ascending) {
                                if (!aName) {
                                    return -1
                                }
                                if (!bName) {
                                    return 1
                                }
                                return aName.localeCompare(bName)
                            }
                            if (!aName) {
                                return 1
                            }
                            if (!bName) {
                                return -1
                            }
                            return -aName.localeCompare(bName)
                        }
                    }
                },
                perPage: 25,
                perPageValues: [],
                // dateColumns: ['last_login'],
                texts: {
                    // https://github.com/matfish2/vue-tables-2/blob/master/lib/config/defaults.js
                    filterBy: '{column}',
                    count: "Affichage de l'élément {from} à {to} sur {count} éléments|{count} éléments|Un élément",
                    columns: 'Filtrer les colonnes',
                    defaultOption: '{column}',
                    noResults: 'Aucun résultat'
                },
                columnsDropdown: true,
                filterByColumn: true,
                filterable: [
                    'email',
                    'role',
                    'active'
                    // 'last_login',
                ],
                customFilters: [
                    {
                        name: 'organization',
                        callback: function (row, query) {
                            return row.organization && row.organization.name.toLocaleLowerCase('fr').includes(query.toLocaleLowerCase('fr'))
                        }
                    }
                ],

                headings: {
                    firstname: 'Prénom',
                    lastname: 'Nom',
                    organization: 'Structure',
                    role: 'Rôle',
                    active: 'Statut',
                    last_login: 'Dernière connexion'
                },
                listColumns: {
                    active: [{
                        id: 1,
                        text: 'Actif'
                    },
                    {
                        id: 0,
                        text: 'Inactif'
                    }
                    ],
                    role: [{
                        id: 20,
                        text: 'Lecteur'
                    },
                    {
                        id: 10,
                        text: 'Gestionnaire'
                    },
                    {
                        id: 0,
                        text: 'Administrateur'
                    }
                    ]
                }
            }
        }
    },
    computed: {
        users () {
            return this.$store.state.users.all.map(u => {
                u.last_login = u.last_login ? moment(u.last_login) : null
                return u
            })
                .filter(u => {
                    return this.dateRange.startDate === null ||
                        this.dateRange.endDate === null ||
                        (u.last_login && u.last_login > moment(this.dateRange.startDate) &&
                        u.last_login < moment(this.dateRange.endDate))
                })
                .filter(o => {
                    return diacritic(true,o.firstname,this.firstName);
                })
                .filter(p => {
                    return diacritic(true,p.lastname,this.lastName);
                })
                .filter(q => {
                    const org = (q.organization) ? q.organization.name : null
                    return diacritic(q.organization,org,this.orgName);
                })
        }
    },
    mounted () {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setUser' && state.user.data.role > state.user.roles.ROLE_MANAGER) {
                this.$router.push('/')
            }
        })
    },
    methods: {
        async impersonate (id) {
            this.impersonating = id
            try {
                await this.$store.dispatch('changeUser', id)
                this.impersonating = null
                this.$router.push('/')
            } catch (e) {
                alert('Impossible de se connecter avec cet utilisateur')
                this.impersonating = null
            }
        },
        resetFilters () {
            try {
                this.dateRange.startDate = null
                this.dateRange.endDate = null

                this.toaster(this, 'Filtres réinitialisés', 'bg-info')
                this.$refs.table.resetQuery()
                this.firstName = null
                this.lastName = null
                this.orgName = null
            } catch (e) {
                console.log('error', e)
            }
        },
        switchIsActive (item) {
            this.$store.dispatch('updateUser', { ...item, active: !item.active })
        },
        deleteRow (item) {
            if (confirm(`Souhaitez-vous supprimer ${item.firstname} ${item.lastname} ?`)) {
                this.$store.dispatch('deleteUser', item)
            }
        },
    }
}
</script>
