<template>
    <div>
        <ErrorBlock
            ref="ErrorBlock"
            :errors="errors"
        />
        <div class="row">
            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header py-1">
                        <div class="card-title">Informations générales</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label :class="{ 'text-danger': submitted && $v.user.civility.$error }">Civilité</label> <i
                                class="text-muted small">(Obligatoire)</i>
                            <div class="form-check">
                                <input
                                    id="Madame" v-model="user.civility"
                                    class="form-check-input" type="radio"
                                    value="Madame">
                                <label class="form-check-label" for="Madame">
                                    Madame
                                </label>
                            </div>
                            <div class="form-check">
                                <input
                                    id="Monsieur" v-model="user.civility"
                                    class="form-check-input" type="radio"
                                    value="Monsieur">
                                <label class="form-check-label" for="Monsieur">
                                    Monsieur
                                </label>
                            </div>
                            <div v-if="$v.user.civility.$error" class="text-danger">Champ obligatoire</div>
                        </div>
                        <div class="form-group">
                            <label :class="{ 'text-danger': submitted && $v.user.firstname.$error }" for="firstname">Prénom <i class="text-muted small">(Obligatoire)</i></label>

                            <input
                                id="firstname" v-model="user.firstname"
                                type="text"
                                class="form-control form-control-sm"
                                :class="{ 'is-invalid': submitted && $v.user.firstname.$error }">
                            <div v-if="$v.user.firstname.$error" class="text-danger">Champ obligatoire</div>
                        </div>
                        <div class="form-group">
                            <label
                                :class="{ 'text-danger': submitted && $v.user.lastname.$error }"
                                for="name">Nom <i class="text-muted small">(Obligatoire)</i></label>
                            <input
                                id="name" v-model="user.lastname"
                                type="text"
                                class="form-control form-control-sm" :class="{ 'is-invalid': submitted && $v.user.lastname.$error }">
                            <div v-if="$v.user.lastname.$error" class="text-danger">Champ obligatoire</div>
                        </div>
                        <div class="form-group">
                            <label
                                :class="{ 'text-danger': submitted && $v.user.email.$error }"
                                for="email">Email <i class="text-muted small">(Obligatoire)</i></label>
                            <input
                                id="email" v-model="user.email"
                                type="text" class="form-control form-control-sm"
                                :class="{ 'is-invalid': submitted && $v.user.email.$error }">
                            <div v-if="submitted && user.email && !$v.user.email.email" class="text-danger">Champ
                                invalide
                            </div>
                            <div v-if="submitted && !$v.user.email.required" class="text-danger">Champ obligatoire</div>
                        </div>
                        <div v-if="!isProfil" class="form-group">
                            <label :class="{ 'text-danger': submitted && $v.user.role.$error }">Rôle <i class="text-muted small">(Obligatoire)</i></label>
                            <div class="form-check">
                                <input
                                    id="lecteur" v-model="user.role"
                                    class="form-check-input" type="radio"
                                    name="lecteur"
                                    value=20>
                                <label class="form-check-label" for="lecteur">
                                    Lecteur
                                </label>
                            </div>
                            <div class="form-check">
                                <input
                                    id="gestionnaire" v-model="user.role"
                                    class="form-check-input" type="radio"
                                    name="gestionnaire" value=10>
                                <label class="form-check-label" for="gestionnaire">
                                    Gestionnaire
                                </label>
                            </div>
                            <div class="form-check">
                                <input
                                    id="admin" v-model="user.role"
                                    class="form-check-input" type="radio"
                                    name="admin"
                                    value=0>
                                <label class="form-check-label" for="admin">
                                    Administrateur
                                </label>
                            </div>
                            <div v-if="$v.user.role.$error" class="text-danger">Champ obligatoire</div>
                        </div>
                        <div v-if="isAdmin()" class="form-group">
                            <label
                                :class="{ 'text-danger': submitted && $v.user.organization_id.$error }" for="Structure">Structure <i class="text-muted small">(Obligatoire pour les lecteurs et gestionnaires)</i></label>
                            <select
                                id="Structure" v-model="user.organization_id"
                                class="form-control"
                                :class="{ 'is-invalid': submitted && $v.user.organization_id.$error }"
                                :disabled="!user.role || user.role == 0">
                                <option v-for="org in organizations" :key="org.id" :value="org.id">{{
                                    org.name
                                }}
                                </option>
                            </select>
                            <div v-if="$v.user.organization_id.$error" class="text-danger">Champ obligatoire</div>
                        </div>
                        <div v-if="!isProfil" class="form-group">
                            <div class="form-check">
                                <input id="actif" v-model="user.active" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="actif">Activer l'utilisateur</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-danger">
                    <div class="card-header py-1">
                        <div class="card-title">Informations de sécurité</div>
                    </div>
                    <div class="card-body">
                        <p class="small border-left border-dark pl-2">À remplir uniquement <!-- v-if="user.id && !isProfil" -->
                            si vous souhaitez définir un nouveau mot de passe</p>
                        <div class="form-group">
                            <label :class="{ 'text-danger': submitted && $v.user.password.$error }" for="password">Mot
                                de passe
                                <p class="small mb-0" :class="{ 'text-danger': submitted && !$v.user.password.valid }">Le mot de
                                    passe doit contenir au moins un chiffre, une lettre minuscule, une lettre majuscule, un caractère spécial et doit avoir une longueur minimale
                                    de 12 caractères.</p>
                            </label>
                            <input
                                id="password" v-model="user.password"
                                type="password"
                                class="form-control form-control-sm" :class="{ 'is-invalid': submitted && $v.user.password.$error }">
                            <div v-if="submitted && !$v.user.password.minLength" class='text-danger'>Le mot de passe
                                doit avoir au minimum {{ $v.user.password.$params.minLength.min }} caractères.
                            </div>
                        </div>
                        <div class="form-group">
                            <label
                                :class="{ 'text-danger': submitted && $v.user.confirmPassword.$error }"
                                for="validation_password">Répéter le mot de passe</label>
                            <input
                                id="validation_password" v-model="user.confirmPassword"
                                type="password"
                                class="form-control form-control-sm" :class="{ 'is-invalid': submitted && $v.user.confirmPassword.$error }">
                            <div v-if="submitted && !$v.user.confirmPassword.sameAsPassword" class='text-danger'>Les
                                mots de passe doivent être identiques.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card text-center p-2">
                    <div v-if="isAdmin() && !isProfil">
                        <router-link
                            to="/utilisateurs"
                            class="btn btn-outline-primary"
                        >
                            Retour à la liste des utilisateurs
                        </router-link>
                        <button
                            class="btn btn-primary"
                            @click="save()"
                        >
                            <i
                                v-if="isSaving"
                                class="fas fa-spinner fa-spin"
                            /> {{ user.id ? "Modifier" : "Créer" }} l'utilisateur
                        </button>
                    </div>
                    <div v-else>
                        <button
                            class="btn btn-primary"
                            @click="save()"
                        >
                            <i
                                v-if="isSaving"
                                class="fas fa-spinner fa-spin"
                            />Modifier mon profil
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ErrorBlock from '../../utils/ErrorBlock.vue'
import {isAdmin} from '../../utils/permissions'
import toaster from '../../utils/toaster'
import {required, requiredIf, email, minLength, sameAs} from 'vuelidate/lib/validators'

const defaultUser = {
    id: null,
    civility: null,
    firstname: null,
    lastname: null,
    email: null,
    organization_id: null,
    role: null,
    active: 0,
    password: null,
    confirmPassword: null
}

export default {
    name: 'SingleUser',
    components: {
        ErrorBlock
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.$store.commit('setErrors', null)
        })
    },
    beforeRouteLeave (to, from, next) {
        next(vm => {
            vm.$store.commit('setErrors', null)
        })
    },
    data() {
        return {
            submitted: false,
            isSaving: false,

            toaster,
            isAdmin,
            user: this.$route.path === '/profil' ? {...this.$store.state.user.data} : (this.$store.state.users.all.find(u => u.id === parseInt(this.$route.params.id, 10)) || {...defaultUser})
        }
    },
    computed: {
        organizations() {
            return this.$store.state.organizations.all
        },
        isProfil() {
            return this.$route.path === '/profil'
        },
        errors() {
            return this.$store.state.users.errors
        }
    },
    validations: {
        user: {
            civility: {required},
            firstname: {required},
            lastname: {required},
            email: {required, email},
            organization_id: {
                required: requiredIf(function () {
                    return !this.isAdmin() || parseInt(this.user.role) !== 0
                })
            },
            role: {
                required: requiredIf(function () {
                    return !this.isProfil
                })
            },
            password: {
                minLength: minLength(12),
                valid: function (value) {
                    const length = value ? value.length : 0
                    const containsUppercase = /[A-Z]/.test(value)
                    const containsLowercase = /[a-z]/.test(value)
                    const containsNumber = /[0-9]/.test(value)
                    const containsSymbol = /['^£$%&*()}{@#~?!><,|=_+¬-]/.test(value)
                    return length ? containsUppercase && containsLowercase && containsSymbol && containsNumber : true
                }
            },
            confirmPassword: {
                required: requiredIf(function () {
                    return this.password
                }),
                sameAsPassword: sameAs('password')
            }
        }
    },
    watch: {
        'user.role': function (roleId) {
            if (parseInt(roleId) === 0) {
                this.user.organization_id = null
            }
        }
    },
    mounted() {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setUser' && state.user.data.role > state.user.roles.ROLE_ADMIN) {
                this.$router.push('/')
            }
        })
    },
    methods: {
        save() {
            this.submitted = true
            this.isSaving = true

            this.$v.$touch()
            if (this.$v.$invalid) {
                this.toaster(this, 'Veuillez remplir tous les champs obligatoires', 'bg-warning')
                this.$el.scrollIntoView({behavior: 'smooth'})
                this.isSaving = false
                return
            }
            this.$store.dispatch('updateUser', this.user)
                .then(() => {
                    this.isSaving = false
                    !this.isProfil && this.$router.push('/utilisateurs')
                }).catch(e => {
                    this.isSaving = false
                    this.$el.scrollIntoView({behavior: 'smooth'})
                })
        }
    },
}
</script>
