<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <QuestionLine
                    v-for="question in questions"
                    :key="question.id"
                    :ref="`Question${question.id}`"
                    :question="question"
                    :evaluation="evaluation"
                    :is-editable="isEditable"
                    :submitted="submitted"
                />
            </div>
        </div>
        <Buttons :is-editable="isEditable" />
    </div>
</template>

<script>

import QuestionLine from '../Components/Step5/QuestionLine'
import Buttons from '../Components/Buttons'

export default {
    name: 'EvaluationStep5',
    components: {
        QuestionLine,
        Buttons
    },
    data () {
        return {
            submitted: false
        }
    },
    computed: {
        isEditable () {
            return this.evaluation && parseInt(this.evaluation.current_step) === parseInt(this.$store.state.evaluations.stepView)
        },
        questions () {
            return this.$store.state.questions.all.filter(q => !q.auto)
        },
        evaluation () {
            const evaluation = this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))

            if (this.questions && evaluation && evaluation.maturity_levels && evaluation.maturity_levels.length !== this.questions) {
                // Declenche le watch de dangerLine (quantité de danger) fois

                evaluation.maturity_levels = this.questions.map(question => {
                    const isLevelExisting = evaluation.maturity_levels.find( m => m && m.maturity_question_id === question.id)
                    return isLevelExisting || { maturity_question_id: question.id, maturity_answer_id : null, evaluation_id : evaluation.id }
                })
            }
            return evaluation
        }
    }
}
</script>
