<template>
    <div v-if="evaluation">
        <div class="row" style="max-width: 1200px;margin: 0 auto">
            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header py-1">
                        <div class="card-title">
                            Surface de mise en œuvre des mesures de sécurité
                        </div>
                    </div>
                    <div class="card-body">
                        <MeasuresGraph :evaluation="evaluation" />
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header py-1">
                        <div class="card-title">
                            Niveau de risque
                        </div>
                    </div>
                    <div class="card-body">
                        <RiskGraph :evaluation="evaluation" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header py-1">
                        <div class="card-title">
                            Niveau d'exposition au risque cyber
                        </div>
                    </div>
                    <div class="card-body px-5">
                        <ExpositionGraph :evaluation="evaluation"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header py-1 bg-purple">
                        <div class="card-title">
                            Vraisemblance de réussite des scénarios d'attaque
                        </div>
                    </div>
                    <div class="card-body">
                        <AttackGraph :evaluation="evaluation" :max-height="'none'"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <Buttons :is-editable="isEditable" />
        </div>
    </div>
</template>

<script>
import AttackGraph from '../Components/Step3/AttackGraph'
import RiskGraph from '../Components/Step3/RiskGraph'
import ExpositionGraph from '../Components/Step3/ExpositionGraph'
import MeasuresGraph from '../Components/Step3/MeasuresGraph'
import Buttons from '../Components/Buttons'

export default {
    name: 'EvaluationStep3',
    components: {
        MeasuresGraph,
        RiskGraph,
        ExpositionGraph,
        AttackGraph,
        Buttons,
    },
    data () {
        return {
        }
    },
    computed : {
        isEditable () {
            return this.evaluation && parseInt(this.evaluation.current_step) === parseInt(this.$store.state.evaluations.stepView)
        },
        evaluation () {
            return this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
        },
    }
}
</script>
