<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <div class="card-title h3">
                        Mesures de sécurité mises en place
                    </div>
                </div>
                <div class="card-body">
                    <p>Pour chacune des mesures, veuillez choisir votre niveau de maturité :</p>
                    <MeasureLevelChooser
                        v-for="(measure, index) in measures"
                        :key="measure.id"
                        :ref="`Measure${measure.id}`"
                        :index="index"
                        :measure="measure"
                        :measures="measures"
                        :evaluation="evaluation"
                        :is-editable="isEditable"
                        :submitted="submitted"
                    />
                </div>
            </div>
        </div>
        <Buttons :is-editable="isEditable" />
    </div>
</template>

<script>
import MeasureLevelChooser from '../Components/Step2/MeasureLevelChooser'
import Buttons from "../Components/Buttons";

export default {
    name: 'EvaluationStep2',
    components : {
        MeasureLevelChooser,
        Buttons,
    },
    data () {
        return {
            submitted : false,
        }
    },
    computed: {
        stepView () {
            return parseInt(this.$store.state.evaluations.stepView, 10)
        },
        isEditable () {
            return this.evaluation && this.evaluation.current_step === this.stepView
        },
        measures () {
            return this.$store.state.measures.all
        },
        evaluation () {
            const evaluation = this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))

            if (this.measures && evaluation && evaluation.measure_levels && evaluation.measure_levels.length !== this.measures) {

                evaluation.measure_levels = this.measures.map(measure => {
                    const isLevelExisting = evaluation.measure_levels.find(m => m && m.measure_id === measure.id)
                    return isLevelExisting || { measure_id: measure.id }
                })
            }
            return evaluation

        }
    }
}
</script>
