<template>
    <div>
        <component :is="`EvaluationStep${$route.params.step}`"></component>
    </div>
</template>
<script>
import EvaluationStep1 from './Step1'
import EvaluationStep2 from './Step2'
import EvaluationStep3 from './Step3'
import EvaluationStep4 from './Step4'
import EvaluationStep5 from './Step5'
export default {
    name: 'EvaluationStep',
    components: {
        EvaluationStep1,
        EvaluationStep2,
        EvaluationStep3,
        EvaluationStep4,
        EvaluationStep5,
    },
    mounted () {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setEvaluations') {
                const evaluation = this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
                if (evaluation && evaluation.current_step && evaluation.current_step < parseInt(this.$route.params.step, 10)) {
                    this.$router.push(`/evaluations/${this.$route.params.id}/${evaluation.current_step}`)
                }
            }
        })

        try {
            const evaluation = this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
            if (evaluation && evaluation.current_step && evaluation.current_step < parseInt(this.$route.params.step, 10)) {
                this.$router.push(`/evaluations/${this.$route.params.id}/${evaluation.current_step}`)
            }

        } catch (e) {
            console.log('no evaluation', e)
        }
    }
}
</script>
