<template>
    <div v-if="evaluation" class="row">
        <CyberRiskyGraph :evaluation="evaluation" />
        <PlanAction ref="planAction" :evaluation="evaluation" :submitted="submitted" />
        <Buttons :is-editable="isEditable" />
    </div>
</template>

<script>
import CyberRiskyGraph from '../Components/Step4/CyberRiskyGraph'
import PlanAction from '../Components/Step4/PlanAction'
import Buttons from '../Components/Buttons'

export default {
    name: 'EvaluationStep4',
    components: {
        PlanAction,
        CyberRiskyGraph,
        Buttons,
    },
    data () {
        return {
            submitted : false,
        }
    },
    computed : {
        isEditable () {
            return this.evaluation && parseInt(this.evaluation.current_step) === parseInt(this.$store.state.evaluations.stepView)
        },
        evaluation () {
            return this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))
        },
    }
}
</script>
