<template>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-default-light text-bold text-dark">
                <h6 class="text-bold ">
                    <i class="fas fa-info-circle mr-2" />
                    Légende :
                </h6>
                <ul class="ml-4 mb-0">
                    <li>Négligeable : La structure sera faiblement impactée, la résolution prendra quelques jours, aucune séquelle ne sera perceptible.</li>
                    <li> Limité : La structure sera faiblement impactée, la résolution prendra plusieurs semaines, aucune séquelle ne sera perceptible.</li>
                    <li>Important : La structure sera fortement impactée, la résolution prendra plusieurs semaines, les séquelles  seront perceptibles sur plusieurs mois.</li>
                    <li>Critique : La structure sera fortement impactée, la résolution prendra plusieurs mois, les séquelles  seront perceptibles sur plusieurs années.</li>
                </ul>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title h3">
                        Exposition aux dangers
                    </div>
                </div>
                <div class="card-body">
                    <p>Pour chacun des dangers, veuillez choisir le niveau&nbsp;:</p>
                    <div class="row">
                        <DangerLine
                            v-for="danger in dangers"
                            :key="danger.id"
                            :ref="`Danger${danger.id}`"
                            :danger="danger"
                            :evaluation="evaluation"
                            :is-editable="isEditable"
                            :submitted="submitted"
                        />
                    </div>
                </div>
            </div>
        </div>
        <Buttons :is-editable="isEditable" />
    </div>
</template>

<script>

import DangerLine from '../Components/Step1/DangerLine'
import Buttons from '../Components/Buttons'

export default {
    name: 'EvaluationStep1',
    components: {
        DangerLine,
        Buttons
    },
    data () {
        return {
            submitted: false
        }
    },
    computed: {
        isEditable () {
            return this.evaluation && parseInt(this.evaluation.current_step, 10) === parseInt(this.$store.state.evaluations.stepView, 10)
        },
        dangers () {
            return this.$store.state.dangers.all
        },
        evaluation () {
            const evaluation = this.$store.state.evaluations.all.find(e => e.id === parseInt(this.$route.params.id, 10))



            if (this.dangers && evaluation && evaluation.danger_levels && evaluation.danger_levels.length !== this.dangers) {

                evaluation.danger_levels = this.dangers.map(danger => {
                    const isLevelExisting = evaluation.danger_levels.find(dl => dl && dl.danger_id === danger.id)
                    return isLevelExisting || { danger_id: danger.id, danger_level_id : null }
                })
            }
            return evaluation
        }
    }
}
</script>
