<template>
    <div>
        <router-link
            to="/structures/nouveau"
            class="btn btn-primary"
        >
            <i class="fas fa-plus" /> Créer une structure
        </router-link>
        <div
            v-if="isAdmin()"
            class="bg-white p-3 mt-4"
        >

            <div class="float-right" style="width:calc(100% - 11rem)">
                <div class="mb-3 float-left">
                    <button
                        class="btn btn-outline-primary"
                        @click="resetFilters()"
                    >
                        Réinitialiser les filtres
                    </button>
                </div>
            </div>
            <v-client-table
                ref="table"
                :data="organizations"
                :columns="columns"
                :options="options"
            >
                <div slot="filter__name" class="VueTables__list-filter">
                    <input v-model="orgName" type="text" class="form-control" placeholder="Structure" />
                </div>
                <div slot="filter__territory" class="VueTables__list-filter">
                    <input v-model="territoryName" type="text" class="form-control" placeholder="Territoire" />
                </div>
                <div
                    slot="territory"
                    slot-scope="props"
                >{{ props.row.territory ? props.row.territory.name : '' }}
                </div>
                <div
                    slot="active"
                    slot-scope="props"
                >
                    <span v-if="props.row.active" class="badge badge-success">
                        Actif
                    </span>
                    <span v-else class="badge badge-grey bg-grey">
                        Inactif
                    </span>
                </div>

                <div
                    slot="actions"
                    slot-scope="props"
                >
                    <router-link
                        :to="`/structures/${props.row.id}`"
                        class="btn btn-light btn-xs"
                    >
                        <i class="fas fa-pen" /> Modifier
                    </router-link>
                    <button
                        class="btn btn-light btn-xs"
                        @click="deleteRow(props.row)"
                    >
                        <i class="fas fa-trash" /> Supprimer
                    </button>
                </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import { isAdmin, isManager } from '../../utils/permissions'
import toaster from '../../utils/toaster'
import diacritic from '../../utils/diacritic'

export default {
    name: 'StructuresList',
    data () {
        return {
            isAdmin,
            isManager,
            toaster,
            typeName: null,
            orgName: null,
            territoryName:null,
            showArchives : false,
            columns : ['name', 'short_name', 'type', 'siren', 'territory', 'active', 'actions'],
            options : {
                sortIcon: {
                    base: 'fas',
                    is: 'fa-sort',
                    up: 'fa-sort-down',
                    down: 'fa-sort-up'
                },
                sortable: ['name', 'short_name', 'type', 'siren','territory', 'active'],
                perPage: 25,
                perPageValues: [],
                texts: {
                    // https://github.com/matfish2/vue-tables-2/blob/master/lib/config/defaults.js
                    filterBy: '{column}',
                    count: "Affichage de l'élément {from} à {to} sur {count} éléments|{count} éléments|1 élément",
                    columns: 'Filtrer les colonnes',
                    defaultOption: '{column}',
                    noResults: 'Aucun résultat'
                },
                columnsDropdown: true,
                filterByColumn: true,
                filterable : ['short_name', 'siren', 'type', 'active'],
                headings: {
                    name: 'Structure',
                    short_name: 'Nom court',
                    type: 'Type',
                    active: 'Statut',
                    territory: 'Territoire',
                },
                listColumns: {
                    active: [{
                        id: true,
                        text: 'Actif'
                    },
                    {
                        id: false,
                        text: 'Inactif'
                    }
                    ],
                    type: [{
                        id: 'Autre',
                        text: 'Autre'
                    },
                    {
                        id: 'CCAS',
                        text: 'CCAS'
                    },
                    {
                        id: 'Commune',
                        text: 'Commune'
                    },
                    {
                        id: 'CIAS',
                        text: 'CIAS'
                    },
                    {
                        id: 'EPCI',
                        text: 'EPCI'
                    },
                    {
                        id: 'Syndicat départemental',
                        text: 'Syndicat départemental'
                    },
                    ]
                },
                customSorting: {
                    territory (ascending) {
                        return (a, b) => {
                            const aName = a.territory && a.territory.name.toLocaleLowerCase('fr')
                            const bName = b.territory && b.territory.name.toLocaleLowerCase('fr')
                            console.log('sort org', a, b)
                            if (ascending) {
                                if (!aName) {
                                    return -1
                                }
                                if (!bName) {
                                    return 1
                                }
                                return aName.localeCompare(bName)
                            }
                            if (!aName) {
                                return 1
                            }
                            if (!bName) {
                                return -1
                            }
                            return -aName.localeCompare(bName)
                        }
                    }
                },
            }
        }
    },
    computed: {
        organizations () {
            return this.$store.state.organizations.all
                .filter(o => {
                    return diacritic(true,o.name,this.orgName);
                })
                .filter(v => {
                    return diacritic(true,v.type,this.typeName);
                })
                .filter(s => {
                    return diacritic(true,s.territory ? s.territory.name : '', this.territoryName);
                })

        },
    },
    mounted () {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setUser' && state.user.data.role > state.user.roles.ROLE_ADMIN) {
                this.$router.push('/')
            }
        })
    },
    methods: {
        resetFilters () {
            try {
                this.toaster(this, 'Filtres réinitialisés', 'bg-info')
                this.$refs.table.resetQuery()
                this.orgName = null
                this.typeName = null
                this.territoryName = null
            } catch (e) {
                console.log('error', e)
            }
        },
        deleteRow (item) {
            if (confirm(`Souhaitez-vous vraiment supprimer la structure ${item.name} ? La suppression de la structure entraine la suppression de ses utilisateurs et de ses évaluations. Cette action est irréversible.`)) {
                this.$store.dispatch('deleteOrganization', item)
            }
        },
    }
}
</script>
<style>
</style>
