<template>
    <div class="card card-light">
        <div class="card-header py-1">
            <div class="card-title">
                Adresse
            </div>
        </div>

        <div v-if="address" class="card-body">
            <div class="form-group">
                <label
                    :class="{ 'text-danger': submitted && $v.address.address.$error }"
                    for="adresse">Adresse <i class="text-muted small">(Obligatoire)</i></label>
                <div class="text-muted small">Rue, voie, boîte postale...</div>
                <input
                    id="adresse" v-model="address.address"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.address.address.$error }">
                <div v-if="$v.address.address.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label for="complement">Informations complémentaires</label>
                <div class="text-muted small">Bâtiment, étage, lieu-dit...</div>
                <input id="complement" v-model="address.moreInfos" type="text" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.address.cp.$error }" for="code_postal">Code
                    postal <i class="text-muted small">(Obligatoire)</i></label>
                <input
                    id="code_postal" v-model="address.cp"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.address.cp.$error }">
                <div v-if="submitted && !$v.address.cp.required" class="text-danger">Champ obligatoire</div>
                <div v-if="submitted && !$v.address.cp.integer" class="text-danger">Doit être un nombre</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.address.city.$error }" for="ville">Ville <i
                    class="text-muted small">(Obligatoire)</i></label>
                <input
                    id="ville" v-model="address.city"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.address.city.$error }">
                <div v-if="$v.address.city.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.address.codeInsee.$error }" for="insee">Code INSEE <i class="text-muted small">(Obligatoire)</i></label>
                <input
                    id="insee" v-model="address.codeInsee"
                    type="text"
                    class="form-control form-control-sm" :class="{ 'is-invalid': submitted && $v.address.codeInsee.$error }">
                <div v-if="$v.address.codeInsee.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <PositionBlock :address="address" @addressError="addressError($event)" @updateAddressLoc="updateAddressLoc" />
                <div v-if="$v.address.lat.$error || $v.address.lng.$error" class="text-danger">Localisation obligatoire</div>
            </div>
        </div>
    </div>
</template>
<script>
import {required, integer} from 'vuelidate/lib/validators'
import PositionBlock from './PositionBlock.vue'

export default {
    name: 'AddressBlock',
    components : {
        PositionBlock,
    },
    props: ['orgAddress', 'submitted'],
    data() {
        return {
            address: this.orgAddress
        }
    },
    computed: {},
    validations: {
        address: {
            address: {required},
            cp: {required, integer},
            city: {required},
            codeInsee: {required},
            lat: {required},
            lng: {required},
        }

    },
    watch: {},
    methods: {
        checkValidation() {
            this.$v.$touch()
            return !this.$v.$invalid
        },
        addressError (message) {
            this.$parent.toaster(this, message, 'bg-red')
        },
        updateAddressLoc (address, lat, lng) {
            console.log('updateAddressLoc', lat, lng)
            this.address.lat = lat
            this.address.lng = lng
        },
    }
}
</script>
