<template>
    <div class="card card-light">
        <div class="card-header py-1">
            <div class="card-title">
                {{ title }}
            </div>
        </div>
        <div class="card-body">
            <ckeditor
                v-model="bilan"
                :editor="editor"
                :config="editorConfig"
            />
        </div>
    </div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
import '@ckeditor/ckeditor5-build-classic/build/translations/fr'

export default {
    name: 'BilanBlock',
    props: ['orgBilan', 'title'],
    data () {
        return {
            editor: ClassicEditor,
            editorConfig: {
                toolbar: ['bold', 'italic', '|', 'undo', 'redo', '|', 'numberedList', 'bulletedList', '|', 'outdent', 'indent'],
                language: 'fr'
            },
            bilan: this.orgBilan
        }
    },
    computed: {
    },
    watch: {
    },
    methods: {
        checkValidation () {
            return true
        }
    }
}
</script>
