<template>
    <div>
        <ErrorBlock
            ref="ErrorBlock"
            :errors="errors"
        />
        <div class="row">
            <div class="col-md-6">
                <!-- INFORMATIONS GENERALES -->
                <InformationsBlock
                    ref="InformationsBlock"
                    :org="org"
                    :submitted="submitted"
                />
                <!-- RESPONSABLE ORGANISATION -->
                <ReferentBlock
                    ref="ReferentBlock"
                    order="1"
                    title="Responsable de l'organisation"
                    :org-referent="org.referent"
                    :submitted="submitted"
                />
                <!-- Bilan paragraphe 1-->
                <BilanBlock
                    ref="Bilan1Block"
                    title="Mission du référent cybersécurité"
                    :org-bilan="org.bilan1 || ''"
                />
            </div>
            <div class="col-md-6">
                <AddressBlock
                    ref="AddressBlock"
                    :org-address="org.address"
                    :submitted="submitted"
                />
                <ReferentBlock
                    ref="ReferentBlockCyber"
                    order="2"
                    title="Responsable Cybersécurité"
                    :org-referent="org.referent_cyber"
                    :submitted="submitted"
                />
                <ReferentBlock
                    ref="ReferentBlockElu"
                    order="3"
                    title="Responsable Élu Cybersécurité"
                    :org-referent="org.referent_elu"
                    :submitted="submitted"
                />
                <BilanBlock
                    ref="Bilan2Block"
                    title="Responsabilités du RSSI mutualisé"
                    :org-bilan="org.bilan2 || ''"
                />
            </div>

            <div class="col-md-12">
                <div class="card text-center p-2">
                    <div v-if="isAdmin()">
                        <router-link
                            to="/structures"
                            class="btn btn-outline-primary"
                        >
                            Retour à la liste des structures
                        </router-link>
                        <button
                            class="btn btn-primary"
                            @click="save()"
                        >
                            <i
                                v-if="isSaving"
                                class="fas fa-spinner fa-spin"
                            /> {{ org.id ? "Enregistrer les modifications" : "Créer la structure" }}
                        </button>
                    </div>
                    <div v-else>
                        <button
                            class="btn btn-primary"
                            @click="save()"
                        >
                            <i
                                v-if="isSaving"
                                class="fas fa-spinner fa-spin"
                            /> Enregistrer ma structure
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ErrorBlock from '../../../utils/ErrorBlock.vue'
import ReferentBlock from './ReferentBlock.vue'
import InformationsBlock from './InformationsBlock.vue'
import BilanBlock from './BilanBlock.vue'
import AddressBlock from './AddressBlock.vue'

import toaster from '../../../utils/toaster'
import { isAdmin } from '../../../utils/permissions'

const defaultOrg = {
    id: null,
    name: null,
    short_name: null,
    type: null,
    siren: null,
    active: 0,
    website: null,
    info: null,

    bilan1: null,
    bilan2: null,

    territory_id: null,

    address: {
        id: null,
        address: null,
        moreInfos: null,
        cp: null,
        city: null,
        codeInsee: null,
        lat : null,
        lng : null,
    },
    referent: {
        id: null,
        civility: null,
        firstname: null,
        lastname: null,
        function: null,
        email: null,
        phone: null
    },
    referent_cyber: {
        id: null,
        civility: null,
        firstname: null,
        lastname: null,
        function: null,
        email: null,
        phone: null
    },
    referent_elu: {
        id: null,
        civility: null,
        firstname: null,
        lastname: null,
        function: null,
        email: null,
        phone: null
    }
}

export default {
    name: 'SingleOrganization',
    components: {
        ErrorBlock,
        ReferentBlock,
        InformationsBlock,
        BilanBlock,
        AddressBlock
    },
    beforeRouteEnter (to, from, next) {
        next(vm => {
            vm.$store.commit('setErrors', null)
        })
    },
    beforeRouteLeave (to, from, next) {
        next(vm => {
            vm.$store.commit('setErrors', null)
        })
    },
    data () {
        return {
            toaster,
            isAdmin,
            submitted: false,
            isSaving: false,
            org: this.$store.state.organizations.all.find(u => u.id === parseInt(this.$route.params.id, 10)) || { ...defaultOrg, address: { ...defaultOrg.address }, referent: { ...defaultOrg.referent }, referent_cyber: { ...defaultOrg.referent_cyber }, referent_elu: { ...defaultOrg.referent_elu } }
        }
    },
    computed: {
        isStructure () {
            return this.$store.state.organizations.all.length === 1 && this.$store.state.organizations.all[0].id === this.org.id
        },
        errors () {
            return this.$store.state.organizations.errors
        }
    },
    mounted () {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setUser' && (state.user.data.role > state.user.roles.ROLE_MANAGER || this.org.id !== state.user.data.organization_id)) {
                this.$router.push('/')
            }
        })
    },
    methods: {
        save () {
            this.submitted = true
            this.isSaving = true

            this.org.bilan1 = this.$refs.Bilan1Block.bilan
            this.org.bilan2 = this.$refs.Bilan2Block.bilan

            // CHECK BLOCK VALIDATION
            const validation = []
            Object.keys(this.$refs).forEach(block => {
                console.log('block', block)
                validation.push(this.$refs[block].checkValidation())
            })

            if (validation.includes(false)) {
                this.toaster(this, 'Veuillez remplir tous les champs obligatoires', 'bg-warning')
                this.$refs.InformationsBlock.$el.scrollIntoView({ behavior: 'smooth' })
                this.isSaving = false
            } else {
                this.$store.dispatch('updateOrganization', this.org)
                    .then(() => {
                        window.scrollTo(0, 0)
                        !this.isStructure && this.$router.push('/structures')
                        this.isSaving = false
                    })
                    .catch(() => {
                        console.log(this.$refs)
                        this.$refs.ErrorBlock.$el.scrollIntoView({ behavior: 'smooth' })
                        this.isSaving = false
                    })
            }
        }
    }
}
</script>
