<template>
    <div class="card card-light">
        <div class="card-header py-1">
            <div class="card-title">
                Informations générales
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.organization.name.$error }" for="nom">Nom<i class="text-muted small">(Obligatoire)</i></label>
                <input
                    id="nom"
                    v-model="organization.name" :disabled="!isAdmin()"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.organization.name.$error }">
                <div v-if="$v.organization.name.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.organization.short_name.$error }" for="nom_court">Nom
                    court <i class="text-muted small">(Obligatoire)</i></label>
                <input
                    id="nom_court"
                    v-model="organization.short_name" :disabled="!isAdmin()"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.organization.short_name.$error }">
                <div v-if="$v.organization.short_name.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.organization.type.$error }" for="type">Type <i
                    class="text-muted small">(Obligatoire)</i></label>
                <select
                    id="type" v-model="organization.type"
                    :disabled="!isAdmin()"
                    class="form-control" :class="{ 'is-invalid': submitted && $v.organization.type.$error }">
                    <option value="Commune">Commune</option>
                    <option value="CCAS">CCAS</option>
                    <option value="EPCI">EPCI</option>
                    <option value="CIAS">CIAS</option>
                    <option value="Syndicat départemental">Syndicat départemental</option>
                    <option value="Autre">Autre</option>
                </select>
                <div v-if="$v.organization.type.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.organization.siren.$error }" for="siren">SIREN <i class="text-muted small">(Obligatoire)</i></label>
                <input
                    id="siren" v-model="organization.siren"
                    :disabled="!isAdmin()"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.organization.siren.$error }">
                <div v-if="$v.organization.siren.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.organization.territory_id.$error }" for="Territoire">Territoire <i class="text-muted small">(Obligatoire)</i></label>
                <select
                    id="Territoire" v-model="organization.territory_id"
                    :disabled="!isAdmin()"
                    class="form-control" :class="{ 'is-invalid': submitted && $v.organization.territory_id.$error }">
                    <option v-for="ter in territories" :key="ter.id" :value="ter.id">{{
                        ter.name
                    }}
                    </option>
                </select>
                <div v-if="$v.organization.territory_id.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div v-if="isAdmin()" class="form-group">
                <div class="form-check">
                    <input id="actif" v-model="organization.active" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="actif">Activer la structure</label>
                </div>
            </div>
            <div class="form-group">
                <label for="website">Site internet</label>
                <div class="text-muted small">Indiquez une URL...</div>
                <input id="website" v-model="organization.website" type="text" class="form-control form-control-sm" :disabled="!isAdmin()">
            </div>
            <div class="form-group" for="informations">
                <label for="informations">Informations complémentaires</label>
                <textarea
                    id="informations" v-model="organization.info"
                    type="text" rows="5"
                    class="form-control"
                    :disabled="!isAdmin()"></textarea>
            </div>
        </div>
    </div>
</template>
<script>
import {required} from 'vuelidate/lib/validators'
import {isAdmin} from '../../../utils/permissions'

export default {
    name: 'InformationsBlock',
    props: ['org', 'submitted'],
    data() {
        return {
            isAdmin,
            organization: this.org,
        }
    },
    computed: {
        territories() {
            return this.$store.state.territories.all
        },
    },
    validations: {
        organization: {
            name: {required},
            short_name: {required},
            type: {required},
            siren: {required},
            territory_id: {required}
        }
    },
    watch: {},
    methods: {
        checkValidation() {
            this.$v.$touch()
            return !this.$v.$invalid
        }
    }
}
</script>
