<template>
    <div>
        <button class="btn btn-primary btn-sm mb-2" @click.prevent="locateAddress"><i :class="loading ? 'fa fa-spinner fa-spin' : ''"></i> Localiser l'adresse</button>
        <div id="map"></div>
    </div>
</template>
<script>
import L from 'leaflet';
import axios from 'axios'

export default {
    name: 'PositionBlock',
    props: ['address'],
    data() {
        return {
            loading : false,
            map : null,
        }
    },
    computed: {
        fullAddress () {
            return `${this.address.address} ${this.address.cp} ${this.address.city}`
        }
    },
    mounted () {
        this.initMap()
        this.address && this.address.lat && this.address.lng && this.setMarker(parseFloat(this.address.lat), parseFloat(this.address.lng))
    },
    methods: {
        initMap () {
            this.map = L.map('map') 

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(this.map);

            this.map.setView([46.9, 1.9], 5); // FRANCE BOUNDS
            this.map.attributionControl.setPrefix('')
        },
        setMarker (lat, lng) {
            this.marker = L.circleMarker([lat, lng], {draggable: true, radius: 7,fillColor:'red',fillOpacity:0.5,color: 'red'})

            this.$emit('updateAddressLoc', this.address, lat, lng)

            this.marker.on({
                mousedown: () => this.map.on('mousemove', (e) => {
                    this.marker.setLatLng(e.latlng); 
                    this.map.dragging.disable()

                    // this.address.lat = e.latlng.lat
                    this.$emit('updateAddressLoc', this.address, e.latlng.lat, e.latlng.lng)
                }), 
                mouseup: () => {
                    this.map.dragging.enable()
                    this.map.off('mousemove')
                }
            }) 
            this.marker.addTo(this.map)

            const latLngs = [ this.marker.getLatLng() ];
            const markerBounds = L.latLngBounds(latLngs);
            this.map.fitBounds(markerBounds);
        },
        async locateAddress () {
            console.log('locateAddress')
            if (!this.address.address || !this.address.cp || !this.address.city) {
                this.$emit('addressError', "L'adresse n'est pas complète")
                    
            } else {
                this.loading = true
                await axios.get(`https://api-adresse.data.gouv.fr/search/?autocomplete=1&postcode=${this.address.cp}&q=${this.fullAddress}`, 
                    {
                        transformRequest: (data, headers) => {
                            delete headers.common['X-CSRF-TOKEN'];
                        }
                    }
                )
                    .then(res => {
                        this.loading = false

                        if (!res.data.features.length) {
                            this.$emit('addressError', "L'adresse n'a pas été trouvée")
                        
                        } else {
                            this.enableMap = true
                            const pointData = res.data.features[0]

                            this.marker && this.map.removeLayer(this.marker)

                            this.setMarker(pointData.geometry.coordinates[1], pointData.geometry.coordinates[0])
                        }
                    })
                    .catch( () => {
                        this.loading = false; 
                        this.$emit('addressError', "L'adresse n'a pas été trouvée")
                    })
            }
        }
    }
}
</script>
<style scoped>
#map {
    height: 400px;
}
</style>
