<template>
    <div class="card card-light">
        <div class="card-header py-1">
            <div class="card-title">
                {{ title }}
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.referent.civility.$error }">Civilité</label> <i
                    class="text-muted small">(Obligatoire)</i>
                <div class="form-check">
                    <input :id="`madame${order}`" v-model="referent.civility" class="form-check-input" type="radio" value="Madame">
                    <label class="form-check-label" :for="`madame${order}`">
                        Madame
                    </label>
                </div>
                <div class="form-check">
                    <input
                        :id="`monsieur${order}`" v-model="referent.civility"
                        class="form-check-input" type="radio"
                        value="Monsieur">
                    <label class="form-check-label" :for="`monsieur${order}`">
                        Monsieur
                    </label>
                </div>
                <div v-if="$v.referent.civility.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label
                    :class="{ 'text-danger': submitted && $v.referent.firstname.$error }"
                    :for="`firstname${order}`">Prénom <i class="text-muted small">(Obligatoire)</i></label> 
                <input
                    :id="`firstname${order}`" v-model="referent.firstname"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.referent.firstname.$error }">
                <div v-if="$v.referent.firstname.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.referent.lastname.$error }" :for="`name${order}`">Nom <i class="text-muted small">(Obligatoire)</i></label> 
                <input
                    :id="`name${order}`" v-model="referent.lastname"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.referent.lastname.$error }">
                <div v-if="$v.referent.lastname.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label
                    :class="{ 'text-danger': submitted && $v.referent.function.$error }"
                    :for="`fonction${order}`">Fonction <i class="text-muted small">(Obligatoire)</i></label> 
                <input
                    :id="`fonction${order}`"  v-model="referent.function"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.referent.function.$error }">
                <div v-if="$v.referent.function.$error" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.referent.email.$error }" :for="`email${order}`">Email <i class="text-muted small">(Obligatoire)</i></label> 
                <input
                    :id="`email${order}`" v-model="referent.email"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.referent.email.$error }">
                <div v-if="submitted && referent.email && !$v.referent.email.email" class="text-danger">Champ non
                    valide
                </div>
                <div v-if="submitted && !$v.referent.email.required" class="text-danger">Champ obligatoire</div>
            </div>
            <div class="form-group">
                <label :class="{ 'text-danger': submitted && $v.referent.phone.$error }" :for="`phone${order}`">Téléphone <i class="text-muted small">(Obligatoire)</i></label>
                
                <input
                    :id="`phone${order}`" v-model="referent.phone"
                    type="text" class="form-control form-control-sm"
                    :class="{ 'is-invalid': submitted && $v.referent.phone.$error }">
                <div v-if="submitted && !$v.referent.phone.required" class="text-danger">Champ obligatoire</div>
                <div
                    v-if="submitted && (!$v.referent.phone.valid || (!$v.referent.phone.minLength || !$v.referent.phone.maxLength) )"
                    class="text-danger">
                    Champ invalide : doit débuter par 0 et contenir 10 chiffres sans espace
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {required, email, maxLength, minLength} from 'vuelidate/lib/validators'

export default {
    name: 'ReferentBlock',
    props: ['orgReferent', 'title', 'order', 'submitted'],
    data() {
        return {
            referent: this.orgReferent
        }
    },
    computed: {},
    validations: {
        referent: {
            civility: {required},
            firstname: {required},
            lastname: {required},
            function: {required},
            email: {required, email},
            phone: {
                required,
                valid: function (value) {
                    return value && value.length ? value[0] === '0' : true
                },
                maxLength: maxLength(10),
                minLength: minLength(10)
            }
        }

    },
    methods: {
        checkValidation() {
            this.$v.$touch()
            return !this.$v.$invalid
        }
    }
}
</script>
