<template>
    <div class="card card-info mt-4">
        <div class="card-header py-1">
            <div class="card-title">
                Niveau d'exposition aux dangers
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-responsive-sm">
                <thead>
                    <tr>
                        <th>Dangers</th>
                        <th>Niveau de danger</th>
                        <th>Expositions aux dangers</th>
                    </tr>
                </thead>
                <tbody v-if="evaluation">
                    <DangerLine
                        v-for="danger in dangers"
                        :key="danger.id"
                        :danger="danger"
                        :evaluation="evaluation"
                        :graph-data="graphData"
                    >

                    </DangerLine>
                </tbody>
            </table>



        </div>
    </div>
</template>

<script>
import DangerLine from "./DangerLine";

export default {
    name: 'ResultDangers',
    components: {
        DangerLine,
    },
    props : ['evaluation'],
    computed : {
        dangers () {
            return this.$store.state.dangers.all
        },
        graphData () {
            if (!this.$store.state.graphs[this.evaluation.id] || !this.$store.state.graphs[this.evaluation.id].exposition) {
                return null;
            }

            return this.$store.state.graphs[this.evaluation.id].exposition;
        }
    },
    async mounted () {
        this.loaded = false
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].exposition === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'exposition',
                id: this.evaluation.id
            })
        }
        this.loaded = true
    },
    methods : {
        getLevel(dangerId) {
            return this.evaluation.danger_levels.find(dl => dl.danger_id === dangerId).level
        }
    }
}
</script>
