<template>
    <tr>
        <td> {{ danger.name }} </td>
        <td>
            <span v-if="level" :title="level.description" :class="['badge', level.value === 50 ? 'text-dark' : '']" :style="{ backgroundColor: level.color }">
                {{ level.name }}
            </span>
        </td>
        <td>
            <div class="progress">
                <div
                    v-if="value"
                    class="progress-bar bg-primary"
                    :style="{ width : value + '%' }"
                    role="progressbar" aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"> <!-- getLevel(item.id).color -->
                </div>
            </div>
        </td>
    </tr>
</template>
<script>
export default {
    name: 'DangerLine',
    props: ['danger', 'graphData', 'evaluation'],
    computed: {
        level() {

            return this.evaluation.danger_levels.find(dl => dl.danger_id === this.danger.id).level
        },
        value () {
            if (!this.graphData) {
                return null;
            }
            const ind = this.graphData.labels.findIndex(l => l === this.danger.name)

            return this.graphData.data[ind]
        }
    }
}
</script>
