<template>
    <div class="card card-dark mt-4">
        <div class="card-header py-1">
            <div class="card-title">
                Historique
            </div>
        </div>
        <div v-if="evaluation" class="card-body">
            <p> <b> Référentiel : </b> {{ evaluation.reference }} </p>
            <p> <b> Créateur : </b> {{ evaluation.author }} </p>
            <p> <b> Date de création : </b> {{ dateFormat(evaluation.created_at) }} </p>
            <p> <b> Modifié par : </b> {{ evaluation.updated_by }} </p>
            <p> <b> Date de modification : </b> {{ dateFormat(evaluation.updated_at) }} </p>
        </div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    name: 'ResultPlanAction',
    props : ['evaluation'],
    computed : {
    },
    methods : {
        dateFormat (date) {
            return moment(date).format('DD/MM/YYYY h:mm')
        }
    }
}
</script>
