<template>
    <div class="card card-success">
        <div class="card-header py-1">
            <div class="card-title">
                Indice de maturité cyber
            </div>
        </div>
        <div class="card-body offset-md-3 col-md-6">
            <Radar v-if="chartData" :chart-data="chartData" :chart-options="options" />
        </div>
    </div>
</template>

<script>
import {Radar} from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, RadialLinearScale, registerables} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, RadialLinearScale, ...registerables)

export default {
    name: 'ResultMaturityCyber',
    components: {
        Radar,
    },
    props : ['evaluation'],
    data() {
        return {
            responsive: true,
            loaded: this.$store.state.graphs[this.evaluation.id],
            options: {
                elements: {
                    line: {
                        borderWidth: 4,
                        borderColor: '#50aeee',
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                },
                responsive: true,
                scales: {
                    r: {
                        beginAtZero: false,
                        min:-1,
                        max: 3,
                        ticks: {
                            color: '#000',
                            backdropColor: 'rgba(255,255,255, 0.5)',
                            z: 10,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                        },
                        pointLabels: {
                            display: true,
                            font: {
                                size: 11
                            }
                        }
                    }
                }
            },
        }
    },
    computed : {
        chartData() {
            if (!this.$store.state.graphs[this.evaluation.id] || !this.$store.state.graphs[this.evaluation.id].maturity) {
                return null;
            }
            const labels = this.$store.state.graphs[this.evaluation.id].maturity.labels;
            const data = this.$store.state.graphs[this.evaluation.id].maturity.data;

            return {
                labels,
                datasets: [
                    {
                        data,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)' // bleu

                    }
                ]
            }
        }
    },
    async mounted () {
        this.loaded = false
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].maturity === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'maturity',
                id: this.evaluation.id
            })
        }
        this.loaded = true
    }
}
</script>
