<template>
    <div class="modal-backdrop">
        <div class="modal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-left">
                            {{ measure.short_name }}
                        </h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('showModal')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body bg-light">
                        <div v-if="measureLevel">
                            <h5 class="text-center text-bold">{{ measure.levels[measureLevel.actual_level].actual_label }}</h5>
                            <MeasureLevelCircle
                                radius="80"
                                stroke="7"
                                :level="measureLevel.actual_level"
                            />
                            <!-- <p class="my-3 text-center"> Efficacité</p> -->

                            <p class="p-1" v-html="measure.levels[measureLevel.actual_level].info"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="$emit('showModal')">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MeasureLevelDetails',
    props : ['measure', 'measureLevel'],
    computed : {
    },
    methods : {
    }
}
</script>

<style scoped>
.modal-backdrop {
    background-color: rgba(0,0,0,0.5)!important;
}
span.small {
    font-size: 0.6em;
}
.bg-white > a.btn-primary {
    color: white!important;
}
</style>
