<template>
    <div class="card card-success mt-4">
        <div class="card-header py-1">
            <div class="card-title">
                Mesures de sécurité mises en place
            </div>
        </div>
        <div class="card-body">
            <div v-if="evaluation" class="row">
                <div v-for="item in measures" :key="item.id" class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="card p-2 text-center">
                        <p class="my-2 h5 text-bold">{{ item.short_name }}</p>
                        <MeasureLevelCircle
                            radius="80"
                            stroke="7"
                            :is-result="true"
                            :level="measureLevelSelected(item).actual_level" />
                        <button type="button" class="btn btn-primary mt-4" @click="showModal = item.id">
                            Afficher le détail de la mesure
                        </button>
                        <MeasureLevelDetails v-show="showModal === item.id" :measure="item" :measure-level="measureLevelSelected(item)" @showModal="showModal = !showModal"  />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MeasureLevelCircle from '../MeasureLevelCircle'
import MeasureLevelDetails from './MeasureLevelDetails'

export default {
    name: 'ResultMeasures',
    components : {
        MeasureLevelCircle,
        MeasureLevelDetails,
    },
    props : ['evaluation'],
    data () {
        return {
            showModal : "",
        }
    },
    computed : {
        measures () {
            return this.$store.state.measures.all
        },
    },
    methods : {
        measureLevelSelected (measure) {
            return this.evaluation.measure_levels.find(m => m.measure_id === measure.id)
        },
    }
}
</script>
