<template>
    <tr>
        <td> {{ item.measure.short_name }} </td>
        <td> {{ item.expected_level }} </td>
        <td> {{ item.measure[`level${item.expected_level}_preconized_label`] }} </td>
        <td> {{ item.end_date }} </td>
        <td> {{ item.manager }} </td>
    </tr>
</template>
<script>
import moment from "moment";

export default {
    props: ['action'],
    computed: {
        item() {
            const endDate = this.action.end_date ? moment(this.action.end_date).format('DD/MM/YYYY') : ''
            return {
                ...this.action,
                end_date : endDate,
                measure : this.$store.state.measures.all.find( m => m.id === this.action.measure_id)
            }
        }
    }
}
</script>
