<template>
    <div class="card card-danger mt-4">
        <div class="card-header py-1">
            <div class="card-title">
                Plan d'action
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-responsive-sm">
                <thead>
                    <tr>
                        <th>Nom court</th>
                        <th>Niveau cible</th>
                        <th>Titre du niveau</th>
                        <th>Date planifiée</th>
                        <th>Personne en charge</th>
                    </tr>
                </thead>
                <tbody v-if="evaluation">
                    <plan-action-line v-for="item in measureLevelsExpected" :key="item.id" :action="item" >

                    </plan-action-line>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import PlanActionLine from "./PlanActionLine";

export default {
    name: 'ResultPlanAction',
    components: {
        PlanActionLine,
    },
    props : ['evaluation'],
    computed : {
        measureLevelsExpected () {
            console.log(this.evaluation.measure_levels.filter( ml => ml.expected_level!== null && ml.expected_level!== 0 && ml.expected_level !== ml.actual_level))
            return this.evaluation.measure_levels.filter( ml => ml.expected_level!== null && ml.expected_level!== 0 && ml.expected_level !== ml.actual_level)
                .sort((a,b) => (a.measure.short_name > b.measure.short_name) ? 1 : ((b.measure.short_name > a.measure.short_name) ? -1 : 0))
                .sort((a,b) => (a.expected_level > b.expected_level) ? 1 : ((b.expected_level > a.expected_level) ? -1 : 0))
                .sort((a,b) => (a.manager > b.manager) ? 1 : ((b.manager > a.manager) ? -1 : 0))
                .sort((a,b) => (a.end_date > b.end_date) ? 1 : ((b.end_date > a.end_date) ? -1 : 0))
        },
    }
}
</script>
