<template>
    <div class="mx-5 mt-1 mb-5">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-1">
                <h2>Madis Cyber</h2>
                <p>
                    L'application
                    <a href="/" target="_blank" rel="noreferrer nofollow" class="link-info text-decoration-none">MADIS Cyber</a>
                    est une application conçue par
                    <a href="//soluris.fr" target="_blank" rel="noreferrer nofollow" class="link-info text-decoration-none">Soluris</a>
                    pour permettre aux petites communes d'évaluer et de développeur leur maturité en matière de cybersécurité afin de faire face aux nouvelles menaces.
                </p>

                <h2 class="mt-4">Parties prenantes</h2>
                <h3 class="my-3">
                    Cadrage &amp; gestion du projet
                </h3>
                <ul class="list-unstyled">
                    <li>Benoît LIÉNARD, Directeur (<a class="link-info text-decoration-none" href="mailto:b.lienard@soluris.fr">b.lienard@soluris.fr</a>)</li>
                    <li>Jacques FOUCAULT, Consultant en Système d'information (<a class="link-info text-decoration-none" href="mailto:conseiljfoucault@gmail.com">conseiljfoucault@gmail.com</a>)</li>
                    <li>Damien ALEXANDRE, Référent méthode (<a class="link-info text-decoration-none" href="mailto:d.alexandre@soluris.fr">d.alexandre@soluris.fr</a>)</li>
                    <li>Michaël EDLICH, Chef de projet développement (<a class="link-info text-decoration-none" href="mailto:m.edlich@soluris.fr">m.edlich@soluris.fr</a>)</li>
                    <li>Théo BOYER, UX / UI (<a class="link-info text-decoration-none" href="mailto:t.boyer@soluris.fr">t.boyer@soluris.fr</a>)</li>
                    <li>Sarah KERZERHO, Contributeur (<a class="link-info text-decoration-none" href="mailto:s.kerzerho@soluris.fr">s.kerzerho@soluris.fr</a>)</li>
                    <li>Alexandre GROSMY, Contributeur (<a class="link-info text-decoration-none" href="mailto:a.grosmy@soluris.fr">a.grosmy@soluris.fr</a>)</li>
                </ul>
                <p class="mb-0"> Contributeurs :
                    Soluris, ANSSI, GIP, Adico, CDG47, eCollectivités
                </p>
                <p>Financeurs : Soluris, France Relance</p>

                <h3 class="my-3 mt-4">
                    Développement
                </h3>
                <ul class="list-unstyled">
                    <li><a class="link-info text-decoration-none" href="https://datakode.fr/" target="_blank" rel="noreferrer nofollow">Agence Datakode</a></li>
                    <li>Laurent PLAINECASSAGNE Directeur (<a class="link-info text-decoration-none" href="mailto:plainecassagne@datakode.fr">plainecassagne@datakode.fr</a>)</li>
                    <li>Guillaume BOUCHARD Chef de projet (<a class="link-info text-decoration-none" href="mailto:bouchard@datakode.fr">bouchard@datakode.fr</a>)</li>
                    <li>Jonathan FOUCHER Développement &amp; maintenance (<a class="link-info text-decoration-none" href="mailto:foucher@datakode.fr">foucher@datakode.fr</a>)</li>
                    <li>Aurore CHAYROUSE Développement &amp; maintenance (<a class="link-info text-decoration-none" href="mailto:chayrouse@datakode.fr">chayrouse@datakode.fr</a>)</li>
                    <li>Sébastien DUPUY Développement &amp; maintenance (<a class="link-info text-decoration-none" href="mailto:dupuy@datakode.fr">dupuy@datakode.fr</a>)</li>
                </ul>
                <p></p>


                <h2 class="mt-4">Technologies utilisées</h2>
                <p>
                </p><ul>
                    <li>Framework : Laravel</li>
                    <li>CSS : AdminLTE &amp; Bootstrap</li>
                    <li>Base de données : MySQL</li>
                    <li>Serveur web : NGINX</li>
                </ul>
                <p></p>
            </div>
        </div>
    </div>
</template>

<style scoped>
h2 {
    font-size: 1.475rem;
}
h3 {
    font-size: 1.05rem;
}
</style>
