<template>
    <Bar v-if="loaded && chartData" :chart-data="chartData" :chart-options="options" style="max-width:500px!important;max-height:500px!important;margin: auto;"/>
    <div v-else class=" text-center">
        <i class="fas fa-spin fa-spinner"></i>
    </div>
</template>

<script>
import { Bar } from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
    name: 'FutureRiskGraph',
    components: {
        Bar,
    },
    props: ['evaluation'],
    data() {
        return {
            loaded: this.$store.state.graphs[this.evaluation.id] && this.$store.state.graphs[this.evaluation.id].risks && this.$store.state.graphs[this.evaluation.id].futurerisks,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            font: {
                                size: 10
                            }
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: (l) => {
                                const label = this.chartData.datasets[l.datasetIndex].label
                                if (typeof label === 'string') {
                                    return label
                                }
                                return label.join('')
                            },
                            title: (l) => {
                                const label = this.labels[l[0].dataIndex]
                                if (typeof label === 'string') {
                                    return label
                                }
                                return label.join('')
                            },
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            autoSkip: false,
                            maxRotation: 40,
                            minRotation: 40,
                            font: {
                                size: 9
                            },
                        },
                    },
                    y: {
                        min: 0,
                        max: 100,
                        beginAtZero: true,
                    }
                },
            },
        }
    },
    computed: {
        labels() {
            return this.$store.state.graphs[this.evaluation.id].risks.labels.map(l => {
                return l.match(/.{1,40}(\s|$)/g)
            })
        },
        chartData() {
            if (!this.$store.state.graphs[this.evaluation.id] || !this.$store.state.graphs[this.evaluation.id].risks) {
                return null;
            }
            const data = this.$store.state.graphs[this.evaluation.id].risks.data;
            const data2 = this.$store.state.graphs[this.evaluation.id].futurerisks.data;

            return {
                labels: this.labels,
                datasets: [
                    {
                        data,
                        backgroundColor: '#FF327B',
                        borderColor: '#FF327B',
                        label: "Avant",
                        // barThickness : 1,
                    },
                    {
                        data: data2,
                        backgroundColor: '#00c6c3',
                        borderColor: '#00c6c3',
                        borderWidth: 2,
                        label: "Après",
                        // barThickness : 1,
                    },
                ]
            }
        }
    },
    async mounted () {
        this.loaded = false
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].risks === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'risks',
                id: this.evaluation.id
            })
        }
        if (typeof this.$store.state.graphs[this.evaluation.id] === 'undefined' || typeof this.$store.state.graphs[this.evaluation.id].futurerisks === 'undefined') {
            await this.$store.dispatch('getGraphForEvaluation', {
                name: 'futurerisks',
                id: this.evaluation.id
            })
        }
        this.loaded = true
    }
}
</script>
