<template>
    <div class="col-md-6 p-2 px-3 ">
        <div class="card p-3" :class="{ 'border-danger': submitted && $v.answerId.$invalid }">

            <div class="mb-2"><strong :class="{ 'text-danger': submitted && $v.answerId.$invalid }">{{ question.name }} </strong> <i class="text-muted text-sm">(Obligatoire)</i></div>

            <div v-for="answer in question.answers" :key="answer.id" class="form-check">
                <input :id="`answer${answer.id}`" v-model="answerId" class="form-check-input" type="radio" :value="answer.id">
                <label class="form-check-label" :for="`answer${answer.id}`">
                    {{ answer.name }}
                </label>
            </div>

        </div>
    </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
    name: 'QuestionLine',
    props: ['question', 'evaluation', 'isEditable', 'submitted'],
    data () {
        return {
        }
    },
    validations: {
        answerId: { required }
    },
    computed: {
        answerId: {
            get() {
                const level = this.evaluation && this.evaluation.maturity_levels.find( ml => ml.maturity_question_id === this.question.id)
                return level ? level.maturity_answer_id : null
            },
            set(newValue) {
                const evaluation = { ...this.evaluation }

                evaluation.maturity_levels = this.evaluation.maturity_levels.map(m => m.maturity_question_id === this.question.id ? ({...m, maturity_answer_id : newValue }) : m)
                this.$store.commit('updateEvaluation', evaluation)
            }
        },
    },
    methods: {
        checkValidation () {
            this.$v.$touch()
            if (this.$v.$invalid) {
                return false
            } else {
                return true
            }
        }
    }
}
</script>
